@model RadialReview.Controllers.TeamController.AddModalViewModel

@Html.HiddenFor(x=>x.TeamId)
<div class="row">
    <div class="col-sm-2">
        <label>User:</label>
    </div>
    <div class="col-sm-10">
        @Html.DropDownListFor(x => x.SelectedUserId, Model.Users, new { id = "positionSelector",@class="form-control" })
    </div>
</div>