@model List<SelectListItem>

<h2 class="alignCenter">Which team is this for?</h2>
<br />
<div class="row">
    <div class="col-sm-5 col-sm-push-7">
        <p class="well">
            As a supervisor of this organization you can issue reviews to teams you manage or to the organization as a whole.
        </p>
    </div>
    <div class="col-sm-7 col-sm-pull-5" style="padding-top: 25px;">
        @Html.DropDownList("SelectedTeam", Model, new { @class="form-control"})
    </div>
</div>

<div id="pageIssueTeam" class=""></div>


<script>
    function startIssueTeam() {
        qtip();
        $('.btn').button();
        $("#SelectedTeam").change(function () {
            if ($(this).val() != "") {
                $("#TeamId").val($("#SelectedTeam").val());
                loadPage("#pageIssueTeam", "/Issue/IssueOrganization/");
            }
        });
    }
    /*
    function SelfCustomize() {
        var id = $("#SelectedTeam").val();
        loadPage("#page2", "/Issue/Customize/" + id);
    }
    function ManagersCustomize() {
        loadPage("#page2", "/Issue/ManagersCustomize");
    }*/
</script>
<img src="~/Content/img/blank.gif" onload="startIssueTeam()" />

@*
    <hr />
    <h2 class="alignCenter">Who will customize this review?</h2>
    <br />
    <div class="row">
        <div class="col-sm-5 col-sm-push-7">
            <p class="well">
                It's often the case that management would like to customize who reviews who.
                For large organizations, it's difficult for a single person to manage this. You may find it useful to have
                all supervisors chose who their subordinates review.
            </p>
        </div>
        <div class="col-sm-7 col-sm-pull-5" style="padding-top: 50px;">
            <div class="row alignCenter " data-toggle="buttons">
                <div class="col-sm-6">
                    <label class="btn btn-default fullWidth" onclick="SelfCustomize()">
                        <input type="radio" name="customize" value="self" class="hidden" />I will
                    </label>
                </div>
                <div class="col-md-6">
                    <label class="btn btn-default fullWidth" onclick="ManagersCustomize()">
                        <input type="radio" name="customize" value="manager" class="hidden" />Managers
                    </label>
                </div>
            </div>
        </div>
    </div>
*@