@model IEnumerable<RadialReview.Areas.People.Angular.Survey.AngularSurveyContainer>
@{
	ViewBag.Title = "Quarterly Conversation";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Subheading = "";

	Html.RenderPartial("~/Views/CDN/Angular.cshtml");
}

@section top{
	<div class="jumbotron">
		<h1>Quarterly Conversation</h1>
	</div>
}

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div id="qc-archive"></div>
	</div>
</div>

@using (Html.BeginStyles()) {
	@Styles.Render("~/styles/people")

	<style>
		.remind-btn.sent .glyphicon:before {
			opacity: .5;
			color: #5cb85c !important;
			cursor: default;
			background-color: #09400a !important;
		}

		.remind-btn .glyphicon:hover:before {
			width: 16.5px;
			display: block;
			text-align: center;
			background-color: #cf5e0f;
			color: #ffb079;
		}

		.remind-btn .glyphicon:before {
			width: 16.5px;
			display: block;
			text-align: center;
			background-color: gray;
			color: lightgray;
		}
	</style>
}
@using (Html.BeginScripts()) {
	@Scripts.Render("~/bundles/people")
	<script>
		function sendReminder(surveyContainerId){
			$(".reminder-"+surveyContainerId).attr("onclick",null).addClass("sent");
			showAlert("Sending...");
			$.ajax({
				url:"/People/QuarterlyConversation/RemindAll/"+surveyContainerId,
				success:function(d){
				}
			});
		}
		var dtOptions = {
			container: "#qc-archive",
			data: @Html.ArrayToString(Model),

			clickRemove: "/people/quarterlyconversation/remove/{0}",
			nodataText: "No quarterly conversations at this time.",
			cells:[{
				name: "Name",
				classes:"fullWidth",
				contents:function(x){ return "<a href='/People/QuarterlyConversation/Questions/"+x.Id+"'>"+x.Name+"</a>"; }
			},{
				name: "Issued By",
				classes:"nowrap alignRight",
				contents:function(x){
					return x.IssuedBy.Name;//.toDateString();
				}
			},{
				name: "Issued",
				classes:"nowrap alignRight",
				contents:function(x){
					return getFormattedDate(x.IssueDate);//.toDateString();
				}
			},{
				name: "Due",
				classes:"nowrap alignCenter",
				contents:function(x){
					return getFormattedDate(x.DueDate,null,"--");//.toDateString();
				}
			}
			]};


		var messageHub = $.connection.messageHub;


		messageHub.client.addQC = function(message,row){
			//table.addRow(row);
			StoreJsonAlert({Message:message});
			location.reload();
			//showAlert(message,"success");
		};
		messageHub.client.showAlert = function(mObj){
			showAlert(mObj);
		};


		$.connection.hub.start(Constants.StartHubSettings).done(function(){
			messageHub.server.joinUser($.connection.hub.id).done(function () {
				console.log("connected to messageHub")
			});
		});

	</script>

	if (ViewBag.CanCreate == true) {
		<script>
			dtOptions.addButton= { text: "Create New"};
			dtOptions.clickAdd= function(){window.location = "/people/quarterlyconversation/issue";};
			dtOptions.cells.push({
				name: "",
				hideIfEmpty:true,
				classes:function(x){
					//if (x.IssuedBy.Id != UserId)
					//	return "hidden";
					return"nowrap alignRight";
				},
				contents:function(x){
					if (x.IssuedBy.Id == UserId)
						return "<a href='#' class='remind-btn reminder-"+x.Id+"' onclick='sendReminder("+x.Id+")' title='Send Reminder'><span class='gray clickable glyphicon glyphicon-envelope'></span></a>";
					else
						return null;
				}
			},{
				remove: function(x){return (x.IssuedBy.Id == UserId)},
				hideIfEmpty:true,
				classes:function(x){
					//if (x.IssuedBy.Id != UserId)
					//	return "hidden";
					return"nowrap alignRight";
				},
				contents:function(x){
					if (x.IssuedBy.Id == UserId)
						return "<span class='gray clickable glyphicon glyphicon-trash' title='Delete'></span>";
					else
						return null;
				}
			},{
				name: "",
				hideIfEmpty:true,
				classes:function(x){
					//if (x.IssuedBy.Id != UserId)
					//	return "hidden";
					return"nowrap alignRight";
				},
				contents:function(x){
					if (x.IssuedBy.Id == UserId)
						return "<a target='_blank' href='/People/QuarterlyConversation/PrintAll?surveyContainerId="+x.Id+"' title='Print all'><span class='gray clickable glyphicon glyphicon-print'></span></a>";
					else
						return null;
				}
			});
		</script>
	}

	<script>
		table = DataTable(dtOptions);
	</script>
}
