@model IEnumerable<RadialReview.Areas.People.Angular.Survey.AngularSurveyContainer>
@{
	ViewBag.Title = "Quarterly Conversation";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Subheading = "";

	Html.RenderPartial("~/Views/CDN/Angular.cshtml");
}

@section top{
	<div class="jumbotron">
		<h1>Quarterly Conversation</h1>
	</div>
}

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div id="qc-archive"></div>
	</div>
</div>

@using (Html.BeginStyles()) {
	@Styles.Render("~/styles/people")
}
@using (Html.BeginScripts()) {
	@Scripts.Render("~/bundles/people")
	<script>
		DataTable({
			container: "#qc-archive",
			data: @Html.ArrayToString(Model),
			clickAdd: function(){
				window.location="/people/quarterlyconversation/issue";
			},
			clickRemove: "/people/quarterlyconversation/remove/{0}",
			addButton:{text: "Issue"},
			cells:[{
				name: "Name",
				classes:"fullWidth",
				contents:function(x){ return "<a href='/People/QuarterlyConversation/Questions/"+x.Id+"'>"+x.Name+"</a>"; }
			},{
				name: "Issued",
				classes:"nowrap alignRight",
				contents:function(x){
					return getFormattedDate(x.IssueDate);//.toDateString();
				}
			},{
				name: "Due",
				classes:"nowrap alignCenter",
				contents:function(x){
					return getFormattedDate(x.DueDate,null,"--");//.toDateString();
				}
			},{
				name: "",
				classes:"nowrap alignRight",
				contents:function(x){
					return "<a href='/People/QuarterlyConversation/PrintAll?surveyContainerId="+x.Id+"' ><span class='gray clickable glyphicon glyphicon-print'></span></a>";
				}
			},{
				remove:true,
				classes:"nowrap alignRight",
				contents:function(x){
					return "<span class='gray clickable glyphicon glyphicon-trash'></span>";
				}
			}
			//},{
			//	name: "Name",
			//	contents:function(x){ return x.Name; }
			//}]
			]
		});
	</script>
}