@model IEnumerable<RadialReview.Areas.People.Angular.Survey.AngularSurveyContainer>
@{
	ViewBag.Title = "Quarterly Conversation";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Subheading = "";

	Html.RenderPartial("~/Views/CDN/Angular.cshtml");
}

@section top{
	<div class="jumbotron">
		<h1>Quarterly Conversation</h1>
	</div>
}

<div id="qc-archive"></div>

@using (Html.BeginStyles()) {
	@Styles.Render("~/styles/people")
}
@using (Html.BeginScripts()) {
	@Scripts.Render("~/bundles/people")
	<script>
		DataTable({
			container: "#qc-archive",
			data: @Html.ArrayToString(Model),
			cells:[{
				name: "Name",
				contents:function(x){ return "<a href='/People/QuarterlyConversation/Questions/"+x.Id+"'>"+x.Name+"</a>"; }
			}
			//},{
			//	name: "Name",
			//	contents:function(x){ return x.Name; }
			//}]
			]
		});
	</script>
}