
@{
    ViewBag.Title = "Quarterly Conversation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Subheading = "";

    Html.RenderPartial("~/Views/CDN/Angular.cshtml");
}

@section top{
    <div class="jumbotron">
        <h1>Quarterly Conversation</h1>
    </div>
}

<div id="qc-archive"></div>
<div ng-app="people">
    <survey-container survey-container-id="6"></survey-container>
</div>

@using (Html.BeginStyles()) {

    @Styles.Render("~/styles/people")
    <style>
        .survey-component{
            margin-left: 10px;
        }
    </style>
}
@using (Html.BeginScripts()) {
    @Scripts.Render("~/bundles/people")
    <script>
        DataTable({
            container: "#qc-archive",
             
        })
    </script>
}