@model long
@{
	ViewBag.Title = "Quarterly Conversation";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Subheading = "";

	Html.RenderPartial("~/Views/CDN/Angular.cshtml");
}

@section top{
	<div class="jumbotron">
		<h1 class="nowrap">Quarterly Conversation</h1>
	</div>
}

<div ng-app="people" class="people quarterly-conversation ng-cloak">
	<survey-container survey-container-id="@Model"></survey-container>
</div>

@using (Html.BeginStyles()) {
	@Styles.Render("~/styles/people")

<style>
	.jumbotron {
		z-index: 4;
		position: relative;
	}

		.jumbotron h1 {
			font-size: 55px;
			margin-top: -8px;
			
		}

	@@media (max-width:768px) {
		.jumbotron h1 {
			font-size: 6vw;
			margin-top: calc(57.5px - 6vw);
		}
	}
	/*@@media (min-width:768px) {
		.jumbotron h1 {
			font-size: 4vw;
			margin-top: calc(57.5px - 6vw);
		}
	}*/
</style>
}
@using (Html.BeginScripts()) {
	@Scripts.Render("~/bundles/people")
}