@model Exception
@{
    ViewBag.Title = RadialReview.Properties.ExceptionStrings.AnErrorOccured;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron alert">
    <h2>@RadialReview.Properties.ExceptionStrings.AnErrorOccured</h2>
    <h3>@ViewBag.Message</h3>
</div>

@if (Context.IsDebuggingEnabled)
{
    <div class="review">
        @Model.StackTrace
    </div>
}