
@{
    ViewBag.Title = "An error has occured";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron alert">
    <h2>An error has occured</h2>
    <h3>@ViewBag.Message</h3>

</div>
