@using RadialReview.Properties
@using RestSharp.Extensions
@model Exception
@{
	ViewBag.Title = RadialReview.Properties.ExceptionStrings.AnErrorOccured;
	Layout = "~/Views/Shared/_Layout.cshtml";
	var subject=((string)ViewBag.Message).NotNull(x => x.ToString().UrlEncode());
	var body = Model.NotNull(x => x.StackTrace.UrlEncode());
}



<div class="centered">
	<div class="component">
		<div class="">
			<h2>@RadialReview.Properties.ExceptionStrings.AnErrorOccured</h2>
			<h3>@ViewBag.Message</h3>
		</div>

		@if (Context.IsDebuggingEnabled)
		{
			<div class="review" style="white-space: pre;font-size: 11px;overflow-x: auto;">@Model.NotNull(x => x.StackTrace)</div>
			<a target="_blank" href="mailto:@ProductStrings.SupportEmail?subject=Error:+@(subject)&body=I%27ve+received+the+following+error%3A%0D%0A@(body)">Email Support</a>
		}
		
	</div>
</div>