@media print {
  .people-analyzer .rz-bubble {
    text-align: center;
    position: absolute;
    left: 0 !important;
    width: 100%;
  }
  .people-analyzer .rz-limit {
    display: none !important;
  }
  .people-analyzer .rz-bar-wrapper,
  .people-analyzer .rz-pointer {
    display: none !important;
  }
}
.people-analyzer .print-all-btn {
  float: right;
  /*.btn();
		.btn-primary();*/
  margin-bottom: 15px;
}
@media print {
  .people-analyzer .print-all-btn {
    display: none !important;
  }
}
.people-analyzer .survey-title {
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #3E3935;
}
.people-analyzer .diagonal-table .diagonal-item-container {
  position: relative;
}
.people-analyzer .diagonal-table .diagonal-item-row {
  position: absolute;
  bottom: 0px;
  transform-origin: 0% 100%;
  white-space: nowrap;
}
.people-analyzer .diagonal-table .diagonal-bar {
  position: absolute;
  bottom: 0;
  transform-origin: 0% 100%;
}
.people-analyzer .diagonal-table .diagonal-bar-cap {
  width: 100%;
  border: 0.1px solid #adadad;
  position: absolute;
  top: -1px;
}
.people-analyzer .diagonal-table .diagonal-bar-top {
  border-top: .1px solid gray;
  left: 1px;
}
.people-analyzer .diagonal-table .diagonal-bar-bottom {
  border-bottom: .1px solid gray;
}
.people-analyzer .diagonal-table .diagonal-fill {
  background-color: white;
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.people-analyzer .people-analyzer-table {
  margin: auto;
  left: -35px;
  position: relative;
  color: #3E3935;
  margin-top: 10px;
}
.people-analyzer .people-analyzer-table td.inactive {
  background-color: #eee;
}
.people-analyzer .people-analyzer-table td.inactive .resp {
  opacity: .75;
  filter: grayscale(25%);
}
.people-analyzer .people-analyzer-table thead .person-column .diagonal-bar,
.people-analyzer .people-analyzer-table thead .person-column .diagonal-bar-cap,
.people-analyzer .people-analyzer-table thead .person-column .diagonal-fill {
  display: none;
}
.people-analyzer .people-analyzer-table thead .print-column .diagonal-bar-bottom,
.people-analyzer .people-analyzer-table thead .print-column .diagonal-bar-cap,
.people-analyzer .people-analyzer-table thead .print-column .diagonal-fill {
  display: none;
}
.people-analyzer .people-analyzer-table tbody th,
.people-analyzer .people-analyzer-table tbody td {
  border: 1px solid gray;
  min-width: 100px;
  height: 60px;
  text-align: center;
  background-color: white;
  -moz-transition: 0.2s ease-in-out background-color;
  -o-transition: 0.2s ease-in-out background-color;
  -webkit-transition: 0.2s ease-in-out background-color;
  transition: 0.2s ease-in-out background-color;
}
.people-analyzer .people-analyzer-table tbody th .resp,
.people-analyzer .people-analyzer-table tbody td .resp {
  -moz-transition: 0.2s ease-in-out opacity;
  -o-transition: 0.2s ease-in-out opacity;
  -webkit-transition: 0.2s ease-in-out opacity;
  transition: 0.2s ease-in-out opacity;
}
.people-analyzer .people-analyzer-table tbody th {
  min-width: 200px;
}
.people-analyzer .people-analyzer-table tbody .value-column {
  font-size: 28px;
}
.people-analyzer .people-analyzer-table tbody td {
  font-size: 20px;
  font-weight: bold;
}
.people-analyzer .people-analyzer-table tbody .resp.resp-yes {
  color: #5cb85c;
}
.people-analyzer .people-analyzer-table tbody .resp.resp-no {
  color: #d9534f;
}
.people-analyzer .people-analyzer-table tbody .resp.resp-often {
  color: #5cb85c;
}
.people-analyzer .people-analyzer-table tbody .resp.resp-not-often {
  color: #d9534f;
}
.people-analyzer .people-analyzer-table tbody .resp.resp-sometimes {
  color: #f0ad4e;
}
.people-analyzer .people-analyzer-table tbody .resp.resp- {
  opacity: 0;
}
.people-analyzer .people-analyzer-table tbody .print-column {
  background-color: transparent;
  border: none;
  text-align: left;
}
.people-analyzer .people-analyzer-table tbody .print-column .print-btn {
  padding: 10px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.25);
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.people-analyzer .people-analyzer-table tbody .print-column .print-btn:before {
  content: "\e045";
}
.people-analyzer .people-analyzer-table tbody .print-column .print-btn:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}
@media print {
  .people-analyzer .people-analyzer-table tbody .print-column .print-btn {
    display: none !important;
  }
}
.people-analyzer .people-analyzer-table tbody.error-message * {
  background-color: transparent;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
  border: none;
}