<!--Add Question-->
<form id="modalForm">
    <div class="modal " id="modal" @*tabindex="-1"*@ role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="modalTitle" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div id="modalMessage" class="alert alert-danger hidden"></div>
                    <div class="smallBreak"></div>
                    <div id="modalBody" class="">
                    </div>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" style="width:68px" data-dismiss="modal">Cancel</button>
                        <button id="modalOk" type="submit" style="width:60px" class="btn btn-primary">@RadialReview.Properties.DisplayNameStrings.ok</button>
                    </div>
                </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>
