<a name="footer" id="footer"></a>
<div class="container footer">
    <div class="row ">
        <div class="col-xs-8 row">
            <div class="col-xs-4" style="text-align: left">
                <ul class="noBullet ">
                    <li><h4>Members</h4></li>
                    <li><h5>@Html.ActionLink("Reviews", "Index", "Review")</h5></li>
                    <li><h5>Culture Profiles</h5></li>
                </ul>
            </div>
            <div class="col-xs-4" style="text-align: left">
                <ul class="noBullet ">
                    <li><h4>Organizations</h4></li>
                    <li><h5>@Html.ActionLink("Join Radial", "Index", "Organization")</h5></li>
                    <li><h5>@Html.ActionLink("Tree", "Tree", "Organization")</h5></li>
                    <li><h5>Culture Profiles</h5></li>
                </ul>
            </div>
            <div class="col-xs-4" style="text-align: left">
                <ul class="noBullet ">
                    <li><h4>Legal</h4></li>
                    <li><h5><a href="../privacy/">Privacy Policy</a></h5></li>
                    <li><h5><a href="../tos/">Terms of Service</a></h5></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 " style="">
                <h4>Lets hear from you!</h4>
                <h5>Phone: 1-402-437-0099</h5>
                <h5 style="margin-bottom: 20px;">Email: <a href="mailto:contact@radialworks.com">contact@radialworks.com</a></h5>
            </div>
        </div>
    </div>
</div>
