

<div class="review smallBreak2 loading tiny notes-tile" style="min-height:30px">
    <div class="notes-heading heading">
    @(ViewBag.Title??"Notes")
    </div><div class="tile">
        <iframe class="keep-background" src="@Model" style="background-color: white" width="100%"></iframe>
    </div>
</div>
