<div class="review smallBreak2 loading tiny rock-tile l10-rock-tile" style="min-height:30px">
    <div class="rock-heading heading" style="@(ViewBag.HeadingStyle)" data-style="@(ViewBag.HeadingStyle)">
        {{(model.L10Rocks | filter:{KeyId:@(Model)})[0].Title}}<a href="/l10/details/@(Model)#Rocks" class=""> (View all)</a>
    </div><div class="tile">@{ Html.RenderPartial("~/Views/Rocks/Partial/list.cshtml", new ViewDataDictionary(){
								   {"AddHeaders", false},
								   {"AddController", false},
								   {"AddCompletion", false},
								   {"AddDatePicker", false},
								   {"UsePopup", true},
								   {"RecurrenceId", Model},
								   {"RockName", Html.Organization().NotNull(x => x.Settings.NotNull(y => y.RockName.NotNull(z => z.ToLower())))},
								   {"Selector","(model.L10Rocks | filter:{KeyId:"+(Model)+"})[0].Contents"},
								   {"Filter",""}
							   }); }<div ng-show="(model.L10Rocks | filter:{KeyId:@(Model)}).length==0" class="gray alignCenter" elem-ready="functions.reload((model.L10Rocks | filter:{KeyId:@(Model)}).length==0)">Please wait</div></div>
</div>

@*<style>
	.width_1 .rock-tile .name {
		font-size: 11px;
		padding: 2px 3px;
	}

	.width_1 .rock-tile .AtRisk {
		color: #a94442;
		background-color: #f2dede;
	}

	.width_1 .rock-tile .OnTrack {
		color: #31708f;
		background-color: #d9edf7;
	}

	.width_1 .rock-tile .Complete {
		color: #3c763d;
		background-color: #dff0d8;
	}

	.rock-tile .rock-list-container {
		padding: 0px;
	}
</style>*@