@model long
<div class="review smallBreak2 loading tiny " style2="min-height:30px;">
	<div class="todo-heading heading" style="@(ViewBag.HeadingStyle)">        
        {{(model.L10Todos | transform:this | filter:{KeyId:@(Model)})[0].Title}}<a href="/l10/details/@(Model)#Todos" class=""> (View all)</a>

		<span class="clickable pull-right new hidden-width-1" onclick="@Html.ShowModal("Create To-Do", "/Todo/CreateTodoRecurrence", "/Todo/CreateTodoRecurrence")">Create New <span class='glyphicon glyphicon-unchecked'></span></span>
		<span class="clickable pull-right new visible-width-1" style="text-decoration: none;" onclick="@Html.ShowModal("Create To-Do", "/Todo/CreateTodoRecurrence", "/Todo/CreateTodoRecurrence")"><span class='glyphicon glyphicon-unchecked'></span></span>
	</div><div class="tile l10-todo-list-container">
    @{ Html.RenderPartial("~/Views/Todo/Partial/list.cshtml", new ViewDataDictionary(){
		                           {"AddHeaders", false},
		                           {"AddController", false},
		                           {"AddCompletion", false},
		                           {"AddDatePicker", false},
                                   {"Selector","(model.L10Todos | transform:this | filter:{KeyId:"+(Model)+"})[0].Contents"},

	                           }); }<div ng-show="(model.L10Todos | transform:this | filter:{KeyId:@(Model)}).length==0" class="gray alignCenter" elem-ready="functions.reload((model.L10Todos | transform:this | filter:{KeyId:@(Model)}).length==0)">Please wait</div>
</div></div>

