
<div class="review smallBreak2 loading tiny" style2="min-height:30px;">
	<div class="scorecard-heading heading">
		Measurables:<a href="/todo/list" class="gray"></a>
	</div><div class="tile hidden-width-1">@Html.Partial("~/Views/Scorecard/Partial/list.cshtml", new ViewDataDictionary(){
		                                       {"AddHeaders",false},{"AddController",true},
		                                       {"DisableName",true}
	                                       })</div><div class="tile visible-width-1">@Html.Partial("~/Views/Scorecard/Partial/tile.cshtml", new ViewDataDictionary(){
		                                       {"AddHeaders",false},
											   {"AddController",true},
		                                       {"DisableName",true}
	                                       })</div></div>