
<div class="review smallBreak2 loading tiny" style2="min-height:30px;">
	<div class="scorecard-heading heading">
		Scorecard:
	</div><div class="specialDiv tile hidden-width-1">
		@{ Html.RenderPartial("~/Views/Measurable/partial/list.cshtml", new ViewDataDictionary(){
	{"AddHeaders", false},
	{"AddController", false},
	{"ElasticInput", true},
	{"DisableName", true},
	{"Localization", Html.Organization().Settings.NumberFormat.Angular() },
	{ "ForceMin", (ViewBag.NumberOfWeeks??13)*7 }
}); }
</div><div class="tile visible-width-1">
	@{Html.RenderPartial("~/Views/Scorecard/Partial/tile.cshtml", new ViewDataDictionary(){
	{"AddHeaders",false},
	{"AddController",false},
	{"DisableName",true}
});}<div ng-show="model.Scorecard===undefined" class="gray alignCenter" elem-ready="functions.reload(model.Scorecard===undefined)">Please wait</div>
</div>
</div>

