@model long?
@{
    string filter = null;
    if (Model.HasValue) {
       
        //filter = "| filter:filters.byRange('CompleteTime',model.dataDateRange.startDate,model.dataDateRange.endDate) | filter:{Owner:{Id:" + Model + "}}";
        filter = "| filter:filters.byRange('CompleteTime', model.dataDateRange.todoStart,model.dataDateRange.todoEnd) | filter:{Owner:{Id:" + Model + "}}";
    }
}

<div class="review smallBreak2 loading tiny" style2="min-height:30px;">
	<div class="todo-heading heading">
        <span class="clickable pull-right new hidden-width-1" style="" onclick="@Html.ShowModal("Create To-Do", "/Todo/CreateTodoRecurrence", "/Todo/CreateTodoRecurrence")">Create New <span class='glyphicon glyphicon-plus' style="font-size: 12px;"></span></span>
        <span class="clickable pull-right new visible-width-1" style="text-decoration: none; font-size: 12px;" onclick="@Html.ShowModal("Create To-Do", "/Todo/CreateTodoRecurrence", "/Todo/CreateTodoRecurrence")"><span class='glyphicon glyphicon-plus'></span></span>
		Current To-Dos<a href="/todo/list" class=""> (View all)</a>
	</div><div class="tile personal-todo-list-container">@{ Html.RenderPartial("~/Views/Todo/Partial/list.cshtml", new ViewDataDictionary(){
								   {"AddHeaders", false},
								   {"AddController", false},
								   {"AddCompletion", false},
								   {"AddDatePicker", false},
								   {"DefaultSort","'DueDate'"},
								   {"Filter",filter},
								   {"UsePopup",true},
								   {"RecurrenceId", -1},
							   }); }<div ng-show="model.Todos===undefined" class="gray alignCenter" style="padding-bottom: 16px;" elem-ready="functions.reload(model.Todos===undefined)">Please wait</div></div></div>

