
<div class="review smallBreak2 loading tiny" style2="min-height:30px;">
	<div class="todo-heading heading">
		Current To-Dos<a href="/todo/list" class=""> (View all)</a>
		<span class="clickable pull-right new hidden-width-1" onclick="@Html.ShowModal("Create To-Do", "/Todo/CreateTodoRecurrence", "/Todo/CreateTodoRecurrence")">Create New <span class='glyphicon glyphicon-unchecked'></span></span>
		<span class="clickable pull-right new visible-width-1" style="text-decoration: none;" onclick="@Html.ShowModal("Create To-Do", "/Todo/CreateTodoRecurrence", "/Todo/CreateTodoRecurrence")"><span class='glyphicon glyphicon-unchecked'></span></span>
	</div><div class="tile">@{ Html.RenderPartial("~/Views/Todo/Partial/list.cshtml", new ViewDataDictionary(){
		                           {"AddHeaders", false},
		                           {"AddController", false},
		                           {"AddCompletion", false},
		                           {"AddDatePicker", false},
	                           }); }</div></div>

