
.completeincomplete.display {
	width: 80px;
	cursor: default;
}

.completeincomplete.editor {
	cursor: pointer;
}

.completeincomplete {
	height: 80px;
	width: 240px;
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 0px;
	margin: 0px;
	background-color: #CDCDCD;
	-ms-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

	.completeincomplete-contents{
		height:100%;
		width:100%;
		position:relative;
		display:inline-flex;
		overflow:hidden;
	}

.completeincomplete .fill {
	width: 76px;
	height: 76px;
	margin: 2px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #CDCDCD;
	pointer-events: none;
	z-index: 0;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
	
	
.completeincomplete.editor .fill.hover{
		background-color: rgba(0, 0, 0, 0.15);
		left:-80px;
		
	}
	
	.completeincomplete .fill.cursor {
		-webkit-transition:all .5s;
		-moz-transition:all .5s;
		-ms-transition:all .5s;
		-o-transition:all .5s;
		transition:all .5s;
		/*border: 1px dotted rgba(0, 0, 0, 0.25);*/
		border-bottom: 2px solid rgba(0, 0, 0, 0.15);
		z-index: 1;
	}

	.completeincomplete .completeincomplete-val{
		width: 80px;
		height: 80px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-family: monospace;
		font-weight: bolder;
		font-size: 13px;
		color: #FFF;
		padding: 0;
		margin: 0;
		top: 7px;
		position: relative;
	}
	
	.completeincomplete .completeincomplete-val .center{
		z-index:2;
	}
	
	.completeincomplete .completeincomplete-True:hover   ~ .fill.hover{left:0px;}
	.completeincomplete .completeincomplete-False:hover  ~ .fill.hover{left:80px;}
	
	.completeincomplete.display .fill.cursor {
		left: 0px !important;
	}
	.completeincomplete.display:hover  .fill.cursor{
		-webkit-filter: contrast(100%);
	}



	.completeincomplete.display .fill.cursor:before {
		font-size: 10px;
		-webkit-filter: brightness(100%);
		color: rgba(255,255,255,.9);
		position: relative;
		top: 14px;
	}

	.completeincomplete input[value='True'] ~ .fill.cursor{
		background-color:#449D44;
		left:160px;
	}	
	.completeincomplete input[value='False']  ~ .fill.cursor{
		background-color:#D9534F;
		left:80px;
	}
	.completeincomplete input[value='Indeterminate'] ~ .fill.cursor {
		left:80px;
		-ms-opacity:0;
		opacity:0;
	}
	
	.completeincomplete.display input[value='True'] ~ .completeincomplete-False,
	.completeincomplete.display input[value='True'] ~ .completeincomplete-Indeterminate{
		display: none;
	}
	.completeincomplete.display input[value='False'] ~ .completeincomplete-True,
	.completeincomplete.display input[value='False'] ~ .completeincomplete-Indeterminate {
		display: none;
	}

	.completeincomplete.display input[value='Indeterminate'] ~ .completeincomplete-True,
	.completeincomplete.display input[value='Indeterminate'] ~ .completeincomplete-False {
		display: none;
	}

	.completeincomplete .ico {
		/*position: absolute;
		top: 43px;
		left: calc(50% - 12px);*/
		font-size: 34px;
		z-index: 2;
	}

	.completeincomplete .txt {
		color: white;
		-ms-opacity: .8;
		opacity: .8;
	}