.fivestate {
	height: 80px;
	width: 80px;
	position: relative;
	display: inline-block;
	/*align-items: center;
	justify-content: center;*/
	font-weight: bold;
	color: white;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 0px;
	margin: -1px;
	margin: 3px;
	float: right;
}

.editor.fivestate {
	cursor: pointer;
}

.display.fivestate {
	cursor: default;
}

.fivestate-container {
	height: 100%;
	width: 100%;
	position: relative;
}

.fivestate .fill {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #CDCDCD;
	z-index: 2;
	-webkit-transition: background-color .3s;
	-moz-transition: background-color .3s;
	-ms-transition: background-color .3s;
	-o-transition: background-color .3s;
	transition: background-color .3s;
}

.editor .fill:hover {
	/*-webkit-filter: brightness(95%);*/
	opacity: .85;
}

.fivestate .fivestate-val {
	display: none;
	position: relative;
	z-index: 3;
	pointer-events: none;
	text-align: center;
	line-height: 80px;
}

.fivestate input[value='True'] ~ .fill, .fivestate input[value='Always'] ~ .fill {
	background-color: #449D44;
}

.fivestate input[value='False'] ~ .fill, .fivestate input[value='Never'] ~ .fill {
	background-color: #D9534F;
}


.fivestate input[value='Mostly'] ~ .fill {
	background-color: #71BE71;
}

.fivestate input[value='Rarely'] ~ .fill {
	background-color: #FC827F;
}


.fivestate input[value='True'] ~ .fivestate-always,
.fivestate input[value='Always'] ~ .fivestate-always {
	display: inherit;
}

.fivestate input[value='False'] ~ .fivestate-never,
.fivestate input[value='Never'] ~ .fivestate-never {
	display: inherit;
}

.fivestate input[value='Mostly'] ~ .fivestate-mostly {
	display: inherit;
}

.fivestate input[value='Rarely'] ~ .fivestate-rarely {
	display: inherit;
}

.fivestate input[value='Indeterminate'] ~ .fivestate-indeterminate {
	display: inherit;
}

.fivestate .fivestate-slider {
	/*display: none;*/
	opacity: 0;
	transition: opacity ease .4s;
}

.fivestate:hover .fivestate-slider {
	/*display: inherit;*/
	opacity: .8;
}

.fivestate > .fivestate-contents > .fivestate-slider {
	position: absolute;
	margin: 5px;
	left: 0;
	right: 0;
	height: 10px;
	top: 55px;
	z-index: 3;
}

.fivestate-slider .slider-selection {
	background: #FF8282;
	height: 10px;
	width: 10px;
}

.fivestate-slider .slider-track {
	height: 10px;
	background: gray;
}

.fivestate-slider .slider-handle {
	background: red;
	height: 10px;
	width: 10px;
	margin-left: -10px;
	margin-top: -5px;
}


.fivestate-slider .slider > .dragger {
	width: 12px;
	height: 12px;
	margin-top: -6px;
	margin-left: -7px !important;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background: #BBB;
	box-shadow: none;
	cursor: move; /* fallback if grab cursor is unsupported */
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

	.fivestate-slider .slider > .dragger:hover,
	.fivestate-slider .slider > .dragger.dragging {
		background: #BBB;
		box-shadow: none;
	}

	.fivestate-slider .slider > .dragger.dragging {
		cursor: grabbing;
		cursor: -moz-grabbing;
		cursor: -webkit-grabbing;
	}

.fivestate-slider .slider > .track,
.fivestate-slider .slider > .highlight-track {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	box-shadow: none;
	margin-left: -6px;
	margin-right: -12px;
}

.fivestate-slider .slider > .track {
	width: calc(100% + 10px) !important;
}

.fivestate-slider .slider > .highlight-track {
	background: #BBB;
	box-shadow: none;
}
