	.posneg{
		height:80px;
		width:240px;
		position:relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		cursor:pointer;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-o-user-select: none;
		-ms-user-select: none;
		user-select: none;
		padding:0px;
		margin:0px;
		background-color:#CDCDCD;
		-ms-border-radius: 80px;
		border-radius: 80px;
	}

	.posneg-contents{
		height:100%;
		width:100%;
		position:relative;
		display:inline-flex;
		overflow:hidden;
	}
	
	.posneg .fill {
		width:76px;
		height:76px;
		margin: 2px;
		position:absolute;
		top:0;bottom:0;left:0;right:0;
		background-color:#CDCDCD;
		pointer-events:none;
		z-index: 0;
		-ms-border-radius: 80px;
		border-radius: 80px;
	}
	
	
	.posneg .fill.hover{
		background-color: rgba(0, 0, 0, 0.15);
		left:-80px;
		
	}
	
	.posneg .fill.cursor {
		-webkit-transition:all .3s;
		-moz-transition:all .3s;
		-ms-transition:all .3s;
		-o-transition:all .3s;
		transition:all .3s;
		/*border: 1px dotted rgba(0, 0, 0, 0.25);*/
		border-bottom: 2px solid rgba(0, 0, 0, 0.15);
		z-index: 1;
	}

	.posneg .posneg-val{
		width: 80px;
		height: 80px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-family: monospace;
		font-weight: bolder;
		font-size: 20px;
		color: #FFF;
		padding: 0;
		margin: 0;
	}
	
	.posneg .posneg-val .center{
		z-index:2;
	}
	
	.posneg  .posneg-negative:hover  ~ .fill.hover{left:0px;}
	.posneg  .posneg-neutral:hover   ~ .fill.hover{left:80px;}
	.posneg  .posneg-positive:hover  ~ .fill.hover{left:160px;}
	
	.posneg input[value='Positive'] ~ .fill.cursor{
		background-color:#449D44;
		left:160px;
	}	
	.posneg input[value='Neutral']  ~ .fill.cursor{
		background-color:#EC971F;
		left:80px;
	}
	.posneg input[value='Negative'] ~ .fill.cursor{
		background-color:#D9534F;
		left:0px;
	}	
	.posneg input[value='Indeterminate'] ~ .fill.cursor{
		left:80px;
		opacity:0;
	}