@charset "utf-8";
@font-face {
	font-family: Helvetica Neue;

}

html, body {
  background-color: #f1f1f1;
}


.div {
    background-color: white;
    margin: 0 auto; 
    
}
.p {
    font-family: "Tahoma", "Geneva", sans-serif;
}

.logo {
    margin-bottom: 20px;
}

.center {
  border-radius: 15px;
  margin: auto;
  position: relative;
  text-align: center;
  top: 30%;
  width: 400px;
  font-size: 20px;
  padding: 5px;
}