
.navbar {
	background-color: #ccc ! important;
	border-radius: 0px ! important;
	border: 0px ! important;
}

.navbar .navbar-brand {
	padding-top: 2px ! important;
}

.navbar .navbar-nav {
   list-style: none ! important;
   padding-right: 10px ! important;
   color: #09717f ! important;

}
#user .navbar-nav li{
     position: relative ! important;
     margin-top: 12px ! important;
}
