@charset "utf-8";
@font-face {
	font-family: 'Helvetica Neue';

}

#cssmenu {
  background: #333;
  width: auto;
  z-index: 1;
  position: relative;
  text-align: center;
}

#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}

#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#cssmenu.align-right ul li {
  float: right;
}

#cssmenu.align-center ul {
  text-align: center;
}

#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-weight: 500;
  font-size: 15px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color 25s;
  -o-transition: color .25s;
  transition: color .25s;
}

#cssmenu ul li a:hover {
  color: #F27126;
}

#cssmenu ul li a:hover:before {
  width: 100%;
}

#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #F27126;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width 25s;
  -o-transition: width .25s;
  transition: width .25s;
}

#cssmenu ul li.last>a:after,
#cssmenu ul li:last-child>a:after {
  display: none;
}

#cssmenu ul li.active a {
  color: #F27126;
}

#cssmenu ul li.active a:before {
  width: 100%;
}


/* New CSS for Sub Menu */
#cssmenu ul li {
  position: relative;
}

#cssmenu ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  background: #333;
  display: none;
}

#cssmenu ul li:hover ul {
  display: block;
}

#cssmenu ul ul li a {
  white-space: nowrap;
}
#cssmenu ul li.login {
	float: right;
}