@model RadialReview.Controllers.AccountabilityController.AccountabilityChartVM
@{
	ViewBag.Title = "Accountability Chart";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.FullWidth = true;
	ViewBag.FullHeight = true;

	Html.RenderPartial("~/Views/CDN/Angular.cshtml");
}
@*
	<div class="acc-chart">
		<div id="viewer"></div>
	</div>
	<svg height="80%" width="80%">

		<g>
			<g>
				<circle cx="10" cy="5" r="2" class="ng-scope">
				</circle>
			</g>
		</g>
	</svg>*@
<div style="position:absolute;">
	<span class="icon fontastic-icon-page-export-pdf clickable gray" style="font-size: 16px;top: 1px;position: relative;left: 2px;margin:2px;" onclick="genPdf()" title="Export PDF"></span>
	<span class="icon fontastic-icon-arrows-out clickable gray" style="margin:2px;" onclick="expandAll()" title="Expand All"></span>
	<span class="icon fontastic-icon-arrows-in clickable gray" style="margin:2px;" onclick="collapseAll()" title="Collapse All"></span>
</div>
<div ng-app="ACApp" class="full-height acc-chart ng-cloak">
	<div ng-controller="ACController" class="full-height">
		<md-autocomplete style="position:fixed;top: 30px;right: 0px;width:320px"
						 md-selected-item="search.selected"
						 md-search-text-change="search.searchTextChange(search.searchText)"
						 md-search-text="search.searchText"
						 md-selected-item-change="functions.selectedItemChange(item)"
						 md-items="item in search.findNode(search.searchText)"
						 md-item-text="item.name||item.User.Name"
						 md-min-length="1"
						 placeholder="Search">
			<md-item-template>
				<span md-highlight-text="search.searchText" md-highlight-flags="^i">{{item.Name||item.User.Name}}</span>
			</md-item-template>
			<md-not-found>
				No states matching "{{search.searchText}}" were found.
			</md-not-found>
		</md-autocomplete>

		<svg panzoom id="svg" graph="model">
			<tree graph="model"
				  tt-enter="nodeEnter"
				  tt-update="nodeUpdate"
				  tt-exit="nodeExit"
				  tt-post-exit="nodePostExit"
				  tt-watch="nodeWatch"
				  tt-drag-start="dragStart"
				  tt-drag-end="dragEnd"
				  tt-collapse="collapseExpand"
				  tt-expand="collapseExpand"></tree>
		</svg>
	</div>
</div>


@using (Html.BeginStyles()) {
	@Styles.Render("~/Content/AccChart")
}

@using (Html.BeginScripts()) {
	@*<script type="text/javascript" src="https://canvg.github.io/canvg/rgbcolor.js"></script>
		<script type="text/javascript" src="https://canvg.github.io/canvg/StackBlur.js"></script>
		<script type="text/javascript" src="https://canvg.github.io/canvg/canvg.js"></script>*@
	@Scripts.Render("~/bundles/AccountabilityChart")
	<script type="text/javascript">
		if (msieversion()){
			var v = msieversion();
			if (v>=11){
				showAlert("Accountability Chart is unsupported on Edge. Please use Chrome or Firefox.");
			}else{
				showAlert("Accountability Chart is unsupported on Internet Explorer. Please use Chrome or Firefox.");
			}
		}

		angular.module('ACApp')
            .value('orgId',@Model.OrganizationId)
            .value('chartId',@Model.ChartId)
            .value('dataUrl', "/Accountability/Data/{0}?@Model.FocusNode.NotNull(x=>"node="+x)")

	


	</script>
}