@model RadialReview.Controllers.AccountabilityController.AccountabilityChartVM
@{
    ViewBag.Title = "Accountability Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.FullWidth = true;

    Html.RenderPartial("~/Views/CDN/Angular.cshtml");
}

<div class="acc-chart">
    <div id="viewer"></div>
</div>
@*<svg height="80%" width="80%">
    
    <g>
        <g>
            <circle cx="10" cy="5" r="2" class="ng-scope">
            </circle>
        </g>
    </g>
</svg>*@
<div ng-app="ACApp">
    <div ng-controller="ACController">
        @*<svg panzoom graph="model">
            <tree></tree>
         </svg>*@
        <chart-form></chart-form>
        <bar-chart height="options.height" data="data" hovered="hovered(args)"></bar-chart>
<!--<bar-chart height="300" data="data" hovered="hovered(args)></bar-chart>-->
        @*<panzoom>
            @*<tree></tree
            
        </panzoom>*@
    </div>
</div>


@using (Html.BeginStyles()) {
    @Styles.Render("~/Content/AccountabilityChart")

    <style>
        svg{
            background-color:lightgoldenrodyellow;
        }
        .dot circle {
            fill: lightsteelblue;
            stroke: steelblue;
            stroke-width: 1.5px;
        }

            .dot circle.dragging {
                fill: red;
                stroke: brown;
            }

        .axis line {
            fill: none;
            stroke: #ddd;
            shape-rendering: crispEdges;
            vector-effect: non-scaling-stroke;
        }
    </style>
}

@using (Html.BeginScripts()) {
    @Scripts.Render("~/bundles/AccountabilityChart")
    <script type="text/javascript">

        angular.module('ACApp')
            .value('orgId',@Model.OrganizationId)
            .value('dataUrl', "/Accountability/Data/{0}")


        @*$(function () {
        startAccChart("#viewer",@Model.OrganizationId);
    });*@
    </script>
}