@model RadialReview.Models.Onboard.OnboardingUser
@{
    ViewBag.Title = "TheBasics";
    Html.RenderPartial("~/Views/CDN/Angular.cshtml");
}

<h2>The Basics</h2>
@{}

<div class="row">
    <div class="col-md-6 col-md-offset-3 container">
        @Model.Guid

        <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>
            <md-whiteframe class="md-whiteframe-1dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                <span>.md-whiteframe-1dp</span>
            </md-whiteframe>
        </div>
    </div>
</div>