commands:
  a-https:
    command: set > c:\\set2.txt
    waitAfterCompletion: 0
  b-https:
    command: c:\\windows\\system32\\inetsrv\\appcmd.exe list config "Default Web Site" -section:system.webServer/rewrite/rules | findstr /C:"http_redirect">nul && (c:\\windows\\system32\\inetsrv\\appcmd.exe set config "Default Web Site" -section:system.webServer/rewrite/rules /-"[name='http_redirect']" || Echo.True ) || Echo.True
    waitAfterCompletion: 0
  c-https:
    command: c:\\windows\\system32\\inetsrv\\appcmd.exe set config "Default Web Site" -section:system.webServer/rewrite/rules /+"[name='http_redirect',stopProcessing='True']"
    waitAfterCompletion: 0
  d-https:
    command: c:\\windows\\system32\\inetsrv\\appcmd.exe set config "Default Web Site" -section:system.webServer/rewrite/rules /[name='http_redirect',stopProcessing='True'].match.url:"(.*)"
    waitAfterCompletion: 0
  e-https:
    command: c:\\windows\\system32\\inetsrv\\appcmd.exe set config "Default Web Site" -section:system.webServer/rewrite/rules /+"[name='http_redirect',stopProcessing='True'].conditions.[input='{HTTP_X_FORWARDED_PROTO}',pattern='^http$']" 
    waitAfterCompletion: 0
  f-https:
    command: c:\\windows\\system32\\inetsrv\\appcmd.exe set config "Default Web Site" -section:system.webServer/rewrite/rules /[name='http_redirect',stopProcessing='True'].action.type:"Redirect" /[name='http_redirect',stopProcessing='True'].action.url:"https://{HTTP_HOST}/{R:1}" /[name='http_redirect',stopProcessing='True'].action.redirectType:"Found"
    waitAfterCompletion: 0
  g-https:
    command: echo %DATE:/=-% %TIME::=-%>>c:\\https.txt
    waitAfterCompletion: 0
