sources:
  "c:/install": https://s3.amazonaws.com/Radial/Installer/install.zip
commands:
  a-https:
    command: set > c:\\set2.txt
    waitAfterCompletion: 0
  b-https:
    command: c:\\windows\\system32\\inetsrv\\appcmd.exe list config "Default Web Site" -section:system.webServer/rewrite/rules | findstr /C:"http_redirect">nul && (c:\\windows\\system32\\inetsrv\\appcmd.exe set config "Default Web Site" -section:system.webServer/rewrite/rules /-"[name='http_redirect']" || Echo.True ) || Echo.True
    waitAfterCompletion: 0
  c-https:
    command: c:\\windows\\system32\\inetsrv\\appcmd.exe set config "Default Web Site" -section:system.webServer/rewrite/rules /+"[name='http_redirect',stopProcessing='True']"
    waitAfterCompletion: 0
  d-https:
    command: c:\\windows\\system32\\inetsrv\\appcmd.exe set config "Default Web Site" -section:system.webServer/rewrite/rules /[name='http_redirect',stopProcessing='True'].match.url:"(.*)"
    waitAfterCompletion: 0
  e-https:
    command: c:\\windows\\system32\\inetsrv\\appcmd.exe set config "Default Web Site" -section:system.webServer/rewrite/rules /+"[name='http_redirect',stopProcessing='True'].conditions.[input='{HTTP_X_FORWARDED_PROTO}',pattern='^http$']" 
    waitAfterCompletion: 0
  f-https:
    command: c:\\windows\\system32\\inetsrv\\appcmd.exe set config "Default Web Site" -section:system.webServer/rewrite/rules /[name='http_redirect',stopProcessing='True'].action.type:"Redirect" /[name='http_redirect',stopProcessing='True'].action.url:"https://{HTTP_HOST}/{R:1}" /[name='http_redirect',stopProcessing='True'].action.redirectType:"Found"
    waitAfterCompletion: 0
  g-https:
    command: echo %DATE:/=-% %TIME::=-%>>c:\\https.txt
    waitAfterCompletion: 0
  h-https:
    command: echo A | c:\\install\\Installers\\installFonts.bat>>c:\\install\\fonts.log 2>>&1
    waitAfterCompletion: 0
  i-https:
    command: echo %DATE:/=-% %TIME::=-%>>c:\\install\\fonts.log 2>>&1
    waitAfterCompletion: 0
  j-https:
    command: c:\\Windows\\System32\\WindowsPowerShell\\v1.0\\powershell.exe "& ""c:\\install\\Installers\\installSendEmail.ps1""">>c:\\install\\installSendEmail.log 2>>&1
    waitAfterCompletion: 0
  k-https:
    command: echo %DATE:/=-% %TIME::=-%>>c:\\install\\installSendEmail.log 2>>&1
    waitAfterCompletion: 0
