sources:
  "c:/": https://s3.amazonaws.com/Radial/Installer/install.zip
commands:
  a-https:
    command: set > c:\\set2.txt
    waitAfterCompletion: 0
  b-https:
    command: echo A | c:\\install\\Scripts\\UrlRewrite.bat>>c:\\install\\urlRewrite.log 2>>&1
  g-https:
    command: echo %DATE:/=-% %TIME::=-%>>c:\\https.txt
    waitAfterCompletion: 0
  h-https:
    command: echo A | c:\\install\\Installers\\installFonts.bat>>c:\\install\\fonts.log 2>>&1
    waitAfterCompletion: 0
  i-https:
    command: echo %DATE:/=-% %TIME::=-%>>c:\\install\\fonts.log 2>>&1
    waitAfterCompletion: 0
  j-https:
    command: c:\\Windows\\System32\\WindowsPowerShell\\v1.0\\powershell.exe "& ""c:\\install\\Installers\\installSendEmail.ps1""">>c:\\install\\installSendEmail.log 2>>&1
    waitAfterCompletion: 0
  k-https:
    command: echo %DATE:/=-% %TIME::=-%>>c:\\install\\installSendEmail.log 2>>&1
    waitAfterCompletion: 0
  l-https:
    command: echo A | c:\\install\\Installers\\installEC2Service.bat>>c:\\install\\ec2service.log 2>>&1
    waitAfterCompletion: 0
  m-https:
    command: echo %DATE:/=-% %TIME::=-%>>c:\\install\\ec2service.log 2>>&1
    waitAfterCompletion: 0
  n-https:
    command: echo A | c:\\install\\main.bat>>c:\\install\\main.log 2>>&1
    waitAfterCompletion: 0
