@model RadialReview.Controllers.UploadController.UploadScorecardVM
@{
    ViewBag.Title = "UploadScorecard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.FullWidth = true;

}

@using (Html.BeginScripts()) {
    <script>
        var recurrenceId = @Model.RecurrenceId;
    </script>
    <script src="~/Scripts/Upload/UploadSteps.js"></script>
    <script src="~/Scripts/Upload/UploadScorecard.js"></script>
}

<h2>Upload Scorecard</h2>

<div id="notifications"></div>

<hr />

<div id="window">
    @*@using (Ajax.BeginForm("uploadscorecard", "upload", new { }, new AjaxOptions() {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "window",

    }, new { enctype = "multipart/form-data" })) {

        <form action="/Upload/UploadScorecard" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-2">
                    <label for="file">Filename:</label>
                </div>
                <div class="col-sm-8">
                    <input type="file" name="File" id="File" />
                </div>
                <div class="col-sm-2">
                    <input class="btn btn-primary" type="submit" />
                </div>
            </div>
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.RecurrenceId)
            @Html.HiddenFor(x => x.Guid)
        </form>
    }*@
</div>

@using (Html.BeginStyles()) {

    <link href="~/Content/Upload.css" rel="stylesheet" />
}