@model List<RadialReview.Models.OrganizationModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
    <div class="span12 rect">
        @foreach (var org in Model)
        {
            <a href="@(Url.Action("Manage", new { organizationId= org.Id }))">@org.Name.Translate()</a><br/>
        }
    </div>
</div>