@model RadialReview.Controllers.OrganizationController.UploadVM
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload Organization (.csv)</h2>


<form action="/Organization/Upload" method="post" enctype="multipart/form-data">
	
	<div class="row">
		<div class="col-md-3">
			<label for="file">Filename:</label>
		</div>
		<div class="col-md-9">
			<input type="file" name="File" id="file" />
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-3">
			<input class="btn btn-primary" type="submit" />
		</div>
	</div>
</form>