@{
    ViewBag.Title = "Contact";
}
<div class="testimonial">
    <div class="container">
        <div class="marketing">
            <h1>Support Center</h1>
            <p class="marketing-byline">Find answers, get help, or just talk to us. We make it easy to get hold of us.</p>
            <div class="row-fluid">
                <div class="span4">
                    <h2><i class="fa fa-phone fa-3x" style="color: #0088cc"></i><br>Contact us.</h2>
                    <p class="marketing-byline">A few ways to get in touch.</p>
                    <div style="text-align: left">
                        <p>Toll-free: <span style="font-size: 25px; color: #0088cc">1-800-123-4567</span></p>
                        <p>Phone: 402-123-4567</p>
                        <p>Fax: 402-234-5678</p>
                        <p>Address: <br>1201 Infinity Court,<br>Lincoln, NE 68512</p>
                        <p style="margin-bottom: 30px;">Email: <a href="mailto:contact@radialworks.com">contact@radialworks.com</a></p>
                    </div>
                </div>
                <div class="span4">
                    <h2><i class="fa fa-comments-o fa-3x" style="color: #0088cc"></i><br>Straight to our inbox.</h2>
                    <p class="marketing-byline">We always reply in person.</p>
                    <form action="/thankyou/" method="POST" style="display: inline-block;">
                        <input type="hidden" name="csrfmiddlewaretoken" value="rKMvht5b4XMxUgvrmGSKzwracG5ZznsP">
                        <input id="id_full_name" maxlength="250" name="full_name" type="text" required="True" placeholder="Name*" keyev="true" style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==); padding-right: 0px; background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat no-repeat;">
                        <input id="id_email" maxlength="250" name="email" class="required email" type="email" placeholder="Email*">
                        <input id="id_organization" maxlength="250" name="organization" type="text" placeholder="Organization">
                        <input id="id_address" maxlength="250" name="address" type="text" placeholder="Address">
                        <input id="id_city" maxlength="250" name="city" type="text" placeholder="City">
                        <input id="id_state" maxlength="2" name="state" type="text" placeholder="State">
                        <input id="id_zip_code" maxlength="5" name="zip_code" type="text" placeholder="Zip Code">
                        <input id="id_phone" maxlength="30" name="phone" type="text" placeholder="Phone Number">
                        <textarea cols="40" id="id_comments" name="comments" rows="5" required="True" placeholder="What can we help you with?*"></textarea>
                        <input type="submit" value="Send" class="btn btn-primary btn-large" style="float: right">
                    </form>
                </div>
                <div class="span4" data-twttr-id="twttr-sandbox-0">
                    <h2><i class="fa fa-twitter fa-3x" style="color: #0088cc"></i><br>Or send a Tweet.</h2>
                    <p class="marketing-byline">Something to share? Let us hear.</p>
                    <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-timeline twitter-timeline-rendered" style="border: none; max-width: 100%; min-width: 180px;" title="Twitter Timeline" width="300" height="484"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>