<div class="calendar-container pull-right clearfix" style="width: 240px;">
    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
    <input date-range-picker id="daterange3" class="form-control date-picker" type="text" name="date" ng-model="model.dataDateRange" options="opts" required placeholder="Select a date range..." />
    <b class="caret"></b>
</div>
<div class="height-placeholder" style="height:40px"></div>
