@model RadialReview.Models.ResetPasswordWithTokenViewModel
@{
    ViewBag.Title = "ResetPasswordWithToken";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="review col-xs-12">
        <h2>Reset Password</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <label>New password:</label>
            @Html.PasswordFor(x => x.Password);
            @Html.HiddenFor(x => x.Token);
            <div class="smallBreak2"></div>
            <input type="submit" class="btn btn-primary"  />
        }
    </div>
</div>