@model RadialReview.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.FullLogo = true;
	
}


@using (Html.BeginStyles()){
	<style>
		body {
			background-color: #ef7622;
		}
	</style>
}
<div class="row">
    <div class="review col-xs-12">
        <h2>Reset Password</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationMessageFor(x => x.Email)
            <label>Email:</label>
            @Html.TextBoxFor(x => x.Email, new { @class="form-control"});
            <div class="smallBreak2"></div>
            <input type="submit" class="btn btn-primary"  />
        }
    </div>
</div>