body {
}

.tiny {
	/* color: red !important; */
	padding: 0px;
}



	.tiny *::-webkit-scrollbar {
		width: 14px;
		height: 14px;
	}

	/* Track */
	.tiny *::-webkit-scrollbar-track {
		background-color: rgba(0,0,0,.05);
		border: 6px solid transparent;
		background-clip: padding-box;
		-webkit-border-radius: 2px;
		border-radius: 2px;
	}

	/* Handle */
	.tiny *::-webkit-scrollbar-thumb {
		-webkit-border-radius: 9px;
		border-radius: 9px;
		background: #f3f3f3;
		border: 3px solid transparent;
		background-clip: padding-box;
		margin: 2px;
		-webkit-transition: background .2s ease-in-out;
	}

	.tiny *:hover::-webkit-scrollbar-thumb {
		background: #d6d6d6;
		-webkit-border-radius: 9px;
		border-radius: 9px;
		border: 3px solid transparent;
		background-clip: padding-box;
		margin: 2px;
	}
	
.todo-list-container {
	text-align: left;
}

	.todo-list-container .name {
		display: none;
	}

	.todo-list-container .height-placeholder {
		display: none;
	}

	.todo-list-container .picture-column {
		display: none;
	}

.dashboard .container.body-content {
	max-width: 100% !important;
	width: 100%;
}
.dashboard .container.body-navbar {
	width: 100% !important;
}

.dashboard .container.body-navbar .collapse{
	max-width: 95% !important;
	width: calc(100% - 70px) !important;
	margin-left: -15px;
}

.dashboard .review-container {
	max-width: 500px;
	margin: 0px;
	display: inline-block;
}

.dashboard .meeting-review .component {
	border: none;
}



.dashboard .scorecard .row {
	margin-bottom: 0px;
}

.dashboard .scorecard .component {
	margin: 0px;
}

.dashboard .scorecard .table-responsive {
	margin-bottom: 0px;
	min-height: 0px !important;
}

.dashboard .scorecard-table {
	display: block !important;
}

.dashboard .todo-pane {
	max-height: 360px;
	max-height: calc(50vh - 250px);
	min-height: 60px;
	overflow-x: hidden;
}

@media (max-width: 992px) {
	.todo-pane {
		max-height: 100% !important;
	}
}

.dashboard .thumbnail {
	border-radius: 0px;
	max-width: 250px;
	max-height: 200px;
}

.dashboard .rock-list-container .picture-column {
	display: none;
}

.dashboard .rock-list-container {
	text-align: left;
}

.dashboard .todo-checkbox-container {
	vertical-align: top;
}

.dashboard .no-todos {
	padding: 15px !important;
	/* border-top: 1px solid #D1D1D1; */
}

.dashboard .click-column {
	padding: 0px 6px;
	color: #B7530D;
	cursor: pointer;
}

.dashboard .review {
	background-color: white;
}

.dashboard .scorecard {
	/*max-height: calc(50vh - 80px);*/
	min-height: 60px;
}

.dashboard .members-pane {
	max-height: calc(50vh - 80px);
	min-height: 60px;
}

.dashboard .rock-list-container {
	padding: 5px 0;
}

.dashboard .members-pane tr:hover {
	background-color: #ECECEC;
}

.dashboard .picture-container .picture span {
	/* min-height: 27px; */
	/* display: block; */
}

.dashboard tr {
	border-top: 1px solid #fefefe;
	border-top: 1px solid rgba(0, 0, 0, 0.02);
}

.dashboard .tiny > .heading {
	font-weight: bold;
	background-color: #F7F7F7;
	text-align: left;
	padding: 0 5px;
	color: #666;
	font-size: 13px;
	border-bottom: 1px solid #D1D1D1;
	padding: 2px 6px;
}

	.dashboard .tiny > .heading a {
		font-size: 10px;
	}

	.dashboard .tiny > .heading .new {
		color: #767f99;
		color: rgba(118, 127, 153, .7);
		font-weight: normal;
	}

		.dashboard .tiny > .heading .new:hover {
			color: rgba(118, 127, 153, 1);
		}

.dashboard .todo-list-container .empty-cell {
	display: none;
}

.dashboard .todo-list-container .table-header,
.dashboard .rock-list-container .table-header {
	display: none;
}

.dashboard .welcome {
	padding: 20px 36px;
}

	.dashboard .welcome h2 {
		margin-top: 0;
	}

.dashboard .button-container {
	padding: 0px;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
	height: 48px;
}

	.dashboard .button-container .button {
		height: 32px;
		width: 32px;
		display: inline-table;
		padding: 5px;
		vertical-align: top;
		display: inline-block;
		*display: inline;
		zoom: 1;
		border: 1px solid #D1D1D1;
		background-color: #FCFCFC;
		text-align: center;
		color: #AAA8B6;
		cursor: pointer;
		position: relative;
		transition: color .15s,background-color .15s;
		font-size: 18px;
	}

		.dashboard .button-container .button.glyphicon {
			font-size: 16px;
			top: 0px;
		}

		.dashboard .button-container .button.icon:before {
			top: 0px;
		}

		.dashboard .button-container .button.glyphicon:before {
			top: 1px;
			position: relative;
		}

		.dashboard .button-container .button:hover {
			background-color: #AAA8B6;
			color: white;
		}

		.dashboard .button-container .button.empty {
			border: none;
			background-color: transparent;
		}

	.dashboard .button-container span {
		width: 100%;
		display: inline-block;
		font-size: 0;
		line-height: 0;
		margin-top: -9px;
	}

.dashboard .thumbnaill h3 {
	margin-bottom: 10px;
}

.dashboard .fontastic-icon-checklist:before {
	left: 1px;
	top: 1px;
}

.dashboard .rock-list-container .rock-completion-container {
	padding: 2px;
}

.dashboard .rock-list-container .rock-completion {
	position: relative;
	/* padding: 0 0 0 30px; */
	border-radius: 2px;
	/* height: 29px; */
	/* top: -2px; */
	margin: 0px;
	cursor: pointer;
	transition: background .2s;
}

.dashboard .rock-list-container .picture-column {
	display: none;
}

.dashboard .rock-list-container .name {
	font-size: 16px;
	font-weight: bold;
	padding-left: 5px;
}

.alert {
	margin-top: -21px;
	margin-bottom: 7px;
}

.rock-completion {
	font-weight: bold;
	color: white;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-bottom: 2px solid rgba(0, 0, 0, 0.15);
	outline: none;
}

.rock-completion:active {
	border-top: 1px solid rgba(0, 0, 0, 0.15);
	border-bottom: none;
}

.rock-completion:focus {
	border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    outline-color: transparent;
    outline-style: none;
	box-shadow: none;

}

.rock-completion-container {
	position: relative;
}

	.rock-completion-container:after {
		font-family: 'Glyphicons Halflings';
		font-style: normal;
		font-weight: 400;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		content: "\e114";
		color: #FFF;
		position: absolute;
		right: 6.5px;
		top: 10.5px;
		z-index: 27;
	
		pointer-events: none;
	}
	
.rock-completion.AtRisk
/*.rock-completion [label='At Risk']*/ {
	background-color: #d8524f;
	font-weight: bold;
	color: white;
}

.rock-completion.OnTrack
/*.rock-completion [label='On Track']*/ {
	background-color: #1F68EC;
	font-weight: bold;
	color: white;
}

.rock-completion.Complete
/*.rock-completion [label='Complete']*/ {
	background-color: #449D44;
	font-weight: bold;
	color: white;
}

.rock-completion option {
	color: black;
	background-color: white;
}
