body {
    height: 0px;
    line-height: normal;
}

.noPrint {
    display: none;
}

.body-content {
    padding: 0px;
}

#main {
    padding: 0px;
    margin: 0px;
}

#footer{
    display:none;
}

.pageBreak{
    page-break-after:always;
}

.together {
	-moz-page-break-inside: avoid;
	page-break-inside: avoid
}

.table-responsive{
    overflow-x: hidden;
}

.panel{
    border-radius: 3px;
    border-color: black;
}

.panel-heading{
    padding: 5px ;
}

.panel-body{
    padding: 5px;
}

.landscape {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    page-break-inside:avoid;
}

.review {
    border: 0px;
    padding: 0px;
}

.shiftContainer {
    padding-top: 0px;
}

.noMargin {
    margin: 0px;
}

.bordered {
    border: 1px solid black;
}

.smallBreak {
    height: 4px;
}

.inlined {
    display: inline-block;
}


.Manager {
    fill: #6da1e1 !important;
    stroke: black !important;
}

.Self {
    stroke: black !important;
    stroke-width:3px;
    fill: #ffcb00 !important;
}

.Subordinate {
    stroke: black !important;
    stroke-width:2px;
    fill: #be0505 !important;
}

.Peer {
    stroke: black !important;
    fill: url(#diagonalHatch_gray) !important;
}

.Teammate {
    fill: url(#diagonalRightHatch_gray) !important;
    stroke: black !important;
}

.NoRelationship {
    fill: url(#crossHatch) !important;
    stroke: black !important;
}


.Employee {
    fill: #005d80;
    fill-opacity: 1;
}

.Management {
    fill: #ff0000;
    fill-opacity: 1;
}

.You {
    fill: #ffcb00;
    fill-opacity: 1;
}

#freshwidget-button {
    display: none !important;
}

#wrap {
 min-height: 0%; 
}

.row-title.first {
	-ms-border-radius: 10px;
	border-radius: 10px;
	/*border: 7px solid #cacaca;*/
	-ms-opacity: .5;
	opacity: .5;
	margin-top: 0px;
}

.row-title {
	font-weight: bold;
	border-top: 2px none #cacaca;
	border-bottom: 0px solid #cacaca;
}

.table-io.companyValues .fill:after {
	color: black !important;
	padding-top: 8px;
}

.table-io.companyValues .fill:not(.hasReason):not(.score):not(.Indeterminate):after {
	background-color: transparent;
}
.fill.companyValues {
	border-width: 4px !important;
	border-style: solid !important;
}

.table-io .fill {
	margin: 2px;
	border-width:4px !important;
}

.table-io .fill.True,
.table-io .fill.Indeterminate,
.table-io .fill.Positive:after,
.table-io .fill.Indeterminate:after
 {
	color: #aeaeae !important;
}

.table-io.rocks .fill {
	padding-top: 8px;	
}

.table-io.companyValues .fill.companyValues-score {
	padding-top: 8px;
}

.chart {
	height: 360px;
}

svg .legend {
	display: none;
}

.legend {
	font-size: 12px;
}
.legend .title {
font-size: 14px;
}

.axisTitle {
	font-size: 24px;
}

.zoom8 {
	zoom: 80%;
}

.subsection {
	margin-bottom: 10px;
}

.print-col-xs-6 {
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 50%;
}


.reviewName {
	right: 40px;
}