body {
	height: 0px;
	line-height: normal;
}

.noPrint {
	display: none;
}

.body-content {
	padding: 0px;
}

#main {
	padding: 0px;
	margin: 0px;
}

#footer {
	display: none;
}

.pageBreak {
	page-break-after: always;
}

.together {
	-moz-page-break-inside: avoid;
	page-break-inside: avoid;
}

.table-responsive {
	overflow-x: hidden;
}

.panel {
	border-radius: 3px;
	border-color: black;
}

.panel-heading {
	padding: 5px;
}

.panel-body {
	padding: 5px;
}

.landscape {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	page-break-inside: avoid;
}

.review {
	border: 0px;
	padding: 0px;
}

.shiftContainer {
	padding-top: 0px;
}

.noMargin {
	margin: 0px;
}

.bordered {
	border: 1px solid black;
}

.smallBreak {
	height: 4px;
}

.inlined {
	display: inline-block;
}


.Manager {
	fill: #6da1e1 !important;
	stroke: black !important;
}

.Self {
	stroke: black !important;
	stroke-width: 3px;
	fill: #ffcb00 !important;
}

.Subordinate {
	stroke: black !important;
	stroke-width: 2px;
	fill: #be0505 !important;
}

.Peer {
	stroke: black !important;
	fill: url(#diagonalHatch_gray) !important;
}

.Teammate {
	fill: url(#diagonalRightHatch_gray) !important;
	stroke: black !important;
}

.NoRelationship {
	fill: url(#crossHatch) !important;
	stroke: black !important;
}


.Employee {
	fill: #005d80;
	fill-opacity: 1;
}

.Management {
	fill: #ff0000;
	fill-opacity: 1;
}

.You {
	fill: #ffcb00;
	fill-opacity: 1;
}

#freshwidget-button {
	display: none !important;
}

#wrap {
	min-height: 0%;
}

.row-title.first {
	-ms-border-radius: 10px;
	border-radius: 10px;
	/*border: 7px solid #cacaca;*/
	-ms-opacity: .5;
	opacity: .5;
	margin-top: 0px;
	margin-bottom: 0px;
	border-top: 0px solid #E0E0E0;
}

.row-title {
	font-weight: bold;
	border-top: 2px none #cacaca;
	border-bottom: 0px solid #cacaca;
}

.table-io.companyValues .fill:after {
	/*color: black !important;*/
	padding-top: 13px;
}

.table-io.companyValues .fill:not(.hasReason):not(.score):not(.Indeterminate):after {
	background-color: transparent;
}

.fill.companyValues {
	border-width: 4px !important;
	border-style: solid !important;
}

.table-io .fill {
	margin: 2px;
	border-width: 4px !important;
	border-style: solid;
	color: white;
}

	.table-io .fill.True,
	.table-io .fill.Indeterminate,
	.table-io .fill.Positive:after,
	.table-io .fill.Indeterminate:after {
		/*color: #aeaeae !important;*/
	}

.table-io.rocks .fill {
	padding-top: 8px;
}

.table-io.companyValues .fill.companyValues-score {
	padding-top: 13px !important;
}

.chart {
	height: 360px;
}

svg .legend {
	display: none;
}

.legend {
	font-size: 12px;
}

	.legend .title {
		font-size: 10px;
	}

.axisTitle {
	font-size: 24px;
}

.zoom8 {
	/*zoom: 80%;
	-moz-transform:  scale(0.8,0.8);
	-moz-transform-origin: left center;*/
	font-size: 80%;
}

.fill.Neutral, .fill.Neutral:after {
	color: #EC971F !important;
	font-weight: bold;
}
/*
.fill.Negative {
	padding-top: 1px !important;
}*/

.fill.Indeterminate, .fill.Indeterminate:after {
	color: #ddd !important;
	font-weight: bold;
}

.fill.False, .fill.Negative, .fill.Negative:after {
	/*color: white !important;
		background: #D9534F !important;*/
	color: #D9534F !important;
	font-weight: bold;
}


.roleTable .fill,.valueTable .fill {
	position: relative;
}
.gwc .fill:before {
	content: "";
	border: 25px solid;
	font-weight: bold;
	position: absolute;
	top: 2px !important;
	left: 2px!important;
}
.roleTable .fill:before {
	content: "";
	border: 11px solid;
	font-weight: bold;
	position: absolute;
	top: 0px!important;
	left: 0px!important;
}
.companyValues .fill:before {
	content: "";
	border: 25px solid;
	font-weight: bold;
	position: absolute;
	top: -4px!important;
	left: -4px!important;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-ms-border-radius: 25px;
	border-radius: 25px;
}
.valueTable .fill:before {
	content: "";
	border: 8px solid !important;
	position: absolute;
	top: -1px;
	left: -1px;
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
}


/*.gwc .fill.True:before,.roleTable .fill.True:before,.companyValues .fill.Positive:before,.valueTable .fill.Positive:before {*/
.gwc .fill.True:before,.roleTable .fill.True:before,.companyValues .fill.Positive:before,.valueTable .fill.Positive:before {
	border-color: #449D44!important;
	-ms-opacity: 0.2;
	opacity: 0.2;
}
.gwc .fill.False:before,.roleTable .fill.False:before,.companyValues .fill.Negative:before,.valueTable .fill.Negative:before {
	border-color: #D9534F!important;
	-ms-opacity: 0.2;
	opacity: 0.2;
}
.companyValues .fill.Neutral:before,.valueTable .fill.Neutral:before {
	border-color: #EC971F!important;
	-ms-opacity: 0.25;
	opacity: 0.25;
}

.fill .percent {
	margin-right: -4px;
}

.fill.Negative .percent {
	color: #D9534F !important;
	font-size: 70%;
	/*color: white !important;*/
}

.fill.Neutral .percent {
	color: #EC971F !important;
	font-size: 70%;
}

.fill.Positive .percent {
	color: #449D44!important;
	font-size: 70%;
}

.fill.True, .fill.Positive, .fill.Positive:after {
	color: #449D44 !important;
	border-color: #449D44!important;
	font-weight: bold;
}

.zoom8 .table-io.gwc > tbody > tr > td {
	height: 50px;
}

	.zoom8 .table-io.gwc > tbody > tr > td .fill {
		height: 50px !important;
		width: 50px !important;
		padding-top: 12px !important;
	}

.zoom8 .fixedWidth:after {
	width: 160px;
}

.zoom8 .companyValues-client .fill:after {
	font-size: 13px;
}

.zoom8 .valueTable .fill {
	padding-top: 2px;
	width: 16px;
	height: 16px;
	font-weight: bold;
}

.zoom8 .table-io.companyValues .fill.companyValues-score {
	padding-top: 13px;
}

.roleTable td, .valueTable td {
	padding: 0px 3px;
}

.subsection {
	margin-bottom: 10px;
}

.print-col-xs-6 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
	width: 50%;
}

.print-col-xs-5 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
	width: 41.666666666%;
}

.print-col-xs-7 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
	width: 58.33333333%;
}

.reviewName {
	right: 40px;
}

.reviewPosition {
	left: 40px;
}

.completeincomplete input[value='True'] ~ .fill.cursor {
	border: 4px solid #449D44 !important;
}

.completeincomplete input[value='False'] ~ .fill.cursor {
	border: 4px solid #D9534F !important;
}

.gray {
	color: #BBBBBB !important;
}

.rockstate input[value='Complete'] ~ .fill.cursor {
	border: 4px solid #449D44 !important;
}

.rockstate input[value='AtRisk'] ~ .fill.cursor {
	border: 4px solid #D9534F !important;
}

.rockstate input[value='OnTrack'] ~ .fill.cursor {
	border: 4px solid #1F68EC !important;
	color: #1F68EC !important;
}


.fill.cursor {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

.completeincomplete .ico {
	color: #515151 !important;
}

.completeincomplete .txt {
	color: gray !important;
}

#alerts {
	margin: 0px;
	padding: 0px;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}

#chart2 {
	height: 350px;
}

.zoom8 .evaluation-heading {
	font-size: 140%;
}

.companyValues .fixedWidth:after {
	width: 100px;
}

.axis {
	stroke: #ddd;
	opacity: 1;
}

.row-title.first {
	font-size: 28px;
}

.reviewPosition, .reviewName {
	font-size: 14px;
}
