body {
}

.noMargin{
    margin: 0px;
}

.bordered{
    border:1px solid black;
}

.smallBreak{
    height: 4px;
}

.inlined{
    display:inline-block;
}


.Manager {
    fill: black ! important;
    stroke: black ! important;
}

.Self {
    stroke: black ! important;
    fill: white ! important;

}

.Subordinate {
    stroke:black ! important;
    fill: gray ! important;
}

.Peer {
    stroke: black ! important;
    fill: url(#diagonalHatch_gray) ! important;
}

.Teammate {
    fill: url(#diagonalRightHatch_gray) ! important;
    stroke: black ! important;
}

.NoRelationship {
    fill: url(#crossHatch) ! important;
    stroke: black ! important;
}


.Employee {
    fill: #005d80;
    fill-opacity:1;
}

.Management {
    fill:#ff0000;
    fill-opacity:1;
}

.You {
    fill: #ffcb00;
    fill-opacity:1;
}