
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


Payments not implemented right now:
<br />
<a class="btn btn-success" href="@Url.Action("Create", "Organization", new {count=ViewBag.Count })">Create organization</a>
