@model RadialReview.Models.VTO.VtoModel
@{
	ViewBag.Title = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.FullWidth = true;
}
@using (Html.BeginStyles())
{
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.1/angular.min.js"></script>
	<link href="~/Content/VTO/VTO.css" rel="stylesheet" />
}
@using (Html.BeginScripts())
{
	<script src="~/Scripts/VTO/vto.js"></script>

	<script src="~/Scripts/jquery/jquery.ba-throttle-debounce.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.4/angular-filter.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
	@Scripts.Render("~/bundles/vto")
	<script src="~/Scripts/Angular/VTO/VtoController.js"></script>
	<script>
		angular.module('VtoApp')
			.value('vtoId', @Model.Id)
			.value('vtoDataUrlBase', '/Vto/Data/')
			.value("vtoCallback",false);

	</script>
}

<div class="vto-outer ng-cloak" ng-app="VtoApp">
	<div ng-controller="VtoController">
		<div class="vto">
			<div class="vision">
				<div class="heading">
					<div class="row">
						<div class="col-lg-3">
						</div>
						<div class="col-lg-8">
							<div class="vto-title tm">THE VISION/TRACTION ORGANIZER</div>
							<div class="organzation-name"><span class="title">NAME:</span><input ng-change="functions.sendUpdate((model| transform:this))" ng-model="(model| transform:this).Name " type="text" ng-model-options="{ debounce: 250 }" > </div>
							<div class="page-title">VISION</div>
						</div>
						<div class="col-lg-1"></div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="details boxed">
					<div class="row ">
						<div class="col-lg-8">
							<div class="core-values">
								<div class="row ">
									<div class="col-lg-3 title">
										<div class="boxed">
											<div style="display:table; width: 100%;height: 100%;">
												<div style="display:table-cell;vertical-align:middle;">
													<div style="text-align:center;">
														CORE VALUES
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-9">
										<div class="boxed content">
											<div style="display:table; width: 100%;height: 100%;">
												<div style="display:table-cell;vertical-align:middle;">
													<ol>
														<li ng-repeat="value in (model| transform:this).Values">
															<div ng-if="value.Deleted===false">
																<input ng-change="functions.sendUpdate(value)" ng-model="value.CompanyValue" />
																<span class="delete glyphicon glyphicon-remove" ng-click="functions.Get('/VTO/DeleteCompanyValue?value='+value.Id)"></span>
															</div>
														</li>
														<li class="add-row" ng-click="functions.Get('/VTO/AddCompanyValue?vto='+vtoId)"></li>
													</ol>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="core-focus">
								<div class="row">
									<div class="col-lg-3 title">
										<div class="boxed">
											<div style="display:table; width: 100%;height: 100%;">
												<div style="display:table-cell;vertical-align:middle;">
													<div style="text-align:center;" class="tm">
														CORE FOCUS
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-9 ">
										<div class="boxed content">
											<div style="display:table; width: 100%;height: 100%;">
												<div style="display:table-cell;vertical-align:middle;">
													<div class="purpose">
														<span class="title">Purpose/Cause/Passion:</span>
													</div>
													<div class="niche">
														<span class="title">Our Niche:</span>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
							<div class="ten-year-target">
								<div class="row">
									<div class="col-lg-3 title">
										<div class="boxed">
											<div style="display:table; width: 100%;height: 100%;">
												<div style="display:table-cell;vertical-align:middle;">
													<div style="text-align:center;" class="tm">
														10-YEAR TARGET
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-9">
										<div class="boxed content">
											<div class="target"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="marketing-strategy">
								<div class="row">
									<div class="col-lg-3 title">
										<div class="boxed">
											<div style="display:table; width: 100%;height: 100%;">
												<div style="display:table-cell;vertical-align:middle;">
													<div style="text-align:center;">
														MARKETING STRATEGY
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-9">
										<div class="boxed content">
											<div style="display:table; width: 100%;height: 100%;">
												<div style="display:table-cell;vertical-align:middle;">
													<div class="target-market">
														<span class="title">Target Market/"The List":</span>
													</div>
													<div class="three-uniques">
														<div class="title">Three Uniques:</div>
														<ol>
															<li>asdf ..First...asdf</li>
															<li>Second asdfa.asdf</li>
															<li>adsf.. Third</li>
														</ol>
													</div>
													<div class="proven-process">
														<span class="title">Proven Process:</span>
													</div>
													<div class="guarantee">
														<span class="title">Guarantee:</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="three-year-picture">
								<div class="row">
									<div class="col-lg-12">
										<div class="title boxed">
											<div style="display:table; width: 100%;height: 100%;">
												<div style="display:table-cell;vertical-align:middle;">
													<div style="text-align:center; margin: 9px;" class="tm">
														3-YEAR PICTURE
													</div>
												</div>
											</div>
										</div>
										<div class="boxed content">
											<div class="future-date"></div>
											<div class="revenue"></div>
											<div class="profit"></div>
											<div class="measurables"></div>
											<div class="looks-like">What does it look like?</div>
											<div class="listing">
												<ul>
													<li>asdf</li>
													<li>asdf</li>
													<li>asdasdf</li>
													<li>asewrdf</li>
													<li>a235sdf</li>
													<li></li>
													<li></li>
													<li></li>
													<li></li>
													<li></li>
													<li></li>
													<li></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="vto">
			<div class="traction">
				<div class="row">
					<div class="col-lg-4">
						<div class="three-year-picture">
							<div class="row">
								<div class="col-lg-12">
									<div class="title boxed">
										<div style="display:table; width: 100%;height: 100%;">
											<div style="display:table-cell;vertical-align:middle;">
												<div style="text-align:center; margin: 9px;" class="">
													1-YEAR PLAN
												</div>
											</div>
										</div>
									</div>
									<div class="boxed content">
										<div>
											<span class="bold">Future Date:</span> <span class="future-date">~~date~~</span>
										</div>
										<div>
											<span class="bold">Revenue:</span><span class="revenue"></span>
										</div>
										<div>
											<span class="bold">Profit:</span><span class="profit"></span>
										</div>
										<div>
											<span class="bold">Measurables:</span><span class="measurables"></span>
										</div>
										<div class="smallBreak2">&nbsp;</div>
										<div class="goals-table border-table">
											<table>
												<tr><th colspan="2">Goals for the year:</th></tr>
												<tr><td class="number">1.</td><td>fgjasdf</td></tr>
												<tr><td class="number">2.</td><td>fgjasdf</td></tr>
												<tr><td class="number">3.</td><td>fgjasdf</td></tr>
												<tr><td class="number">4.</td><td>fgjasdf</td></tr>
												<tr><td class="number">5.</td><td>fgjasdf</td></tr>
												<tr><td class="number">6.</td><td>fgjasdf</td></tr>
												<tr><td class="number">7.</td><td>fgjasdf</td></tr>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="three-year-picture">
							<div class="row">
								<div class="col-lg-12">
									<div class="title boxed">
										<div style="display:table; width: 100%;height: 100%;">
											<div style="display:table-cell;vertical-align:middle;">
												<div style="text-align:center; margin: 9px;" class="">
													ROCKS
												</div>
											</div>
										</div>
									</div>
									<div class="boxed content">
										<div>
											<span class="bold">Future Date:</span> <span class="future-date">~~date~~</span>
										</div>
										<div>
											<span class="bold">Revenue:</span><span class="revenue"></span>
										</div>
										<div>
											<span class="bold">Profit:</span><span class="profit"></span>
										</div>
										<div>
											<span class="bold">Measurables:</span><span class="measurables"></span>
										</div>
										<div class="smallBreak2">&nbsp;</div>
										<div class="rocks-table border-table">
											<table>
												<tr><th colspan="2">Rocks for the Quarter:</th><th class="alignRight">Who</th></tr>
												<tr><td class="number">1.</td><td>fgjasdf</td><td></td></tr>
												<tr><td class="number">2.</td><td>fgjasdf</td><td></td></tr>
												<tr><td class="number">3.</td><td>fgjasdf</td><td></td></tr>
												<tr><td class="number">4.</td><td>fgjasdf</td><td></td></tr>
												<tr><td class="number">5.</td><td>fgjasdf</td><td></td></tr>
												<tr><td class="number">6.</td><td>fgjasdf</td><td></td></tr>
												<tr><td class="number">7.</td><td>fgjasdf</td><td></td></tr>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="three-year-picture">
							<div class="row">
								<div class="col-lg-12">
									<div class="title boxed">
										<div style="display:table; width: 100%;height: 100%;">
											<div style="display:table-cell;vertical-align:middle;">
												<div style="text-align:center; margin: 9px;" class="">
													ISSUES LIST
												</div>
											</div>
										</div>
									</div>
									<div class="boxed content">
										<div class="rocks-table border-table">
											<table>
												<tr><td class="number">1.</td><td>fgjasdf</td></tr>
												<tr><td class="number">2.</td><td>fgjasdf</td></tr>
												<tr><td class="number">3.</td><td>fgjasdf</td></tr>
												<tr><td class="number">4.</td><td>fgjasdf</td></tr>
												<tr><td class="number">5.</td><td>fgjasdf</td></tr>
												<tr><td class="number">6.</td><td>fgjasdf</td></tr>
												<tr><td class="number">7.</td><td>fgjasdf</td></tr>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>