@model RadialReview.Controllers.VTOController.VTOListingVM
@{
    ViewBag.Title = "V/TO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section top{
	<div class="jumbotron">
		<h1>V/TO</h1>
	</div>
}

@section header{
	@*Html.Partial("_ReviewsHeader")*@
}

@using (Html.BeginScripts())
{

}
@if (ViewBag.IsManager ?? false)
{
	<div style="text-align: right;margin-bottom: 3px;">
		<a class="btn btn-primary" href="/Vto/Edit">Create new V/TO</a>
	</div>
}

<div class="panel panel-primary startHiddennGroup">
	<div class="panel-heading">
		<h3 class="panel-title">Vision/Traction Organizers:</h3>
	</div>
	@if (Model.VTOs.Any())
	{
		<div class="table-responsive">
			<table class="table table-condensed tablesorter tablefilter tablesorter-default">
				<thead>
					<tr>
						<th style="min-width: 120px"></th>
						<th style="width:100px" class="alignCenter">Organization Wide</th>
						<th style="width:80px" class="alignCenter"></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var vto in Model.VTOs)
					{
						<tr class="startHiddenn">
							<td>@vto.Name</td>
							<td class="alignCenter">@vto.OrganizationWide</td>
							<td class="alignCenter"></td>
						</tr>
					}
				</tbody>
			</table>
		</div>

	}
	else
	{
		<div class="panel-body gray">
			There are no V/TOs.
		</div>
	}
</div>
