.alert {
  position: relative;
  z-index: 10010;
}
#alerts {
  position: fixed;
  left: 20px;
  bottom: 15px;
  opacity: 1;
  color: white;
  -moz-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), bottom 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), bottom 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), bottom 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), bottom 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  z-index: 10011;
}
#alerts:empty {
  bottom: 0px;
  opacity: 0;
  color: transparent;
}
#alerts .alert {
  width: 408px;
  /* height: 48px; */
  /* padding-left: 24px; */
  font-family: 'Roboto', sans-serif;
  background: #fff;
  border-radius: 2px;
  padding: 1rem;
  position: relative;
  -moz-transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
  -o-transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
  margin-bottom: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #323232;
  color: white;
  border: none;
  margin: 0px;
  padding-left: 15px;
  margin-bottom: 5px;
  /*-moz-animation: grow-in .5s cubic-bezier(.4,0,.2,1) 1;
        -o-animation: grow-in .5s cubic-bezier(.4,0,.2,1) 1;
        -webkit-animation: grow-in .5s cubic-bezier(.4,0,.2,1) 1;
        animation: grow-in .5s cubic-bezier(.4,0,.2,1) 1;*/
}
#alerts .alert .close {
  position: relative;
  top: -2px;
  right: 0px;
  color: inherit;
}
#alerts .alert strong {
  display: none;
}
.position-column {
  width: 50%;
  max-width: 100px;
}
.evalby-percentage {
  font-size: 10px;
  width: 0px;
  display: inline-block;
  color: #808080;
}
@media (max-width: 768px) {
  .nav-tabs.tabs-left {
    text-align: center;
    border-right: none;
  }
  .nav-tabs.tabs-left > li {
    display: inline-block;
  }
  .nav-tabs.tabs-left > li > a {
    border-radius: 4px;
    margin: 2px;
    width: 185px;
    background-color: rgba(255, 255, 255, 0.4);
  }
  .nav-tabs.tabs-left > li.active > a {
    border: 1px solid #ddd;
  }
  .tab-content.tabs-left {
    margin-left: inherit;
  }
  #Reminders .btn-link {
    font-size: 11px;
  }
}