.nav-tabs.manage li {
  min-width: 95px;
  text-align: left;
}
.nav-tabs.manage li .glyphicon {
  color: #9f9f9f;
  left: -5px;
}
.header-sharing-btn {
  margin-left: 4px;
  margin-top: 3px;
}
.header-sharing-btn .btn {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  /*border-width:1px;
  font-weight:bold;*/
}
.header-sharing-btn .btn:not(.nohover):focus,
.header-sharing-btn .btn:not(.nohover).focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}
.header-sharing-btn .btn:not(.nohover):hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.header-sharing-btn .btn:not(.nohover):active,
.header-sharing-btn .btn:not(.nohover).active,
.open > .dropdown-toggle.header-sharing-btn .btn {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.header-sharing-btn .btn:not(.nohover):active:not(.nohover):hover,
.header-sharing-btn .btn:not(.nohover).active:not(.nohover):hover,
.open > .dropdown-toggle.header-sharing-btn .btn:not(.nohover):hover,
.header-sharing-btn .btn:not(.nohover):active:not(.nohover):focus,
.header-sharing-btn .btn:not(.nohover).active:not(.nohover):focus,
.open > .dropdown-toggle.header-sharing-btn .btn:not(.nohover):focus,
.header-sharing-btn .btn:not(.nohover):active:not(.nohover).focus,
.header-sharing-btn .btn:not(.nohover).active:not(.nohover).focus,
.open > .dropdown-toggle.header-sharing-btn .btn:not(.nohover).focus {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19;
}
.header-sharing-btn .btn:active,
.header-sharing-btn .btn.active,
.open > .dropdown-toggle.header-sharing-btn .btn {
  background-image: none;
}
.header-sharing-btn .btn.disabled,
.header-sharing-btn .btn[disabled],
fieldset[disabled] .header-sharing-btn .btn,
.header-sharing-btn .btn.disabled:hover,
.header-sharing-btn .btn[disabled]:hover,
fieldset[disabled] .header-sharing-btn .btn:hover,
.header-sharing-btn .btn.disabled:focus,
.header-sharing-btn .btn[disabled]:focus,
fieldset[disabled] .header-sharing-btn .btn:focus,
.header-sharing-btn .btn.disabled.focus,
.header-sharing-btn .btn[disabled].focus,
fieldset[disabled] .header-sharing-btn .btn.focus,
.header-sharing-btn .btn.disabled:active,
.header-sharing-btn .btn[disabled]:active,
fieldset[disabled] .header-sharing-btn .btn:active,
.header-sharing-btn .btn.disabled.active,
.header-sharing-btn .btn[disabled].active,
fieldset[disabled] .header-sharing-btn .btn.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.header-sharing-btn .btn .badge {
  color: #d9534f;
  background-color: #fff;
}
.header-sharing-btn .btn:not(.dropdown-toggle) {
  width: 100px;
}
.header-sharing-btn .btn:not(.dropdown-toggle) .icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 6px;
}
.header-sharing-btn .btn:not(.dropdown-toggle) .icon:before {
  content: "\e082";
}
.header-sharing-btn .btn:not(.dropdown-toggle):after {
  content: " Private";
}
.header-sharing-btn.on .btn {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  /*border-width:1px;
  font-weight:bold;*/
}
.header-sharing-btn.on .btn:not(.nohover):focus,
.header-sharing-btn.on .btn:not(.nohover).focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.header-sharing-btn.on .btn:not(.nohover):hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.header-sharing-btn.on .btn:not(.nohover):active,
.header-sharing-btn.on .btn:not(.nohover).active,
.open > .dropdown-toggle.header-sharing-btn.on .btn {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.header-sharing-btn.on .btn:not(.nohover):active:not(.nohover):hover,
.header-sharing-btn.on .btn:not(.nohover).active:not(.nohover):hover,
.open > .dropdown-toggle.header-sharing-btn.on .btn:not(.nohover):hover,
.header-sharing-btn.on .btn:not(.nohover):active:not(.nohover):focus,
.header-sharing-btn.on .btn:not(.nohover).active:not(.nohover):focus,
.open > .dropdown-toggle.header-sharing-btn.on .btn:not(.nohover):focus,
.header-sharing-btn.on .btn:not(.nohover):active:not(.nohover).focus,
.header-sharing-btn.on .btn:not(.nohover).active:not(.nohover).focus,
.open > .dropdown-toggle.header-sharing-btn.on .btn:not(.nohover).focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}
.header-sharing-btn.on .btn:active,
.header-sharing-btn.on .btn.active,
.open > .dropdown-toggle.header-sharing-btn.on .btn {
  background-image: none;
}
.header-sharing-btn.on .btn.disabled,
.header-sharing-btn.on .btn[disabled],
fieldset[disabled] .header-sharing-btn.on .btn,
.header-sharing-btn.on .btn.disabled:hover,
.header-sharing-btn.on .btn[disabled]:hover,
fieldset[disabled] .header-sharing-btn.on .btn:hover,
.header-sharing-btn.on .btn.disabled:focus,
.header-sharing-btn.on .btn[disabled]:focus,
fieldset[disabled] .header-sharing-btn.on .btn:focus,
.header-sharing-btn.on .btn.disabled.focus,
.header-sharing-btn.on .btn[disabled].focus,
fieldset[disabled] .header-sharing-btn.on .btn.focus,
.header-sharing-btn.on .btn.disabled:active,
.header-sharing-btn.on .btn[disabled]:active,
fieldset[disabled] .header-sharing-btn.on .btn:active,
.header-sharing-btn.on .btn.disabled.active,
.header-sharing-btn.on .btn[disabled].active,
fieldset[disabled] .header-sharing-btn.on .btn.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.header-sharing-btn.on .btn .badge {
  color: #5cb85c;
  background-color: #fff;
}
.header-sharing-btn.on .btn:not(.dropdown-toggle) .icon:before {
  content: "\e013";
}
.header-sharing-btn.on .btn:not(.dropdown-toggle):after {
  content: " Sharing";
}
.sidebar {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.charts-container .legend-bar .legend {
  width: 136px;
  float: right;
}
.charts-container .chart-panel {
  width: 78%;
  width: calc( 100% - 145px );
  float: left;
  padding-left: 13px;
  position: relative;
}
.charts-container .showPrevious {
  display: inline-block;
  margin: 0;
}
.charts-container .showPrevious-label {
  margin-left: 10px;
}
@media (max-width: 768px) {
  .charts-container .legend-bar {
    clear: both;
  }
  .charts-container .legend-bar .legend {
    float: none;
    margin: auto;
  }
  .charts-container .chart-panel {
    width: 100%;
  }
  .charts-container .showPrevious-label {
    font-size: 12px;
    display: block;
  }
}
#ScorecardTable_Over td {
  height: 24px;
}