<div class="form-horizontal">

    <div class="form-group">
        <div class="col-sm-1  ">
            <input type="checkbox" class="checkbox  pull-right" id="vto" name="vto" checked />
        </div>
        <label for="vto" class="col-sm-9 control-label alignLeft">Include Vision/Traction Organizer™</label>

    </div>



    <div class="form-group">
        <div class="col-sm-1 ">
            <input type="checkbox" class="checkbox  pull-right" id="l10" name="l10" checked />
        </div>
        <label for="l10" class="col-sm-9 control-label alignLeft">Include Level 10 Meeting™ (Issues &amp; Todos)</label>

    </div>
    <div class="form-group">
        <div class="col-sm-1 ">
            <input type="checkbox" class="checkbox  pull-right" id="acc" name="acc" checked />
        </div>
        <label for="acc" class="col-sm-9 control-label alignLeft">Include Accountability Chart</label>
    </div>

    @*<iframe style="display:none;" src="/accountability/chart?expandAll=true"></iframe>*@

    @*<div class="form-group">
        <div class="col-sm-1 ">
            <input type="checkbox" class="checkbox  pull-right" id="todos" name="todos" />
        </div>
        <label for="todos" class="col-sm-9 control-label alignLeft">Include To-dos</label>

    </div>

    <div class="form-group">
        <div class="col-sm-1 ">
            <input type="checkbox" class="checkbox  pull-right" id="issues" name="issues" />
        </div>
        <label for="issues" class="col-sm-9 control-label alignLeft">Include Issues</label>

    </div>*@

    <div class="form-group">
        <div class="col-sm-1 ">
            <input type="checkbox" class="checkbox  pull-right" id="scorecard" name="scorecard" checked />
        </div>
        <label for="scorecard" class="col-sm-9 control-label alignLeft">Include Scorecard</label>

    </div>

    <div class="form-group">
        <div class="col-sm-1 ">
            <input type="checkbox" class="checkbox  pull-right" id="rocks" name="rocks" checked />
        </div>
        <label for="rocks" class="col-sm-9 control-label alignLeft">Include Rocks</label>

    </div>
</div>