@model long
<div class="form-horizontal">

    <input type="hidden" id="meetingId" value="@Model"/>

    <div class="form-group">
        <div class="col-sm-1  ">
            <input type="checkbox" class="checkbox  pull-right" id="vto" name="vto" checked />
        </div>
        <label for="vto" class="col-sm-9 control-label alignLeft">Include Vision/Traction Organizer™</label>
    </div>



    <div class="form-group">
        <div class="col-sm-1 ">
            <input type="checkbox" class="checkbox  pull-right" id="l10" name="l10" checked />
        </div>
        <label for="l10" class="col-sm-9 control-label alignLeft">Include Level 10 Meeting™ (Issues &amp; Todos)</label>

    </div>
    <div class="form-group">
        <div class="col-sm-1 "><input type="checkbox" class="checkbox  pull-right" id="acc" name="acc" checked @*onchange="updateAllowDone()"*@ />
        </div>
        <label for="acc" class="col-sm-9 control-label alignLeft">Include Accountability Chart <span style="top: -2px;left:2px;position: relative;" id="accLoadingContainer"></span></label>
    </div>

    <iframe id="accFrame" style="display:none;" src="about:blank"></iframe>
	<input type="hidden" id="rootInput" name="root" />

    <div class="form-group">
        <div class="col-sm-1 ">
            <input type="checkbox" class="checkbox  pull-right" id="scorecard" name="scorecard" checked />
        </div>
        <label for="scorecard" class="col-sm-9 control-label alignLeft">Include Scorecard</label>

    </div>

    <div class="form-group">
        <div class="col-sm-1 ">
            <input type="checkbox" class="checkbox  pull-right" id="rocks" name="rocks" checked />
        </div>
        <label for="rocks" class="col-sm-9 control-label alignLeft">Include Rocks</label>

    </div>
</div>

<script>
    var guid = "@(Guid.NewGuid().ToString())";
    var doneLoadingAC = false;
    function createNodes() {
        doneLoadingAC = true;

        var nodes = $("#accFrame")[0].contentWindow.generateAccNodes();

        $("#rootInput").val(JSON.stringify(nodes));
        $("#modalOk").attr("disabled", false);
        $("#modalOk").attr("title", false);
        $("#accLoadingContainer").html("");
    }

    function updateAllowDone() {
        if (doneLoadingAC || !$(acc).is(":checked")){
            $("#modalOk").attr("disabled", false);
        } else {
            $("#modalOk").attr("disabled", "disabled");
            $("#modalOk").attr("title", "Generating accountability chart");
        }
        if ($("#accFrame").attr("src") == "about:blank") {
            $("#accFrame").attr("src", "/accountability/chart?expandAll=true");
            $("#accLoadingContainer").html("<img src='/content/img/ajax-loader.gif'/>");
        }

    }

    $("body").on("AccountabilityChartRenderComplete."+guid, function () {
        if (createNodes.timeout) {
            clearTimeout(createNodes.timeout);
        }
        createNodes.timeout = setTimeout(createNodes, 300);
    });

    $('#modal').on("hidden.bs.modal." + guid, function () {
        var guid2 = guid;
        setTimeout(function () {
            $("body").off("." + guid2);
        }, 1000);
    })

</script>