<md-toolbar class="md-table-toolbar md-default" ng-hide="filter.show == true">
	<div class="md-toolbar-tools">
		<span>People Headlines</span>
		<span flex></span>
		<span class="headlineModal" data-recurrenceId="{{::recurrenceId}}">
			<md-button class="md-icon-button" aria-label="Add Headline">
				<md-tooltip md-direction="left">
					Add People Headline
				</md-tooltip>
				<md-icon>add</md-icon>
			</md-button>
		</span>
	</div>
</md-toolbar>

@{ Html.RenderPartial("~/Views/Headlines/partial/list.cshtml", new ViewDataDictionary(){
		{"AddHeaders", false},
		{"AddController", false},
		{"AddCompletion", true},
		{"AddDatePicker", false},
	}); 
}


