<div class="btn-group pull-right" style="padding: 5px 0px;">
	<div class="btn btn-default btn-xs" ng-click="functions.showModal('Add notes page','/L10/CreateNote?recurrence='+window.recurrenceId,'/L10/CreateNote')">
		<span class="icon fontastic-icon-align-left-2"></span> Add Note
	</div>
</div>

<div class="scorecard meeting-page" style="clear: both;">
	<div class="row">
		<div class="col-md-12" >
            <div class="component" click-anywhere-but-here="model.Selected = -1">
                <div class="" ng-repeat="note in model.Notes" style="padding:5px 10px;" ng-click="note.DetailsUrl_Src=note.DetailsUrl;model.Selected = note.Key">
                    <div ng-hide="model.Selected==note.Key">
                        <div class="clickable" style="padding: 5px 0 ;"><span class="glyphicon glyphicon-chevron-right  gray"></span> <b>{{note.Title}}</b></div>
                    </div>
                    <div ng-show="model.Selected==note.Key">
                        <div style="padding: 5px 0;" class=""><span class="glyphicon glyphicon-chevron-down gray"></span> <b>{{note.Title}}</b><span class="pull-right glyphicon glyphicon-trash clickable" ng-click="functions.showModal('Delete note?','/L10/DeleteNote/'+note.Id,'/L10/DeleteNote')"></span></div>
                        <div style="padding-left: 18px;">
                            <iframe style="background-color: white" width="100%" ng-src="{{trustAsResourceUrl(note.DetailsUrl_Src)}}" ng-data-src="{{note.DetailsUrl}}"></iframe>
                        </div>
                    </div>
                </div>
                <div class="gray no-todos" style="padding: 30px 15px;" ng-show="(model.Notes).length==0">
                    No notes exist.
                </div>
            </div>
		</div>
	</div>
</div>

<style>
    div:focus {
        outline:none;
    }
</style>