<div class="btn-group pull-right" style="padding: 5px 0px;">
    <div class="btn btn-default btn-xs rockModal" data-recurrence="{{::meetingId}}"><span class="icon fontastic-icon-trophy-1"></span> Add Rock</div>
</div>


<div class="scorecard meeting-page" style="clear: both;">
    <div class="row">
        <div class="col-md-12" click-anywhere-but-here="model.Selected = -1">
            <div class="component" ng-repeat1="note in model.HeadlinesUrl" style="padding:5px 10px;">
                @{Html.RenderPartial("~/Views/Rocks/partial/list.cshtml", new ViewDataDictionary(){
		                           {"AddHeaders", false},
                {"AddController", false},
                {"AddDatePicker", false},
                {"RockName", Html.Organization().NotNull(x => x.Settings.NotNull(y => y.RockName.NotNull(z => z.ToLower())))},
                {"Filter",""}
                });}
            </div>
        </div>
    </div>
</div>
@using (Html.BeginScripts()) {
    <script>
        $("body").on("click", ".rockModal", function () {
            var m = $(this).data("recurrence");
            showModal('Add Rock', '/L10/AddRock/' + m, '/L10/AddRock/');
        });
    </script>
}