
<div class="btn-group pull-right" style="padding: 5px 0px;">
	<div class="btn btn-default btn-xs todoModal" data-method="CreateTodo" data-recurrence="{{meetingId}}"><span class="glyphicon glyphicon-unchecked"></span> New To-Do</div>
</div>


<div ng-repeat="(key,value) in model.Todos | transform:this | groupBy: 'Owner.Name'">
	<table width="100%" class="component" ng-show="(value | filter:filters.byRange('CompleteTime',model.date.startDate,model.date.endDate)).length">
		<tr ng-show="$first">
			<td></td>
			<td></td>
			<th>To-Do</th>
			<th class="alignCenter">Due Date</th>
			<th></th>
			<th>Completed</th>
		</tr>
		@*| orderBy: ['Complete','-CompleteTime','Name']*@
		<tr ng-repeat-start="todo in value | orderBy: ['-DueDate','Name'] | filter:filters.byRange('CompleteTime',model.date.startDate,model.date.endDate) "
			ng-class="{grayRow: todo.Complete}"
			ng-hide="model.Selected==todo.Key"
			class="clickable">
			<td style="min-width: 25px;text-align: center;"><input type="checkbox" ng-model="todo.Complete" ng-change="functions.updateComplete(this);functions.sendUpdate(todo)" /></td>
			<td>
				<a href="#" data-value="{{todo.Owner.Id}}" data-display="false" class="inlineEdit" data-type="select" data-pk="{{todo.Id}}" data-url="/L10/XUpdateTodo" data-name="accountable" data-source="/Dropdown/MeetingMembers/{{model.Id}}?userId=true">
					<profile-image user="todo.Owner"></profile-image>
				</a>
			</td>
			<td style="width:100%" ng-click="model.Selected = todo.Key">{{todo.Name}}</td>
			<td class="alignCenter" style="min-width: 75px;"><input class="due-date" data-todo="{{todo.Id}}" type="text" value="{{todo.DueDate | date:'MM/dd/yyyy' :'UTC'}}" /></td>
			<td style="min-width: 15px;"></td>
			<td class="alignCenter" style="min-width: 75px;">{{todo.CompleteTime | date:'MM/dd/yy' :'UTC'}}</td>
		</tr>

		<tr  ng-show="model.Selected==todo.Key" ng-class="{grayRow: todo.Complete}">
			<td style="min-width: 25px;text-align: center;"><input type="checkbox" ng-model="todo.Complete" ng-change="functions.updateComplete(this);functions.sendUpdate(todo)" /></td>
			<td>
				<a href="#"  data-value="{{todo.Owner.Id}}" data-display="false" class="inlineEdit" data-type="select" data-pk="{{todo.Id}}" data-url="/L10/XUpdateTodo" data-name="accountable" data-source="/Dropdown/MeetingMembers/{{model.Id}}?userId=true">
					<profile-image user="todo.Owner"></profile-image>
				</a>
			</td>
			<td style="width:100%">
				<input ng-model-options="{debounce: 200}" type="text" ng-model="todo.Name" class="fullWidth" ng-change="functions.sendUpdate(todo)" />
			</td>
			<td class="alignCenter" style="min-width: 75px;"><input class="due-date" data-todo="{{todo.Id}}" type="text" value="{{todo.DueDate | date:'MM/dd/yyyy' :'UTC'}}" /></td>
			<td style="min-width: 15px;"></td>
			<td class="alignCenter" style="min-width: 75px;">{{todo.CompleteTime | date:'MM/dd/yy' :'UTC'}}</td>
		</tr>
		<tr ng-repeat-end style="color:gray" ng-show="model.Selected==todo.Key" ng-class="{grayRow: todo.Complete}">
			<td></td>
			<td></td>
			<td><textarea ng-model-options="{debounce: 200}" class="fullWidth verticalOnly" ng-model="todo.Details" placeholder="Enter to-do details..." style="min-height: 100px;" ng-change="functions.sendUpdate(todo)"></textarea></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>

	</table>
</div>

<div class="gray" style="padding: 30px 15px;" ng-show="(model.Todos | transform:this | filter:filters.byRange('CompleteTime',model.date.startDate,model.date.endDate)).length==0">
	No to-dos fit your search criteria.
</div>