<md-toolbar class="md-table-toolbar md-default" ng-hide="filter.show == true">
    <div class="md-toolbar-tools">
        <span>To-do List</span>
        <span flex></span>
        <span class="todoModal add-btn" data-method="CreateTodo" data-recurrence="{{::recurrenceId}}">
            <md-button class="md-icon-button" aria-label="Add To-do">
                <md-tooltip md-direction="left">
                    Add To-do
                </md-tooltip>
                <md-icon>add</md-icon>
            </md-button>
        </span>
    </div>
</md-toolbar>

@{ Html.RenderPartial("~/Views/Todo/Partial/list.cshtml", new ViewDataDictionary(){
		{"AddHeaders", false},
		{"AddController", false},
		{"AddCompletion", true},
		{"AddDatePicker", false},
	}); }