@model RadialReview.Controllers.RolesController.RoleVM


<div class="form">
	@Html.HiddenFor(x => x.TemplateId)
	<div class="">
		<div class="row">
			<div class="col-sm-2">
				<label>Roles:</label>
			</div>
			<div class="col-sm-8" id="allRows">
				@foreach (var item in Model.TemplateRoles) {
					Html.RenderPartial("_TemplateRoleRow", item);
				}
			</div>
			<div class="col-sm-2">
				<div class="btn btn-default clickable" onclick="addRow();">Add</div>
			</div>
		</div>
	</div> 
</div>
<script>
	function addRow() {
		$.ajax({
			url: "/Roles/BlankTemplateEditorRow/@Model.TemplateId",
			cache: false,
			success: function(html) {
				$("#allRows").append(html);
			}
		});
		return false;
	}

	$(function () {
		$(document).on("click","span.deleteRow", function () {
			$(this).parents("div.roleRow:first").hide();
			$(this).parents("div.roleRow:first").find("[name*='DeleteTime']").val("@Model.CurrentTime.ToString()");
			return false;
		});
	});

</script>
