@{
    ViewBag.Title = "Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section top{
    <div class="jumbotron">
        <h1 class="alignCenter">
            Privacy Policy
        </h1>
    </div>
}

<div class="row">
    <div class="col-md-12 col-md-offset-0">
        <h2>Plainly Said</h2>
        <p>
            <span>Privacy and confidentiality is critically important, and Radial's privacy policy is made to protect your personal information against loss, theft, and unauthorized access.&nbsp;</span>
        </p>
        <p>Data is generally only used in the following ways:&nbsp;</p>
        <p>1. You need it: Whether this is to receive email notifications, to access our service, or go about your business on our website.&nbsp;
            <br>2. We need it: We need your information for billing or other general business purposes.&nbsp;
            <br>3. Investigation warrants it: When we need to respond to illegal or fraudulent activity in cooperation with lawful investigations.&nbsp;</p>
        <p>Radial will evolve our technologies to ethically provide privacy for all of our clients.</p>

        <h2 id="yui_3_17_2_1_1447880114502_289">Privacy Policy</h2>
        <p><span style="font-size:14px">What Information Do We Collect?&nbsp;</span></p>
        <p><span style="font-size:14px">We collect names, company names, emails, billing addressed, and billing information. This includes any voluntary information you provide when making informed decisions on our site.&nbsp;</span></p>
        <p><span style="font-size:14px">We log analytics and usage on an aggregate basis as you utilize our service to refine and improve your experience. Web logs generally include internet protocol (IP) addresses, browser information, internet service provider (ISP), referral pages, system information, timestamps, pages viewed, and time spent on particular pages. While IP addresses are tied to personally identifiable information, all other analytic data is treated as an aggregation of all user activities, and is not personally identifiably.&nbsp;</span></p>
        <p><span style="font-size:14px">Why Do We Collect It?</span></p>        
        <p><span style="font-size:14px">We need the information that we explicitly require for fulfilling your order. This will include welcome emails, and billing and service announcements. You may not opt out of service related announcements as it is required for the proper fulfillment of your service.&nbsp;</span></p>
        <p><span style="font-size:14px">We also need to make sure we administrate business activities including providing the adequate customer education, support, announcement of critical changes and updates, and also providing you with customizable notifications that you may choose to enable or disable.&nbsp;</span></p>
        <p><span style="font-size:14px">From time to time we will use the information to reach out to you with news and offers that may be relevant to our business relationship. If at any time you do not wish to be contacted, you may notify us of your desires not to receive these offers. &nbsp;&nbsp;</span></p>
        <p><span style="font-size:14px">How Do We Use It?</span></p>
        <p><span style="font-size:14px">We will not sell, rent, exchange, or share collected information to any third party without your permission.&nbsp;</span></p>
        <p><span style="font-size:14px">Under circumstances of investigations, court orders, or legal processes, we will share information as required by law in response to illegal activities, suspected fraud, threats to physical safety of any person, and violations of Radial’s Terms of Service.&nbsp;</span></p>
        <p><span style="font-size:14px">Radial will retain your information as your account is active and services requested. Upon termination of service, Radial will retain information that is relevant to comply with legal obligations, disputes, or agreement enforcing.&nbsp;</span></p>
        <p><span style="font-size:14px">Radial displays endorsements of our clients along with other testimonial information. This will only be done with your consent, and you may choose to retract your testimonial at any time by contacting us.&nbsp;</span></p>
        <p><span style="font-size:14px">How Do We Achieve That?</span></p>
        <p><span style="font-size:14px">All your data remain private and confidential. To achieve this, Radial constantly evaluates our Information Protection Policies (IPP) as we improve our security and confidentiality operations with employee training and operational safeguards. This ensures safe business practices to limit employee access to confidential information, and ensures only authorized persons may access information for procedural and transactional processes only.&nbsp;</span></p>
        <p><span style="font-size:14px">With regards to technology, Radial encrypts sensitive information using Secure Socket Layer technology (SSL), and related protocol HTTPS and other industry standards to protect your personal information. As there are many different attack methods between our hosted service and your accessing browser and computer, we cannot guarantee absolute security. We advise using caution whenever sending confidential information, and Radial will facilitate within all reason to provide secure channels to do so.&nbsp;</span></p>
        <p><span style="font-size:14px">Radial also utilizes standard technologies called “cookies” where the user’s browser stores small pieces of data about the session information to our servers. For our clients, cookies help streamline transactions on related webpages because they remember what information and login a user has previously accessed, and grants easier movement for commercial transactions as you use our system. For Radial, cookies help us gain insight on browsing patterns, and also collect important business and technical statistics that allows us to guide design of our product to maximize user-friendliness. Radial will set and access cookies on your computer for these reasons, and are required to use the service.&nbsp;</span></p>
        <p><span style="font-size:14px">You may choose to reject cookies in your browser at your own risk, and you may still access our Service. However, the rejection of cookies may limit your ability to access features or other specific parts of your site.&nbsp;</span></p>
        <p><span style="font-size:14px">Radial will not use these technologies to capture individually identifying personal data.&nbsp;</span></p>
        <p><span style="font-size:14px">What About Outside Parties?&nbsp;</span></p>
        <p><span style="font-size:14px">We may provide aggregate information about usage patterns and related website information to affiliates and partnering third parties. We provide information in order to track and manage our own advertising and marketing campaigns. This information will never be personally identifiable, unless provided so in this privacy policy.&nbsp;</span></p>
        <p><span style="font-size:14px">Radial may link to other Web sites that have different privacy policies than that of Radial. This includes any Social Media features or widgets that we display on our site. These links and features are hosted and governed by their respective provider’s privacy policies. We do not have access or control over their policy or use of technology, cookies, and submitted information. We advise to review the privacy policies before volunteering information to any Web site you visit.&nbsp;</span></p>
        <p><span style="font-size:14px">What Happens When Things Change?&nbsp;</span></p>
        <p><span style="font-size:14px">If your personal information changes, or you wish to terminate your service, you may request to access, correct, update, amend, delete or remove all personally identifiable information that we collect online. You may reach out to Radial in the form of email, telephone or web support, or physical request at our address.&nbsp;</span></p><p id="yui_3_17_2_1_1447880114502_309"><span style="font-size:14px" id="yui_3_17_2_1_1447880114502_308">Radial may update the Terms of Service and Privacy Policy from time to time as new technology evolves, and our use of it changes alongside it. We will notify all clients of significant changes to the use of their private information with notifications to their primary emails as well as providing announcement of such changes on the Radial, Inc. web site. We advise you to periodically review the Terms of Service as well as the Privacy Policy for latest information on our policies and practices.&nbsp;</span></p>
        <p><span style="font-size:14px">How Do I Contact Radial?</span></p>
        <p><span style="font-size:14px">For questions and concerns regarding this Privacy Policy, or any changes you’d like to see with regards to your personal information, contact:&nbsp;<br><strong>E-mail:</strong>&nbsp;support@radialreview.com<br><strong>Address:</strong>&nbsp;1201 Infinity Court, Lincoln, NE, 68512<br><strong>Toll Free:</strong>&nbsp;855-647-6869<br><strong>Local:</strong>&nbsp;(402) 437-0099</span></p>
        @*<br />
            <h1 class="alignCenter">
                Privacy Policy
            </h1><br><br><br>
            <span style="text-align: left">
                <p>
                    Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.
                </p>
                <ul>
                    <li>
                        Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
                    </li>
                    <li>
                        We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.
                    </li>
                    <li>
                        We will only retain personal information as long as necessary for the fulfillment of those purposes.
                    </li>
                    <li>
                        We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.
                    </li>
                    <li>
                        Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.
                    </li>
                    <li>
                        We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
                    </li>
                    <li>
                        We will make readily available to customers information about our policies and practices relating to the management of personal information.
                    </li>
                </ul>
                <p>
                    We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained.
                </p>
            </span>*@
    </div>
</div>
</div>