@{
	ViewBag.Title = "Terms of Service";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section top{
	<div class="jumbotron">
		<h1 class="alignCenter">
			Terms of Service
		</h1>
	</div>
}
<div class="row">
	<div class=" row col-md-12">
		<div @*class="col-md-12 col-md-offset-0"*@>
			<h2>Simply Put</h2>
			<p>Radial's Terms of Service helps us achieve the following:</p>
			<p>1. Maintain Radial's ability to provide high-quality service and consistent reliability to ALL clients.<br>2. Protect the privacy and security of our users, and the network which everybody shares.<br>3. Comply with applicable laws.</p>
			<p>Radial will constantly review the technology, terms, and policies in place to evolve with the changing times.</p><h2>Terms of Service</h2>
			<p><span style="font-size: 14px; font-weight: bold; ">Acceptance of Terms:&nbsp;</span></p>
			<p><span style="font-size:14px">By accessing TRACTION TOOLS located at http://radialreview.com or http://mytractiontools.com (the “Service”), you agree to be bound by the terms and conditions provided in these Terms of Service (“TOS”). You agree that it is enforceable as a written agreement signed by Radial, Inc (“Radial”) and You (“Customer”).&nbsp;</span></p>
			<p><span style="font-size:14px">You may access the Service as either an individual or on behalf of a company. If You access the service on behalf of a company, You represent that you are duly authorized to represent the company and accept the terms and conditions of the Agreement on behalf of the company. The terms “You” and “Your” in this Agreement applies to your company and all employees accessing the Service.&nbsp;</span></p>
			<p><span style="font-size:14px">If You or Your company do not agree to this Agreement, you are prohibited from using or accessing the Service.&nbsp;</span></p>
			<p><span style="font-size:14px">The materials appearing on Radial’s web site could include technical, typographical, or photographic errors. Radial does not warrant that any of the materials on its web site are accurate, complete, or current. Radial may make changes to materials contained on its web site at any time without notice. Radial does not, however, make any commitment to update the materials.&nbsp;</span></p>
			<p><span style="font-size:14px">Radial reserves the right to revise and modify these TOS from time to time. Any revision and modification of these TOS shall be effective upon notice, which includes but is not limited to posting on Radial’s website, or by any other means thereof. By using the Service you are agreeing to be bound by the then current version of these TOS.&nbsp;</span></p>
			<p><span style="font-size: 14px; font-weight: bold; ">Software License and Restrictions:</span></p>
			<p><span style="font-size:14px">For the term of the TOS, Radial grants You a limited, non-transferable, non-exclusive right to access and use its proprietary software products and related documentation (“Software”) as a hosted service via a web browser for Your internal business use only (“Service”).&nbsp;</span></p>
			<p><span style="font-size:14px">Radial retains all rights and controls over the Software and only makes it available for access. Nothing in these TOS obligates Radial to transfer or deliver or make available any copies of computer programs or code from the Software to You, whether in object code or source code form.&nbsp;</span></p>
			<p><span style="font-size:14px">You agree that you will use the Service in compliance with all applicable local, state, national, and international laws, rules and regulations.&nbsp;</span></p>
			<p><span style="font-size:14px">You will not, shall not authorize, or shall not encourage any third party to: (i) use the Service for any fraudulent or inappropriate purpose; (ii) to upload, transmit or otherwise distribute any content that is unlawful, defamatory, harassing, abusive, fraudulent, obscene, contains viruses, or is other objectionable as reasonably determined by Radial; (iii) use any robot, spider, other automated device, or manual process to monitor or copy any content from the Service; (iv) resell, duplicate, make derivative works of, reproduce or exploit any part of the Service without express written permission of Radial; (v) rent, lease, distribute or resell the Service, or use the Service for developing a competitive solution (or contract with a third party to do so), or remove or alter any of the logos, trademark, patent or copyright notices, confidentiality or proprietary legends or other notices or markings that are on or in the Service; (vi) decipher, decompile, hack, delete, augment, alter, disassemble or reverse engineer any of the software comprising or in any way used or downloaded from the Service.&nbsp;</span></p>
			<p><span style="font-size:14px">The license granted to You includes basic support for the Purchased Services at no additional charge. Basic support includes commercially reasonable efforts to make the Purchased Service available 24 hours a day, 7 days a week, except for: (a) planned downtime (which We shall schedule to the extent practicable during the weekend hours from 6:00 p.m. Friday to 3:00 a.m. Monday Pacific Time), or (b) any unavailability caused by circumstances beyond Our reasonable control, including without limitation, acts of God, acts of government, floods, fires, earthquakes, civil unrest, acts of terror, material shortages, delays in transportation, strikes or other labor problems (other than those involving Our employees), Internet service provider failure or delays, or denial of service attacks.&nbsp;</span></p>
			<p><span style="font-size: 14px; font-weight: bold; ">Data Privacy and Security Indemnity:</span></p>
			<p><span style="font-size:14px">Radial shall maintain appropriate administrative, physical, and technical safeguards for protection of the security, confidentiality and integrity of Your data. Radial shall not disclose Your data except as compelled by law or as expressly permitted in writing by You, or access Your data except to provide the Services and prevent or address service or technical problems, or at Your request in connection with customer support matters.&nbsp;</span></p>
			<p><span style="font-size:14px">In the event of a security breach by anyone other than Your employee or Third-Party Contractor, Radial will promptly notify You of the nature and scope of such breach and will initiate remedial actions consistent with industry standards. You will be notified of the nature and scope of remedial actions Radial will undertake, and the timeline within which Radial expects to remedy the breach.&nbsp;</span></p>
			<p><span style="font-size:14px">You maintain sole responsibility for notifying Radial of an internal security breach event by Your employee or Third-Party Contractor, as well as initiating remedial steps you expect to remedy the breach.&nbsp;</span></p>
			<p><span style="font-size: 14px; font-weight: bold; ">Intellectual Property Rights:&nbsp;</span></p>
			<p><span style="font-size:14px">You acknowledge that Radial owns all right, title and interest in and to the Software, Service, the documentation for the Software, and all modifications and/or enhancements to the Software including without limitation all intellectual property rights, and such rights are protected by U.S. and international intellectual property laws.&nbsp;</span></p>
			<p><span style="font-size:14px">You acknowledge that Radial will retain all right, title and interest to transactional and performance data related to use of the Service that Radial may collect, use and disclose for its business purposes (including software use optimization and product marketing) provided that such use does not reveal Your identity or any of Your Confidential Information.&nbsp;</span></p>
			<p><span style="font-size:14px">You retain all right, title and interest to any and all information provided, inputted or uploaded to Radial by You, or by Radial on Your behalf. Radial has no right, title or interest in any personally identifiable information related to your data.&nbsp;</span></p>
			<p><span style="font-size: 14px; font-weight: bold; ">Publicity:&nbsp;</span></p>
			<p><span style="font-size:14px">If You subscribe to the Service, you agree that Radial can disclose the fact that you are a paying customer. During the term of these TOS, and unless otherwise set forth, You grant Radial the right to reference You, along with Your logo, in marketing materials and on Radial’s public web site until such time as Your use of the Service is discontinued.&nbsp;</span></p>
			<p><span style="font-size: 14px; font-weight: bold; ">Disclaimer of Warranty and Liability:</span></p>
			<p><span style="font-size:14px">You accept and acknowledge that Radial exercises no control over Your specific practices and that the Service can be configured and used in ways that do and do not comply with Laws. It is Your sole responsibility to monitor Your human resource practices and employees’ compliance with all applicable laws when using the Service. You assume full responsibility for any and all decisions as to employment, promotion, advancement, termination, notification, or compensation of any employee or authorized user of the software. Radial hereby disclaims all liability arising from Your decisions and from harmful data or code uploaded to the Software by You, Your employees or contracts, and provides access to the Service at your own risk.&nbsp;</span></p>
			<p><span style="font-size:14px">Radial will not provide You with legal advice regarding compliance, data privacy or other relevant laws, rules of regulations in jurisdictions in which You use the Service.&nbsp;</span></p>
			<p><span style="font-size:14px">In no event will Radial be liable for any indirect, consequential, special, punitive, or exemplary damages arising out of this Agreement.&nbsp;</span></p>
			<p><span style="font-size:14px">TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE SERVICE IS PROVIDED “AS IS” WITHOUT ANY CONDITION OR WARRANT WHATSOEVER. RADIAL HEREBY DISCLAIMS ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE WITH RESPECT TO THE SOFTWARE, SERVICE, DOCUMENTATION AND/OR OTHER MATERIALS. RADIAL DOES NOT WARRANT THAT SERVICE WILL BE UNINTERRUPTED OR THAT ITS OPERATION WILL BE ERROR-FREE. &nbsp;</span></p>
			<p><span style="font-size:14px;font-weight:bold;">Return/Refund Policy</span></p>
			<p><span style="font-size:14px">You may cancel at any time, you will be refunded for the last month of useage. If you choose to cancel your subscription, we will help you export your data.</span></p>
			<p><span style="font-size:14px">Refunds are returned using the original method of payment. If payment was made by credit card, your refund will be credited to that same credit card.   Please contact us to discuss any necessary return or refund.</span></p>
			<p><span style="font-size: 14px; font-weight: bold; ">Indemnification:&nbsp;</span></p>
			<p><span style="font-size:14px">You agree to hold harmless and indemnify Radial, and our affiliates, officers, agents, and employees from and against any third party claim arising from or in any way related to your use of the Service, including any liability or expense arising from all claims, losses, damages (actual and consequential), suits, judgments, litigation costs and attorneys’ fees, of every kind and nature. In such a case Radial will provide you with written notice of such claim, suit or action.&nbsp;</span></p>
			<p><span style="font-size:14px">IN NO EVENT SHALL EITHER PARTY BE LIABLE FOR ANY INDIRECT, INCIDENTIAL, CONSEQUENTIAL, SPECIAL, PUNITIVE, OR EXEMPLARY DAMAGES (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF PROFITS OR REVENUES, LOSS OF USE, BUSINESS INTERRUPTION, LOSS OF DATA OR BREACH OF SECURITY WITH RESPECT TO YOUR DATA. LOSS OF BUSINESS INFORMATION AND OTHER PECUNIARY LOSS AND COSTS OR LEGAL EXPENSES) INCURRED BY THE OTHER PARTY OR ANY THIRD PARTY, ARISING FROM OR RELATED TO THESE TERMS OF SERVICE AND AGREEMENT, INCLUDING WITHOUT LIMITATION THE SERVICE, OR USE THEREOF, HOWEVER CAUSED AND WHETHER BASED IN CONTRACT, STATUE, TORT (INCLUDING NEGLIGENCE), OR ANY OTHER THEORY OF LIABILITY, EVEN IF A PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE AGGREGATE LIABILITY OF EITHER PARTY TO THE OTHER OR ANY THIRD PARTY WITH RESPECT TO THIS AGREEMENT IS LIMITED, TO THE EXTENT POSSIBLE UNDER APPLICABLE LAW, TO THE FEES COLLECTED BY RADIAL FROM YOU PURSUANT TO THIS AGREEMENT IN THE SIX (6) MONTHS PRECEDING THE IMPOSITION OF LIABILITY. THE PARTIES ACKNOWLEDGE AND AGREE THAT THE FOREGOING IS A REASONABLE ALLOCATION OF RISK.&nbsp;</span></p>
			<p><span style="font-size:14px">Under no circumstances shall Radial be liable for failure to fulfill its obligations under these Agreements for any unavailability caused by circumstances beyond Our reasonable control, including without limitation, acts of God, acts of government, floods, fires, earthquakes, civil unrest, acts of terror, material shortages, delays in transportation, strikes or other labor problems (other than those involving Our employees), Internet service provider failure or delays, or denial of service attacks. The time for performance of any such obligation shall be extended for the time period lost by the reason of the delay.&nbsp;</span></p>
			<p><span style="font-size: 14px; font-weight: bold; ">Governing Law:&nbsp;</span></p>
			<p><span style="font-size:14px">UNLESS PROHIBITED BY LAW, THESE TOS ARE MADE IN ACCORDANCE WITH AND IS GOVERNED AND CONSTRUED UNDER THE LAWS OF THE STATE OF NEBRASKA, WITHOUT REFERENCE TO SUCH STATE’S CONFLICTS OF LAWS PRINCIPLES. IN NO EVENT SHALL THESE TOS BE SUBJECT TO THE UNITED NATIONS CONVENTION ON CONTRACTS FOR THE INTERNATIONAL SALE OF GOODS.&nbsp;</span></p>
			<p><span style="font-size: 14px; font-weight: bold; ">Entire Agreement:</span></p>
			<p><span style="font-size:14px">This agreement as amended from time to time includes any schedules and exhibits attached hereto, and any executed Order Forms between You and Radial. Such documents encompass the entire agreement between you and Radial with respect to the subject matter hereof and supersede all prior representations, agreements and understands, written or oral.&nbsp;</span></p>
			<p><span style="font-size:14px">If any provision hereof should be held invalid, illegal or unenforceable in any jurisdiction, such invalidity, illegality or unenforceability shall not affect the validity, legality or enforceability of such provision in any other jurisdiction.&nbsp;</span></p>
			<p><span style="font-size: 14px; font-weight: bold; ">Waiver:</span></p>
			<p><span style="font-size:14px">The failure of Radial to exercise or enforce any right or provision of the Agreement shall not constitute a waiver of such right or provision. The Agreement constitutes the entire agreement between You and Radial and govern your use of the Service, superseding any prior agreements between you and Radial (including, but not limited to, any prior versions of the TOS).&nbsp;</span></p>

			@*<h3>
							1. Terms
						</h3>



				<p>
							By accessing this web site, you are agreeing to be bound by these
							web site Terms and Conditions of Use, all applicable laws and regulations,
							and agree that you are responsible for compliance with any applicable local
							laws. If you do not agree with any of these terms, you are prohibited from
							using or accessing this site. The materials contained in this web site are
							protected by applicable copyright and trade mark law.
						</p>

						<h3>
							2. Use License
						</h3>

						<ol type="a">
							<li>
								Permission is granted to temporarily download one copy of the materials
								(information or software) on Radial, Inc.'s web site for personal,
								non-commercial transitory viewing only. This is the grant of a license,
								not a transfer of title, and under this license you may not:
								<ol type="i">
									<li>modify or copy the materials;</li>
									<li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
									<li>attempt to decompile or reverse engineer any software contained on Radial, Inc.'s web site;</li>
									<li>remove any copyright or other proprietary notations from the materials; or</li>
									<li>transfer the materials to another person or "mirror" the materials on any other server.</li>
								</ol>
							</li>
							<li>
								This license shall automatically terminate if you violate any of these restrictions and may be terminated by Radial, Inc. at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
							</li>
						</ol>

						<h3>
							3. Disclaimer
						</h3>

						<ol type="a">
							<li>
								The materials on Radial, Inc.'s web site are provided "as is". Radial, Inc. makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, Radial, Inc. does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
							</li>
						</ol>
						<h3>
							4. Limitations
						</h3>
						<p>
							In no event shall Radial, Inc. or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on Radial, Inc.'s Internet site, even if Radial, Inc. or a Radial, Inc. authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
						</p>

						<h3>
							5. Revisions and Errata
						</h3>

						<p>
							The materials appearing on Radial, Inc.'s web site could include technical, typographical, or photographic errors. Radial, Inc. does not warrant that any of the materials on its web site are accurate, complete, or current. Radial, Inc. may make changes to the materials contained on its web site at any time without notice. Radial, Inc. does not, however, make any commitment to update the materials.
						</p>
						<h3>
							6. Links
						</h3>
						<p>
							Radial, Inc. has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Radial, Inc. of the site. Use of any such linked web site is at the user's own risk.
						</p>

						<h3>
							7. Site Terms of Use Modifications
						</h3>

						<p>
							Radial, Inc. may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
						</p>

						<h3>
							8. Governing Law
						</h3>

						<p>
							Any claim relating to Radial, Inc.'s web site shall be governed by the laws of the State of Nebraska without regard to its conflict of law provisions.
						</p>
						<p>
							General Terms and Conditions applicable to Use of a Web Site.
						</p>*@
		</div>
	</div>
</div>