
.axis {
    fill: #000000;
    opacity: 0.4;
}


    .axis path {
        fill: none;
        /*stroke: #E2E2E2;*/
        shape-rendering: crispEdges;
        vector-effect: non-scaling-stroke;
    }

    .axis line,
    .axis.origin {
        fill: none;
        stroke: #000000;
        opacity: 0.4;
        stroke-width: 1px;
        vector-effect: non-scaling-stroke;
    }

.title{
    font-size: 32px;
}



.scatter-point {
    stroke:black;
    stroke-width:1px;
    opacity: .28;
    -moz-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
}

/*.on.nearest {
    opacity: 1 !important;
    stroke-width: 6px;
}*/

.scatter-point:not(.on) {
    /*-webkit-filter: blur(3px);*/
}

.scatter-link {
    fill: none;
    stroke: black;
    opacity: 0.1;
    stroke-width: 1px;
    vector-effect: non-scaling-stroke;
    /*-moz-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;*/
}

.nearest {
    stroke-width:4px;
    -webkit-filter: hue-rotate(50deg);

    /*opacity:1 !important;*/
}

.inclusive {
    opacity: .8;
    fill: gray;
}


.tooltip {
    position: absolute;
    width: 200px;
    height: 28px;
    pointer-events: none;
}


.posterior:not(.on) {
    fill: gray;
    stroke:black;
}


.about-Manager {
    border-width:2px !important;
    border-color: blue !important;
    stroke: blue;
    fill: lightblue;
    background-color: lightblue;
}

.about-Subordinate {
    border-width:2px !important;
    border-color: darkred !important;
    stroke: darkred;
    fill: red;
    background-color: red;
}

.about-Teammate {
    border-width:2px !important;
    border-color: darkorange !important;
    stroke: darkorange;
    fill: orange;
    background-color: orange;
}

.about-Peer {
    border-width:2px !important;
    border-color: #000 !important;
    stroke: #000;
    fill: #7AD17A;
    background-color: #7AD17A;
}

.about-Self {
    border-width:2px !important;
    stroke: darkgoldenrod;
    fill: yellow;
    background-color: yellow;
    border-color: darkgoldenrod !important;
}

.about-NoRelationship {
    border-width:2px !important;
    stroke: #000;
    fill: #808080;
    background-color: #808080;
    border-color: #000 !important;
}

.separateReview .scatter-point {
    stroke: #000 !important;
    fill: #808080 !important;
}

.axisTitle{
    font-family:'Century Gothic', futura, 'URW Gothic L', Verdana, sans-serif;
    font-size:18px;
    font-weight:bold;
}