/*
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 960px;
    height: 500px;
    position: relative;
}*/

path.slice {
    stroke-width: 2px;
}

polyline {
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

.labels{
    font-size:26px;
}

.centerNumber{
    font-size:40px;
}
.centerText{
    font-size:20px;
}

div .piechart{
    width: 100%;
    height:400px;
    position: relative;
    margin: auto;
}
