@model RadialReview.Controllers.MeasurableController.MeasurableVM


<div class="form">
	@Html.HiddenFor(x => x.TemplateId)
	<div class="">
        <div class="btn btn-default clickable noPad" onclick="addRow();">Add Measurable</div>
		<div class="row">
			<div class="col-sm-12" id="allRows">
				<div style="width:calc( 100% - 25px );display:inline-block">
					@*<div class="row">
						<div class="col-sm-6"><u>Measurable</u></div>
						<div class="col-sm-6 alignCenter"><u>Weekly Goal</u></div>
					</div>*@
				</div>
				@foreach (var item in Model.TemplateMeasurables)
				{
					Html.RenderPartial("_TemplateMeasurableRow", item);
				}
			</div>
		</div>
	</div>
</div>
<script>
	function addRow() {
		$.ajax({
			url: "/Measurable/BlankTemplateEditorRow/@Model.TemplateId",
			cache: false,
			success: function (html) {
				$("#allRows").append(html);
			}
		});
		return false;
	}

	$(function () {
		$(document).on("click", "span.deleteRow", function () {
			$(this).parents("div.roleRow:first").hide();
			$(this).parents("div.roleRow:first").find("[name*='DeleteTime']").val("@Model.CurrentTime.ToString()");
			return false;
		});
	});


</script>
