.visible-phone {
  display: none !important;
}

/*.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 1200px;
}*/

body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Century Gothic', 'URW Gothic L', Verdana, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
  font-weight: normal;
}

#pop {
  color: #0088cc;
}


.logo {
  opacity: 0.3;
}

.logo:hover {
    opacity: 0.8;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -kthtml-transition: all 0.2s linear;
    transition: all 0.2s linear;
}


#circle
{
 font-size: 6em; /* This controls the size. */
 display: inline-block;
 width: 0.4em;
 height: 0.4em;
 border: 0.05em solid rgba(91, 155, 213, 0.29);
 position: relative;
 border-radius: 0.35em;
 margin-top: 5px;
 margin-left: 12px;
}

.navbar .nav {
margin: 10px 10px 0 0;
}

body .navbar .brand {
    margin-top: 10px;
    font-size: 20px;
    float: left;
    color: grey;
    font-weight: normal;
    position: absolute;
}

.navbar-inner {
min-height: 60px;
max-height:61px;
}

body > .navbar {
font-size: 17px;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
border-width: 0 0 3px;
}

.navbar-inverse .navbar-inner {
border-color: #002d44;
}

.btn {
  border-radius: 0px;
}

.try {
    background-color: #0088cc ! important;
    color: #fff ! important;
    float: right ! important;
    padding: 10px 15px ! important;
    margin-top: 0px ! important;
}

.try:hover {
    background-color: #56C6FF ! important;
    color: #fff ! important;
    text-decoration: none ! important;
}

.jumbotron {
  position: relative;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #020031; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #000000 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #000000 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #000000 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #000000 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(45deg,  #000000 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

html,body {height:100%;}
/*.jumbotron {height:95%;}*/

.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(/Content/home/Cover.jpg);
  background-size: cover;
  opacity: 0.3;
}

.jumbotron .btn {
display: inline-block;
margin: 0 auto;
}

.masthead {
padding: 0 0 0 0;
margin-bottom: 0;
color: #fff;
}

.masthead .btn {
border-radius: 0px;
margin-top: 5px;
}

.bs-docs-social img{
    max-height: 40px;
}

blockquote {
padding: 0 0 0 15px;
margin: 0 0 0px;
border-left: 0px;
}

.masthead h2 {
    font-size: 40px;
}

.masthead p {
    font-size: 20px;
    color: silver;
}

.marketing h1 {
margin: 45px 0 10px;
font-size: 60px;
font-weight: 200;
line-height: 1;
letter-spacing: -1px;
}

.marketing .marketing-byline {
margin-bottom: 15px;
}

.marketing-img {
max-height: 230px;
margin-bottom: 20px;
opacity: 0.5;
}

.marketing-img:hover {
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -kthtml-transition: all 0.2s linear;
    transition: all 0.2s linear;
    opacity: 0.8;
}

hr.soften {
height: 2px;
margin: 50px 0;
}

.testimonialbrand {
position: relative;
content: '';
display: block;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: url(/Content/Home/denim.png) repeat center center;
opacity: 1;
border-top: 50px;
margin-top: 0px;
padding-left: 25px;
padding-right: 25px;
}

.testimonial {
position: relative;
content: '';
display: block;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-size: cover;
opacity: 1;
border-top: 50px;
margin-top: 0px;
/*min-height: 85%;*/
padding-bottom: 50px;
}

.cta {
  background: #000;
  position: relative;
  content: '';
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  opacity: 1;
  border-top: 50px;
  margin-top: 0px;
}

.cta:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(/Content/Home/cityscape.jpg);
  background-size: cover;
  opacity: 0.3;
}

.cta .container {
  position: relative;
  z-index: 2;
}

.blackdrop {
  background: #020031; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #000000 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #000000 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #000000 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #000000 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(45deg,  #000000 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

form {
display: inline-block;
}

.quotation {
     position: absolute;
    bottom: 0;
    float: right;
    text-align: right;
    margin: 0 20px 20px 0;
    color: #fff;
    background-color: rgba(90, 90, 90, 0.3);
    padding: 15px 15px;
    margin-left: 20px;
}

.quotation:hover {
    background-color: rgba(0, 136, 204, 0.6);
}

.quotationdark {
    position: absolute;
    bottom: 0;
    float: right;
    text-align: right;
    margin: 0 20px 20px 0;
    color: #fff;
    background-color: rgba(0, 136, 204, 0.8);
    padding: 15px 15px;
    margin-left: 20px;
}

.quotationdark:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: #0088cc;
}

.example-sites img {
max-width: 100%;
max-height: 500px;
margin: 0 auto;
}

.btn:hover, .btn:focus {
color: #333333;
text-decoration: none;
background-position: 0 500px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
color: #ffffff;
background-color: #006aa0;
}

.btn-primary {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #0088cc;
background-image: -moz-linear-gradient(top, #0088cc, #0088cc);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0088cc));
background-image: -webkit-linear-gradient(top, #0088cc, #0088cc);
background-image: -o-linear-gradient(top, #0088cc, #0088cc);
background-image: linear-gradient(to bottom, #0088cc, #0088cc);
background-repeat: repeat-x;
/*border-color: #0044cc #0044cc #002a80;*/
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0088cc', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-large {
padding: 11px 19px;
font-size: 17.5px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 0px;
}

.thumbnail {
display: block;
background-color: rgba(0, 0, 0, 0.05);
}

.example-sites img {
max-width: 100%;
max-height: 150px;
min-height: 150px;
margin: 0 auto;
}

.sticky-bar {
margin-left: -20px;
height: 50px;
position: fixed;
bottom: 0;
z-index: 16;
min-width: 50000px;
background: rgba(0, 0, 0, .9);
}

.muted {
  color: #fff;
}

.jumbotron a:hover, a:focus {
text-decoration:none;
}

.jumbotron img:hover{
    /*-webkit-box-shadow: 0px 0px 4px 5px #ffffff;
    -moz-box-shadow: 0px 0px 4px 5px #ffffff;
    box-shadow: 0px 0px 4px 5px #ffffff;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -kthtml-transition: all 1s linear;*/
    opacity: 0.5;
    transition: all 0.2s linear;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
display: block;
}


#pricing .btn {
  margin-top: 20px;
}

#pricing .container .span3 {
  margin-left: 10px;
}

#pricing li {
  padding-bottom: 18px;
  line-height: 19px;
}

#pricing .section_header {
	margin-bottom: 70px;
}
#pricing .section_header hr {
	width: 35%;
}
#pricing .price_wrapper {
	background-color: #fafafa;
	border: 1px solid #d9d9d9;
	box-shadow: 0px 0px 5px 2px #E8E8E8;
	border-radius: 6px;
	min-height: 375px;
	position: relative;
}
#pricing .price_wrapper.regular .header {
	background: url('/Content/Home/denim.png') 0 0 repeat;
}


#pricing .price_wrapper.pro .header {
        background-color: #5b9bd5
}
#pricing .price_wrapper section .btn {
	left: 35%;
}
#pricing .price_wrapper .header {
	/*height: 98px;*/
	color: #fff;
	padding: 25px 20px 25px 20px;
}

#pricing .price_wrapper .header > span {
	font-size: 24px;
}
#pricing .price_wrapper .header .price {
	font-size: 20px;
	top: 25px;
	position: relative;
	font-weight: normal;
}
#pricing .price_wrapper .header .price span {
	font-size: 48px;
	margin-right: 10px;
}
#pricing .price_wrapper .section {
	padding: 15px 30px;
}
#pricing .price_wrapper .section h3 {
	color: #535861;
	font-size: 17px;
	line-height: 22px;
}
#pricing .price_wrapper .section ul.perks {
	list-style-type: none;
	margin-left: 0px;
	margin-top: 18px;
}
#pricing .price_wrapper .section ul.perks li {
	padding: 0px 0px 18px 0px;
}
#pricing .price_wrapper .section ul.perks i {
	margin-right: 10px;
}
#pricing .price_wrapper .section .btn {
	bottom: 15px;
	left: 32%;
	font-weight: normal;
}

/* Social icons
-------------------------------------------------- */
.iconsocial {
	background: url('/Content/Home/social_icons_gray.png') no-repeat 0 0;
	width: 33px;
	height: 33px;
	display: inline-block;
}
.iconsocial.tw { background-position: 0px 0px; }
.iconsocial.fb { background-position: -39px 0; }
.iconsocial.flickr { background-position: -78px 0; }
.iconsocial.in { background-position: -117px 0; }
.iconsocial.gp { background-position: -156px 0; }
.iconsocial.pin { background-position: -195px 0; }
.iconsocial.tumblr { background-position: -233px 0; }
.iconsocial.wp { background-position: 0 -51px; }
.iconsocial.yt { background-position: -39px -51px; }
.iconsocial.vim { background-position: -78px -51px; }
.iconsocial.picasa { background-position: -116px -51px; }
.iconsocial.forrst { background-position: -156px -51px; }
.iconsocial.rss { background-position: -194px -51px; }
.iconsocial.myspace { background-position: -233px -51px; }

.iconsocial.fb:hover {
    background: url('/Content/Home/social_icons_white.png') no-repeat 0 0;
    background-position: -39px 0;
}
.iconsocial.in:hover {
    background: url('/Content/Home/social_icons_white.png') no-repeat 0 0;
    background-position: -117px 0;
}
.iconsocial.tw:hover {
    background: url('/Content/Home/social_icons_white.png') no-repeat 0 0;
    background-position: 0px 0px;
}
.iconsocial.gp:hover {
    background: url('/Content/Home/social_icons_white.png') no-repeat 0 0;
    background-position: -156px 0;
}

.footer {
    background: url('/Content/Home/denim.png') repeat center center;
    width: 100%;
    display: inline-block;
    padding-bottom: 50px;
    margin-top:0px;
    border-top: 2px solid #002d44;
}