@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<a href="/organization/upload" class="btn btn-default">Upload Users</a>

<a href="/upload/l10" class="btn btn-default">Create L10</a>