@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.FullWidth = true;

}

@using (Html.BeginScripts()) {
    <script>
        window.recurrenceId = @ViewBag.RecurrenceId;
        
    </script>
    <script src="~/Scripts/Upload/UploadSteps.js"></script>
    <script src="~/Scripts/Upload/@ViewBag.UploadScript"></script>
}
@using (Html.BeginStyles()) {
    @*<link href="~/Content/Upload.css" rel="stylesheet" />*@
    <link href="~/Content/Upload/Upload.css" rel="stylesheet" />
}


<div class="upload-container">
    <div class="component">
        <h2>@ViewBag.Title</h2>

        <hr />
        <div id="notifications"></div>

        <div class="instructions">@ViewBag.Instructions</div>

        <div id="window"></div>

    </div>

</div>

