@*Supervisors, all answers*@
@model Tuple<List<RadialReview.Models.UserOrganizationModel>, List<RadialReview.Models.AnswerModel>>

@using (Html.BeginScripts())
{
    <script src="~/Scripts/review/translateSlider.js"></script>
}

@foreach (var manager in Model.Item1)
{
    if (Model.Item1.Count > 1)
    {
        <div class="noMargin smallPad" style="padding-top: 10px; padding-bottom: 10px; background-color: #A7ABB9;color:#3a3a3a;">@manager.GetNameAndTitle()</div>
    }
    <div class="panel-body">
        <table class="table table-condensed" style="min-width:50%">
            <tr class="noPad">
                <th class="noPad" style="width:1px;"></th>
                <th class="noPad" style="text-align:left">Question</th>
                <th class="noPad" style="width:1px;text-align:center">Answer</th>
            </tr>
            @foreach (var answer in Model.Item2.Where(x => x is RadialReview.Models.SliderAnswer && x.ByUserId == manager.Id).Cast<RadialReview.Models.SliderAnswer>())
            {
                <tr class="noPad">
                    <td class="noPad"></td>
                    <td class="noPad">
                        @answer.Askable.GetQuestion()
                    </td>
                    <td style="width:130px;text-align:center;" class=" color-value-percentage oneline alignCenter noPad">
                        @answer.Percentage
                    </td>
                </tr>
            }
        </table>
    </div>
}