@model RadialReview.Models.Enums.RockState

<div class="rockstate editor nonangular">
	<div class="rockstate-contents">
		<input type="hidden" class="changeable" value="@Model" name="@ViewData["name"]" />
		<span class="rockstate-val rockstate-AtRisk" data-value="AtRisk"><span class="center">OFF TRACK</span></span>
		<span class="rockstate-val rockstate-OnTrack" data-value="OnTrack"> <span class="center">ON TRACK</span></span>
		<span class="rockstate-val rockstate-Complete" data-value="Complete"><span class="center">DONE</span></span>
		<div class="fill cursor"></div>
		<div class="fill hover"></div>
	</div>
</div>
