
html {
	overflow: auto;
}

.component {
	margin: 5px 10px;
	background-color: white;
	padding: 5px 5px;
	border: 1px solid #E8E8E8;
	border-left: 1px solid #E8E8E8;
	/*width: 100%;*/
	/*width: calc(100% - 20px);
	height: calc(100% - 10px);*/
}

.component.flash {
	-webkit-animation: flash .5s ease 0 infinite alternate; /* Chrome, Safari, Opera */
	-moz-animation: flash .5s ease 0 infinite alternate;
	-ms-animation: flash .5s ease 0 infinite alternate;
	-o-animation: flash .5s ease 0 infinite alternate;
	animation: flash .5s ease 0 infinite alternate;
	border-width: 4px;
}
@-webkit-keyframes flash {
    from { border-color: red;}
    to { border-color: #A94442;}
}
@keyframes flash {
    from { border-color: red;}
    to { border-color: #A94442;}
}

.component.danger {
	color: #A94442;
	background-color: #F2DEDE;
	border-color: #EBCCD1;
}

	.component .title {
		font-size: 120%;
		font-weight: bold;
		text-align: center;
		border-bottom: 2px solid #F7F7F7;
		margin-bottom: 6px;
		padding-bottom: 3px;
		color: #444;
	}



.current-time {
	text-align: center;
	/*height: 110px;*/
}

	.current-time .big {
		font-size: 60px;
	}

	.current-time .hour {
	}

	.current-time .second {
		font-size: 22px;
		width: 10px;
		position: relative;
		/*line-height: 113px;*/
	}
.component .gray {
	-ms-opacity: .90;
	opacity: .90;
	color: inherit;
}

.main-window-container {
	position: absolute;
	display: table;
	width: 100%;
	height: 100%;
	padding: 5px 10px;
}

	.main-window-container .component {
		height: 100%;
		margin: 5px;
		padding: 15px;
	}

	.main-window-container .centered .component {
		-moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
		-webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
		-ms-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
		box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
	}

		.main-window-container .centered .component.error {
			-moz-box-shadow: 0 12px 15px 0 rgba(165, 0, 0, 0.24);
			-webkit-box-shadow: 0 12px 15px 0 rgba(165, 0, 0, 0.24);
			-ms-box-shadow: 0 12px 15px 0 rgba(165, 0, 0, 0.24);
			box-shadow: 0 12px 15px 0 rgba(165, 0, 0, 0.24);
		}

	.main-window-container .verticalCenter {
		display: table-cell;
		vertical-align: middle;
	}

#main-window {
	/*position: relative;*/
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.full {
	height: 100%;
	padding: 0px;
}
/*
@media (min-width: 768px) {
	.full {
		height: inherit;
	}
}*/

ul {
	padding-left: 30px;
}

.centered {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.loader {
	width: 162px;
	height: 100px;
	font-weight: bold;
	color: #DDD;
	line-height: 31px;
}
/*
table {
    width: 200px;
}*/

.profile {
	padding: 5px;
	margin: 5px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.meeting-manager .picture-container {
	width: 32px;
	height: 32px;
}


.validation-summary-errors ul {
	list-style-type: none;
	text-align: left;
}

.scorecard-table {
	white-space: nowrap;
	font-size: 17px;
}

	.scorecard-table .who {
		text-align: left;
	}

	.scorecard-table .measurable {
		text-align: right;
		font-weight: bold;
	}
	.scorecard-table .heading.measurable {
		text-align: right !important;
		font-weight: bold;
		padding-left: 20px;
		padding-right: 0px;
	}

	.scorecard-table .target {
		text-align: left;
	}

	.scorecard-table .date {
		/*padding-left: 20px;
		padding-right: 20px;*/
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
	}


	.scorecard-table .heading {
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
	}
	
	.scorecard-table th {
		border-bottom: 1px solid #E8E8E8;
	}
	.scorecard-table td {
		
	}
	
	.scorecard-table .score {
		text-align: center;
		color: #EFEFEF;
		padding: 0px;
	}

	.scorecard-table .score input::-webkit-input-placeholder {
		color: #EFEFEF;
	}

	.scorecard-table .score .danger {
		color: #C7254E;
		background-color: #F9F2F4;
	}
	
	.scorecard-table .score .success {
		color: #468847;
		background-color:#DFF0D8!important
	}
	
	.scorecard-table .score .error {
		color: #bbbbbb;
	}


	.scorecard-table .score input {
		border: none;
		padding: 0;
		text-align: center;
		width: 110px;
		height: 26px;
	}
.scorecard-table .score input:focus, .scorecard-table .score input:active {
	outline: #CCC auto 1px;
	border: 1px solid #DDD;
}


.scorecard-table .score input:focus::-webkit-input-placeholder {
	  color: transparent;
	}


#ScorecardTable td, #ScorecardTable th {
	border-right: 1px solid #E8E8E8;
}

#ScorecardTable_Over {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #FFF;
	border-right: 1px solid #E8E8E8;
}

	#ScorecardTable_Over td, #ScorecardTable_Over th {
		border-left: 1px solid #FFFFFF;
	}

h3 {
	margin-top: 10px;
	margin-bottom: 20px;
	font-weight: bold;
}


.date.current {
	/*background-color: #def5ff;*/
	color: #2c77ba;
}


.rt.lock {
	border: 1px solid purple !important;
	/*background-color: rgba(102, 102, 102, 0.26);
	background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.57) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.57) 50%,rgba(255,255,255,.57) 75%,transparent 75%,transparent);
	background-image: -o-linear-gradient(45deg,rgba(255,255,255,.57) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.57) 50%,rgba(255,255,255,.57) 75%,transparent 75%,transparent);
	background-image: linear-gradient(45deg,rgba(255,255,255,.57) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.57) 50%,rgba(255,255,255,.57) 75%,transparent 75%,transparent);
	-webkit-background-size: 40px 40px;
	-ms-background-size: 40px 40px;
	background-size: 40px 40px;
	pointer-events:none;
	cursor: not-allowed;*/
}

