
.alert {
    position: relative;
    z-index: 100;
}

html {
    overflow: auto;
}

body {
    background-color: #F7F7F7;
}

.component {
    /* margin: 5px 10px; */
    background-color: white;
    padding: 5px 5px;
    /* border: 1px solid #E8E8E8; */
    /* border-left: 1px solid #E8E8E8; */
    margin-bottom: 5px;
}

    .component.flash {
        -webkit-animation: flash .5s ease 0 infinite alternate; /* Chrome, Safari, Opera */
        -moz-animation: flash .5s ease 0 infinite alternate;
        -ms-animation: flash .5s ease 0 infinite alternate;
        -o-animation: flash .5s ease 0 infinite alternate;
        animation: flash .5s ease 0 infinite alternate;
        border-width: 4px;
    }

@-webkit-keyframes flash {
    from {
        border-color: red;
    }

    to {
        border-color: #A94442;
    }
}

@keyframes flash {
    from {
        border-color: red;
    }

    to {
        border-color: #A94442;
    }
}

.component.danger {
    color: #A94442;
    background-color: #F2DEDE;
    border-color: #EBCCD1;
}

.component .title {
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #F7F7F7;
    margin-bottom: 6px;
    padding-bottom: 3px;
    color: #444;
}

.current-time {
    text-align: center;
}

    .current-time .big {
        font-size: 60px;
    }

    .current-time .second {
        font-size: 22px;
        width: 10px;
        position: relative;
    }

.component .gray {
    -ms-opacity: .50;
    opacity: .50;
    color: inherit;
}

.main-window-container .component {
    height: 100%;
    margin: 0px;
    padding: 15px;
}

.main-window-container .centered .component {
    -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

    .main-window-container .centered .component.error {
        -moz-box-shadow: 0 12px 15px 0 rgba(165, 0, 0, 0.24);
        -webkit-box-shadow: 0 12px 15px 0 rgba(165, 0, 0, 0.24);
        -ms-box-shadow: 0 12px 15px 0 rgba(165, 0, 0, 0.24);
        box-shadow: 0 12px 15px 0 rgba(165, 0, 0, 0.24);
    }

.main-window-container .verticalCenter {
    display: table-cell;
    vertical-align: middle;
}

#main-window {
    margin: 5px 10px;
    padding-bottom: 20px;
}

.full {
    padding: 0;
}

ul {
    padding-left: 30px;
}

.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.loader {
    width: 162px;
    height: 100px;
    font-weight: bold;
    color: #DDD;
    line-height: 31px;
}

.profile {
    padding: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.meeting-manager {
    text-align: left;
}

    .meeting-manager .name {
        padding-left: 10px;
    }

    .meeting-manager .picture-container {
        width: 32px;
        height: 32px;
    }

.validation-summary-errors ul {
    list-style-type: none;
    text-align: left;
}

h3 {
    margin-top: 10px;
    /* margin-bottom: 30px; */
    font-weight: bold;
}

.rt.lock {
    /*border: 1px solid purple !important;*/
    outline: purple auto 1px;
}

.page-time {
    float: right;
    color: #bbbbbb;
    position: relative;
}

.page-item .page-time {
    color: #444444;
}

    .page-item .page-time.over {
        color: #e23737;
    }

    .page-item .page-time .second {
        display: none;
    }

    .page-item .page-time:hover .second {
        display: none;
        position: absolute;
        right: -30px;
        top: 0;
        text-align: left;
    }

.page-item.current > * {
    font-weight: bold;
    /*color: #EF7622;*/
}

.agenda ol {
    padding-left: 24px;
}

.agenda .page-item:not(.current) .page-time {
    opacity: .35;
    transition: ease opacity .2s;
}

.agenda:hover .page-item .page-time {
    opacity: 1;
}

.alert {
    padding: 5px 30px 5px 10px;
}

.agenda a:not(.clickable) {
    cursor: default;
}

    .agenda a:not(.clickable):hover {
        color: #767F99;
    }

.issuesButton, .todoButton, .vtoButton {
    color: white;
    left: 0px;
    top: 3px;
    opacity: .5;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    cursor: pointer;
    white-space: nowrap;
}

.issuesButton:hover,
.vtoButton:hover{
    opacity:1;
}

.fontastic-icon-pinboard.issuesButton:before {
    top: 4px !important;
}

.todo-row .fontastic-icon-pinboard.issuesButton:before {
    top: 9px !important;
}

.todoButton:after {
    opacity: 0;
    transition: all .4s ease;
}

.issuesButton.glyphicon-pushpin:hover {
    left: -1px;
    top: 4px;
    opacity: 1;
    transform: rotate(-8deg);
}

.todoButton:hover {
    opacity: 1;
}

    .todoButton:hover:after {
        position: absolute;
        left: 0;
        opacity: 1;
        content: "\e067";
    }


.meeting-page .page-header {
    margin-top: 0px;
    margin: 5px 0;
}

.meeting-page h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.meeting-page h4 {
    margin-top: 20px;
    margin-bottom: 0px;
}

.editable-input .form-control {
    min-width: 80px;
}


.editable-click:not(:hover) {
    border-bottom: none !important;
}

.editable-click {
    cursor: pointer;
}

.has-error .help-block, .has-error .control-label {
    font-size: 13px;
}

profile-image {
    position: relative;
}

    profile-image .picture-container {
        width: 32px;
        height: 32px;
        border: 1px solid #DDD;
        padding: 1px;
        background-color: white;
        line-height: 29px;
        text-align: center;
        font-weight: bold;
        color: #444444;
        /* font-size: 14px; */
        /* white-space: nowrap; */
        overflow: hidden;
    }

    profile-image .picture {
        display: inline-block;
    }

.calendar-container {
    position: relative;
}

    .calendar-container .glyphicon-calendar {
        position: absolute;
        top: 9px;
        left: 9px;
        color: #444444;
    }

    .calendar-container .caret {
        pointer-events: none;
        position: absolute;
        top: 16px;
        right: 9px;
        color: #444444;
    }

    .calendar-container input {
        padding-left: 27px;
    }

.meeting-review .component {
    /* margin: 5px 0; */
}

.lockedPointer {
    cursor: not-allowed !important;
}

.editable-text {
    border-bottom: 2px solid transparent;
}

    .editable-text:hover {
        border-bottom: 2px solid #ddd;
    }

    .editable-text:after {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        font-size: 75%;
        -moz-osx-font-smoothing: grayscale;
        color: #bbb;
    }

    .editable-text:hover:after {
        content: "\270f";
        width: 0px;
    }


/*.Flipped, .Flipped .Content
{
    transform:rotateX(180deg);
    -ms-transform:rotateX(180deg); /* IE 9 *
    -webkit-transform:rotateX(180deg); /* Safari and Chrome *
}*/

.empty-holder:after,
.empty-holder:before {
    opacity: 1;
    padding-left: 0px;
    margin-left: -10px;
    text-transform: uppercase;
    font-family: 'Lato',sans-serif;
    margin-top: 10%;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: #E6E6E6;
    text-shadow: 0px -1px 0px #FFF;
    -webkit-transition: opacity .75s;
}

.start-meeting .btn-default {
    width: 140px;
}

.btn.settings-button {
    color: #CAC4BE;
    border-color: transparent;
}

    .btn.settings-button:hover {
        border-color: #CAC4BE;
        /*color: #F7F7F7;*/
        background-color: transparent;
    }

    .btn.settings-button .glyphicon {
        top: 3px;
    }

.slider-container {
    position: fixed;
    left: 0px;
    top: 30px;
    bottom: 0px;
    right: 0px;
    overflow-x: hidden;
    margin: 5px;
}

    .slider-container .slider {
        position: absolute;
        width: 100%;
        height: 100%;
        -moz-transition: margin ease .25s;
        -o-transition: margin ease .25s;
        -webkit-transition: margin ease .25s;
        transition: margin ease .25s;
    }

        .slider-container .slider .left-panel {
            position: absolute;
            left: 15px;
            top: 5px;
            bottom: 0;
            right: 15px;
        }

        .slider-container .slider .right-panel {
            position: absolute;
            left: 100%;
            left: calc(100% + 5px);
            top: 0px;
            bottom: 35px;
            width: 100%;
            width: calc(100% - 10px);
            /* overflow-x: hidden; */
        }

            .slider-container .slider .right-panel iframe {
                width: 100%;
                height: 100%;
                border: none;
            }
            
        .slider-container .back-button{
            position: fixed;
            top: 35px;
            left: 1px;
            width:57px;
        }
        .slider-container .print-vto-button{
            position: fixed;
            top: 58px;
            left: 1px;
            width:57px;
        }

iframe{
    background: url('/Content/select2-spinner.gif');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 20%;
}


/*.component.additional-pages{
    position:fixed;
    bottom:0;
}*/