.rocks-container {
  margin-bottom: 24px;
}
.rocks-container.rocks-combine .company-rock-container {
  display: none;
}
.rocks-container .rock-row.rock-type-company .message {
  text-shadow: 0px 0px 0px #ffb700;
}
.rocks-container .rocks-item {
  padding: 5px;
  width: 400px;
  height: 220px;
  margin-top: 10px;
  text-align: center;
  position: relative;
}
.rocks-container .message {
  font-size: 16px;
  padding-left: 42px;
  padding-bottom: 6px;
  text-shadow: 0px 0px 0px #3f3a36;
}
.rocks-container .rocks-item .owner {
  text-align: right;
  color: #B2B2B2;
  position: absolute;
  left: 0;
  right: 10px;
  bottom: 5px;
  font-size: 12px;
}
.rocks-container .rocks-item .owner .lbl {
  color: lightgray;
}
.rocks-container .owner {
  font-size: 14px;
  position: relative;
  top: -7px;
  text-transform: uppercase;
  left: -4px;
}
.company-rock-container .owner {
  font-size: 17px;
}
.company-rock-container .message {
  padding-left: 0px;
  width: 100%;
  padding-bottom: 0px;
}
.company-rock-container td.picture {
  width: 42px;
}
.rocks-container .picture-container {
  width: 30px;
  height: 30px;
  border: 1px solid #DDD;
  padding: 1px;
  margin: 0px 6px;
}
.rocks-container tr:first-child {
  border-bottom: 1px solid #f0f0f0;
}
.rocks-container tr:not(:last-child) td {
  border-bottom: 1px solid #f0f0f0;
}
.rocks-container tr:not(:last-child) td:last-child {
  border-bottom: 1px solid #2C77BA;
}
.rocks-container tr:nth-child(2) td.currentBlue {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top: none;
}
.rocks-container tr:last-child td.currentBlue {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom: none;
}
.rocks-container td.currentBlue {
  background-color: #2C77BA;
  border-bottom: 1px solid #2C77BA;
  text-align: center;
  width: 46px;
  min-width: 46px;
  padding: 6px;
  vertical-align: top;
  padding-top: 3px;
}
.rocks-container .rock-state-holder {
  vertical-align: top;
  line-height: 0.5;
}
.rocks-container .component {
  margin-bottom: 12px;
  padding: 6px 6px 6px 1px;
  box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.2);
  border: 1px solid #d0d0d0;
  margin: 5px;
}
.rocks-container .rock-row .rock-title {
  cursor: pointer;
}
.rocks-container .rock-row.selected .rock-title {
  font-weight: bold;
}
.completion-percentage {
  padding-right: 1px;
  padding-top: 4px;
}
.completion-percentage .ratio,
.completion-percentage .percentage {
  font-size: 16px;
  display: inline-block;
  font-weight: bold;
  color: #444;
  text-align: right;
  padding-right: 11px;
}
.completion-percentage .percentage {
  text-align: right;
}
.company-rocks-heading {
  /*font-weight: bold;*/
  text-transform: uppercase;
  font-size: 20px;
  height: 22px;
  position: relative;
  top: -4px;
  left: 4px;
  color: rgba(137, 112, 0, 0.9);
}
.company-rock-container .completion-percentage .ratio,
.company-rock-container .completion-percentage .percentage {
  color: rgba(137, 112, 0, 0.9);
}
.company-rocks-heading-container {
  height: 28px;
}
.company-rock-container .component {
  background-color: #F7EFD5;
  /* border-color: #69A779; */
  color: #897000;
  border: 1px solid #8A7104;
  border-top-color: #B3A77F;
  border-left-color: #A29051;
  border-style: solid;
  border-right-color: #A29051;
  border-radius: 3px;
  padding: 3px;
  padding-bottom: 6px;
  box-shadow: 0px 9px 22px -8px rgba(0, 0, 0, 0.42);
}
.rocks .page-header.listing {
  margin-top: -28px;
  padding-top: 26px;
  background-color: #eee;
  z-index: 11;
  box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.2);
}
.rocks .fixed-pos {
  position: relative;
  width: 100%;
}
.rocks .page-header {
  margin-top: 0px;
  margin: 5px 0;
}
.rocks .rock-group .message {
  max-width: calc(100% - 275px);
}
.rocks .page-header.details > h4 {
  margin-bottom: -7px;
}
.rock-title {
  z-index: 1;
  position: relative;
}
.milestone-marker-container {
  position: relative;
  margin-bottom: 7px;
}
.milestone-marker-container .pre-line,
.milestone-marker-container .post-line {
  height: 1px;
  position: absolute;
  background-color: #d6d6d6;
  top: 4px;
}
.milestone-marker-container .milestone-date-container,
.milestone-marker-container .milestone-date-marker {
  position: absolute;
  height: 5px;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  left: 5%;
  top: 2px;
}
.milestone-marker-container .milestone-date-container {
  background-color: #f7f7f7;
}
.milestone-marker-container .milestone-date-marker {
  background-color: #e8e8ff;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-color: #c2cbdc;
}
.milestone-marker-container .milestone-date-marker.past-due.status-NotDone,
.milestone-marker-container .milestone-date-marker.past-due.status-0 {
  background-color: #f1d9d8;
  border-color: #D9534F;
}
.milestone-marker-container .milestone-date-marker.status-Done,
.milestone-marker-container .milestone-date-marker.status-8 {
  background-color: #e2f7e6;
}
.milestone-marker-container .milestone-marker {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 7px;
  background-color: #f7f7f7;
  border: 1px solid #d6d6d6;
  top: 0px;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
  margin-left: -5px;
  z-index: 3;
}
.milestone-marker-container .milestone-marker:hover,
.milestone-marker-container .milestone-marker.mouseover {
  width: 12px;
  height: 12px;
  border: 1px solid #d6d6d6;
  margin-top: -1px;
  margin-left: -6px;
  z-index: 4;
}
.milestone-marker-container .milestone-marker.status-8,
.milestone-marker-container .milestone-marker.status-Done {
  background-color: #e2f7e6;
  border: 1px solid #449D44;
  z-index: 1;
}
.milestone-marker-container .milestone-marker.status-8:hover,
.milestone-marker-container .milestone-marker.status-Done:hover,
.milestone-marker-container .milestone-marker.status-8.mouseover,
.milestone-marker-container .milestone-marker.status-Done.mouseover {
  border: 1px solid #449D44;
  z-index: 4;
}
.milestone-marker-container .milestone-marker.past-due.status-NotDone,
.milestone-marker-container .milestone-marker.past-due.status-0 {
  background-color: #f1d9d8;
  border: 1px solid #D9534F;
  z-index: 2;
}
.milestone-marker-container .milestone-marker.past-due.status-NotDone:hover,
.milestone-marker-container .milestone-marker.past-due.status-0:hover,
.milestone-marker-container .milestone-marker.past-due.status-NotDone.mouseover,
.milestone-marker-container .milestone-marker.past-due.status-0.mouseover {
  border: 1px solid #D9534F;
  z-index: 4;
}
.milestone-marker-container .milestone-marker.rock-duedate-marker {
  width: 6px;
  height: 12px;
  border-radius: 0px;
}
.rock-details h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  min-height: 30px;
  padding-bottom: 6px;
  border-bottom: 1px solid #eee;
}
.rock-details .component {
  margin-bottom: 10px;
}
.rock-details .component:empty:after {
  color: #ddd;
  content: "Click a Rock to see its details.";
}
.rock-details .details {
  border: 1px solid #E8E8E8;
  padding: 0 1px 0 0;
  color: #666;
  font-size: 12px;
  background-color: #FcFcFc;
  width: 100%;
  resize: vertical;
  height: 116px;
  min-height: 116px;
}
.rock-details .button-bar .todoButton {
  color: #5E5E5E;
  top: 1px;
  opacity: 1;
  transition: all .4s ease;
}
.rock-details .milestone-table {
  min-height: 40px;
  width: 100%;
  margin-left: 8px;
  display: inline-block;
  overflow-y: auto;
}
.rock-details .milestone-table:empty:after {
  content: "No milestones.";
  padding: 10px;
  color: #ddd;
}
.rock-details .milestone-table .milestone-status-cell {
  width: 20px;
}
.rock-details .milestone-table .milestone-duedate-cell .milestone-duedate.overdue input {
  color: #D9534F;
}
.rock-details .milestone-table .milestone-delete-cell {
  width: 20px;
}
.rock-details .milestone-table .milestone-name-cell {
  width: 60%;
}
.rock-details .milestone-table .milestone-name {
  color: #666;
  cursor: pointer;
}
.rock-details .milestone-table .milestone.mouseover .milestone-name {
  text-decoration: underline;
}
.rock-details .milestone-table .milestone-duedate-cell {
  width: 100px;
  min-width: 100px;
}
.rock-details .milestone-table .milestone-duedate-cell input {
  text-align: right;
  padding-right: 10px;
}
.rock-details .add-milestone-button {
  float: right;
}
.rock-details .add-on {
  display: none;
}
.rock-details .rock-duedate .date {
  width: 100px;
  display: inline-block;
}
.rock-details .rock-duedate .date input {
  text-align: left;
  padding-left: 12px;
}
.rock-details .client-date {
  border: none;
  padding: 0px;
  box-shadow: none;
  color: #767F99;
  cursor: pointer;
  height: inherit;
}
.rock-details .client-date:hover {
  text-decoration: underline;
}
.rock-details .message-input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid #EF7622;
  margin-top: -1px;
  color: black !important;
  resize: vertical;
  overflow: auto;
}
.rock-details .message:hover {
  border-top: 1px solid transparent;
  border-bottom: 1px solid #EF7622;
}
.rock-empty-holder:after {
  content: "Click 'Add Rock' to create a rock";
}
@media (max-width: 767px) {
  .rocks-container .message {
    font-size: 13px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 9px;
    padding-bottom: 7px;
  }
  .company-rock-container .message {
    padding-left: 0px;
  }
  .rocks .l10-page-title {
    color: rgba(0, 0, 0, 0);
    height: 15px;
  }
}