
.scorecard-table {
	white-space: nowrap;
	font-size: 17px;
	min-height: 600px;
}

	.scorecard-table tr.last {
		height: 100%;
	}
	.scorecard-table .who {
	}
	
	.scorecard-table .heading.who {
		text-align: left;
	}

	.scorecard-table .who .newLine {
		/*position: relative;
		top: 20px;
		font-size: 16px;*/
		font-size: 70%;
	}

	.scorecard-table .measurable {
		text-align: right !important;
		font-weight: bold;
		padding-left: 10px;
		padding-right: 10px;
		max-width: 240px;
		-ms-text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		-moz-text-overflow: ellipsis;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.scorecard-table .target {
		text-align: left;
		padding-left: 5px;
		padding-right:10px;
	}
	/*
	.scorecard-table .heading.measurable {
		text-align: right !important;
		font-weight: bold;
		padding-left: 20px;
		padding-right: 0px;
	}*/

	.scorecard-table .target {
		text-align: left;
	}

	.scorecard-table .date {
		/*padding-left: 20px;
		padding-right: 20px;*/
		text-align: center;
		font-weight: normal;
		/*text-transform: uppercase;*/
		min-width: 70px;
	}
	
		.scorecard-table .date.current {
			/*background-color: #def5ff;*/
			background-color: #2c77ba;
			color: white;
			font-weight: bold; 
			/*width: 100px;*/
		}
		.scorecard-table .score.current input {
			float: left;
			/*width: 100px;*/
			font-weight: bold;
		}
		.scorecard-table .score.current {
			border-left: 2px solid #2c77ba;
			border-right: 2px solid #2c77ba;
		}
		.scorecard-table .date.current {
			border-left: 2px solid #2c77ba;
			border-right: 2px solid #2c77ba;
		}

		.scorecard-table tr:nth-last-child(2) .score.current {
			border-bottom: 2px solid #2c77ba;
		}
		
		.scorecard-table .buttonColumn {
			/*width: 24px;
			max-width:24px;*/
		}

		.scorecard-table .buttonHolder {
			background-color: #2c77ba;
			border-right: 2px solid  #2c77ba;
		}
		.scorecard-table  tr:nth-last-child(2) .buttonHolder {
			border-bottom: 2px solid  #2c77ba;
		}
		.scorecard-table  tr:nth-child(1) .buttonHolder {
			border-top: 2px solid  #2c77ba;
		}



	.scorecard-table .heading {
		/*padding-left: 20px;
		padding-right: 20px;
		text-align: center;*/
		font-weight: bold;
		text-transform: uppercase;
	}

	.scorecard-table th {
		border-bottom: 1px solid #E8E8E8;
	}

	.scorecard-table .score {
		text-align: center;
		color: #EFEFEF;
		padding: 0px;
	}

		.scorecard-table .score input::-webkit-input-placeholder {
			color: #EFEFEF;
		}

		.scorecard-table .score .danger {
			color: #C7254E;
			background-color: #F9F2F4;
		}

		.scorecard-table .score .success {
			color: #468847;
			background-color: #DFF0D8 !important;
		}

		.scorecard-table .score .error {
			color: #bbbbbb;
		}


		.scorecard-table .score input {
			border: none;
			padding: 0;
			text-align: center;
			width: 70px;
			height: 26px;
		}

			.scorecard-table .score input:focus, .scorecard-table .score input:active {
				outline: #CCC auto 1px;
				border: 1px solid #DDD;
			}


				.scorecard-table .score input:focus::-webkit-input-placeholder {
					color: transparent;
				}


#ScorecardTable td.date, #ScorecardTable th.date {
	/*border-right: 1px solid #E8E8E8;*/
}

#ScorecardTable_Over {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #FFF;
	border-right: 1px solid #E8E8E8;
}

	#ScorecardTable_Over td, #ScorecardTable_Over th {
		border-left: 1px solid #FFFFFF;
	}