.scorecard .component {
    padding: 0px;
}

.scorecard-table {
    white-space: nowrap;
    font-size: 17px;
    border-collapse: separate;
    /*min-height: 600px;*/
}

    .scorecard-table td {
        height: 25px;
    }

#ScorecardTable_Over tr:not(.ui-sortable-helper):not(.divider):last-child td {
    /*border-bottom: 3px solid white;*/
}

.scorecard-table tr.last {
    height: 100%;
}

.scorecard-table tr:nth-last-child(1) {
    /*border-bottom: 1px solid transparent;*/
}

.scorecard-table .who {
}

.scorecard-table .heading.who {
    text-align: left;
    min-width: 25px;
    /*float:left;*/
    width: 1px;
    font-size: 14px;
}

    .scorecard-table .heading.who.alignRight {
        padding-left: 5px;
    }

.scorecard-table .who .newLine {
    /*position: relative;
		top: 20px;
		font-size: 16px;*/
    font-size: 58%;
}

.scorecard-table .measurable.heading {
    padding-left: 5px;
    min-width: 100px !important;
    /*width: 165px;*/
}

.scorecard-table .measurable {
    /*text-align: right !important;*/
    /*font-weight: bold;*/
    padding-left: 5px;
    padding-right: 2px;
    max-width: 240px;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
}

.scorecard-table .target {
    text-align: left;
    padding-left: 5px;
    padding-right: 10px;
}

    .scorecard-table .target.value {
        text-align: left;
    }
    /*
	.scorecard-table .heading.measurable {
		text-align: right !important;
		font-weight: bold;
		padding-left: 20px;
		padding-right: 0px;
	}*/

    .scorecard-table .target.direction {
        text-align: center;
        width: 1px;
        padding-right: 0px;
        padding-left: 10px;
    }

.scorecard-table .unit {
    font-size: 14px;
}


.scorecard-table .date {
    /*padding-left: 20px;
		padding-right: 20px;*/
    text-align: center;
    font-weight: normal;
    /*text-transform: uppercase;*/
    min-width: 70px;
}

    .scorecard-table .date.current {
        /*background-color: #def5ff;*/
        background-color: #2c77ba;
        color: white;
        border-color: #2c77ba;
        /*font-weight: bold;*/
        /*width: 100px;*/
    }

.scorecard-table .score.current input {
    /*float: left;*/
    /*width: 100px;*/
    /*font-weight: bold;*/
}

.scorecard-table .score.current {
    border-left: 3px solid #2c77ba;
    border-right: 3px solid #2c77ba;
}

.scorecard-table .date.current {
    border-left: 3px solid #2c77ba;
    border-right: 3px solid #2c77ba;
}

.scorecard-table tr:nth-last-child(1) td {
    border-bottom: 3px solid transparent;
}

.scorecard-table tr:nth-last-child(1) .score.current {
    border-bottom: 3px solid #2c77ba;
}



.scorecard-table .buttonColumn {
    /*width: 24px;
			max-width:24px;*/
}

.scorecard-table .buttonHolder {
    background-color: #2c77ba;
    /*border-right: 2px solid #2c77ba;*/
}

.scorecard-table tr:nth-last-child(1) .buttonHolder {
    border-bottom: 3px solid #2c77ba;
}

.scorecard-table tr:nth-child(1) .buttonHolder {
    /*border-top: 3px solid #2c77ba;*/
}



.scorecard-table .heading {
    /*padding-left: 20px;
		padding-right: 20px;
		text-align: center;*/
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    height: 25px;
}

.scorecard-table th {
    border-bottom: 1px solid #E8E8E8;
}


.scorecard-table .measurable-column input[disabled],
.scorecard-table .goal-column input[disabled] {
    background-color: inherit;
    border: inherit;
}

@media(print) {
    .scorecard {
        font-size: 10px;
    }

    #ScorecardTable_Over {
        display: none;
    }
}

.scorecard-table .score {
    text-align: center;
    color: #333;
    padding: 0px;
}

    .scorecard-table .score form {
        display: table-cell;
    }

    .scorecard-table .score input::-webkit-input-placeholder {
        color: #EFEFEF;
    }

    .scorecard-table .score .danger {
        color: #C7254E;
        background-color: #F9F2F4;
    }

    .scorecard-table .score .success {
        color: #468847;
        background-color: #DFF0D8 !important;
    }

    .scorecard-table .score .error {
        color: #bbbbbb;
    }

    /*.scorecard-table .unit[data-unit="None"],
.scorecard-table .unit[data-unit="Percent"] {
    float: right;
    position: relative;
    bottom: -2px;
}*/


    .scorecard-table .score input {
        border: none;
        padding: 0;
        text-align: center;
        width: 70px;
        height: calc(100% + 2px);
        font-family: monospace;
        font-size: 13px;
        top: -2px;
        position: relative;
        border-left: 1px solid #E0E0E0;
        border-bottom: 1px solid #E0E0E0;
        /*margin-top: -2px;
		margin-bottom: -2px;*/
    }

        .scorecard-table .score input:focus, .scorecard-table .score input:active {
            outline: #2c77ba auto 2px; /* rgb(33,115,70) auto 2px;*/
            outline-offset: -1px;
            outline-style: solid;
            /* border: 1px solid #DDD; */
            background-color: #EFEFEF;
            background-color: white;
            z-index: 100000000;
            width: 71px;
            /* left: 0px; */
            margin-right: -1px;
            margin-top: 0px;
            /* height: 25px; */
            /* margin-bottom: 0px; */
        }


            .scorecard-table .score input:focus::-webkit-input-placeholder {
                color: transparent;
            }


#ScorecardTable td.date, #ScorecardTable th.date {
    /*border-right: 1px solid #E8E8E8;*/
}

#ScorecardTable {
    margin-bottom: 18px;
}

#ScorecardTable_Over {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #FFF;
    /*border-right: 1px solid #E8E8E8;*/
    display: block;
    max-width: 80%;
}

    #ScorecardTable_Over td, #ScorecardTable_Over th {
        /*border-left: 1px solid #FFFFFF;*/
    }

.direction_1:empty:before,
.direction_GreaterThan:empty:before {
    content: "≥";
}

.direction_LessThan:empty:before {
    content: "<";
}

.direction_LessThanOrEqual:empty:before {
    content: "≤";
} 

.direction_GreaterThanNotEqual:empty:before {
    content: ">";
}

.direction_EqualTo:empty:before {
    content: "=";
}
.direction_Between:empty:before {
    content: "⇔";
}

.modifiers.Dollar:before,
.modifiers.dollar:before {
    content: "$";
}

.modifiers.Percent:after,
.modifiers.percent:after {
    content: "%";
}

.scorecard-table .handle {
    color: #CCC !important;
    cursor: move;
    /*top: 1px;*/
    /*position: relative;*/
}

.scorecard-table .xsortable-placeholder {
    border: 1px dotted #444;
    margin: 2px;
}



.modifiers-0:before {
    content: "units";
}

.modifiers-1:after {
    content: "dollars";
}

.modifiers-2:after {
    content: "%";
}

#ScorecardTable_Over {
    /* width: 91px!important; */
    overflow-x: auto;
    overflow-y: hidden;
}


.scorecard-table .score input[disabled] {
    /*background-image: -webkit-linear-gradient(45deg,rgba(237, 237, 237, .81) 25%,rgba(255, 255, 255, 0.20) 25%,rgba(255, 255, 255, 0.20) 50%,rgba(237, 237, 237, .81) 50%,rgba(237, 237, 237, .81) 75%,rgba(255, 255, 255, 0.20) 75%,rgba(255, 255, 255, 0.20));
	background-image: -o-linear-gradient(45deg,rgba(237, 237, 237, .81) 25%,transparent 25%,transparent 50%,rgba(237, 237, 237, .81) 50%,rgba(237, 237, 237, .81) 75%,transparent 75%,transparent);
	background-image: linear-gradient(45deg,rgba(237, 237, 237, .81) 25%,rgba(255, 255, 255, 0.20) 25%,rgba(255, 255, 255, 0.20) 50%,rgba(237, 237, 237, .81) 50%,rgba(237, 237, 237, .81) 75%,rgba(255, 255, 255, 0.20) 75%,rgba(255, 255, 255, 0.20));
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px;*
    background-color: #EFEFEF !important;*/
    background-color:#f7f7f7 !important;
    background-color:#ececec !important;
}

/*.scorecard-table .score input[disabled].success {
	background-image: -webkit-linear-gradient(45deg,rgba(237, 237, 237, .81) 25%,rgba(255, 255, 255, 0.20) 25%,rgba(255, 255, 255, 0.20) 50%,rgba(237, 237, 237, .81) 50%,rgba(237, 237, 237, .81) 75%,rgba(255, 255, 255, 0.20) 75%,rgba(255, 255, 255, 0.20));
	background-image: -o-linear-gradient(45deg,rgba(237, 237, 237, .81) 25%,transparent 25%,transparent 50%,rgba(237, 237, 237, .81) 50%,rgba(237, 237, 237, .81) 75%,transparent 75%,transparent);
	background-image: linear-gradient(45deg,rgba(237, 237, 237, .81) 25%,rgba(255, 255, 255, 0.20) 25%,rgba(255, 255, 255, 0.20) 50%,rgba(237, 237, 237, .81) 50%,rgba(237, 237, 237, .81) 75%,rgba(255, 255, 255, 0.20) 75%,rgba(255, 255, 255, 0.20));
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px;
}*/

.scorecard-table {
    font-family: 'Roboto',sans-serif;
}

    .scorecard-table .number {
        text-align: center;
        font-weight: bold;
    }


    .scorecard-table .target.direction,
    .scorecard-table .target-value {
        font-size: 15px;
    }


.scorecard-empty-holder:before {
    content: "\2190";
    font-size: 60px;
    position: absolute;
    left: 15px;
    text-align: left;
    top: 91px;
    margin-top: 0px;
}

.scorecard-empty-holder:after {
    content: "To add a scorecard item, click the settings button";
}

.scorecard-angular .scorecard-table .score input {
    font-family: inherit;
    font-size: 13px;
    width: 80px;
    height: calc(100% + 1px);
}

.scorecard-list-container .scorecard-table .score input {
    height: calc(100% + 1px) !important;
}
/*#ScorecardTable_Over tr.divider td, #ScorecardTable_Over tr.divider th {
    top: -1px;
    position: relative;
    height: 4px;
}*/
/*.scorecard-table .divider,*/
/*.scorecard-table .divider td,{
    /*height: 3px;
    background-color: #e0e0e0; /*#E8E8E8;
    border-top: 1px solid transparent;
}*/

.scorecard-table .divider td,
#ScorecardTable_Over .divider .header-cell {
    /*height: 3px;
    position: relative;
    top: -1px !important;*/
    height: 8px;
    position: relative;
    border-bottom: 0px solid white;
    top: -0px !important;
    background-color: #eee;
    border-top: 2px solid rgba(0,0,0,.12);
    box-shadow: 0px 2px 6px -5px rgba(0,0,0,0.1) inset
}

    .scorecard-table .divider td.current-divider-left {
        background-color: #2C77BA; /*#E8E8E8;*/
        border-top: 2px solid #2C77BA;
        background-color:#eee;

        /*-moz-transition: height ease-in-out .15s;
    -o-transition: height ease-in-out .15s;
    -webkit-transition: height ease-in-out .15s;
    transition: height ease-in-out .15s;*/
    }

    .scorecard-table .divider td.current-divider-right.handle {
        /*border-top: none;*/
    }


.scorecard-table .divider:hover td {
    /*height: 6px;
    position: relative;
    top: -1px!important;*/
}

#ScorecardTable_Over.scorecard-table .divider {
    /*border-top: 2px solid #FFF;*/
    /*height: 4px;
	top: 2px;*/
}


.scorecard-table .divider .icon:before,
.scorecard-table .divider .glyphicon:before {
    color: #999999;
}

.scorecard-table .reorderable td {
}

.scorecard-table .deleteDivider {
    /*position: absolute;*/
    /*left: 22px;
	top: -4px !important;
	opacity: 0;
	z-index: 10000;*/
    font-size: 10px;
    top: 0px;
    left: 5px;
    margin: -3px;
}

.scorecard-table .divider .glyphicon {
    cursor: pointer;
}

.scorecard-table .divider .handle {
    top: 0px;
}

.meeting-page .scorecard-table .divider .handle {
    top: 1px;
}

.scorecard-table .divider .icon,
.scorecard-table .divider .glyphicon {
    display: none;
}

.scorecard-table .divider td:nth-child(0):hover .icon,
.scorecard-table .divider td:nth-child(1):hover .icon,
.scorecard-table .divider td:nth-child(0):hover .glyphicon,
.scorecard-table .divider td:nth-child(1):hover .glyphicon {
    opacity: 1;
    display: block;
}

.scorecard-table td:first-child:hover .divider-icon {
    border-top: 1px solid red;
}

.scorecard-table .divider.xsortable-placeholder {
    font-size: 1px;
}

 .divider + .divider td{
    border:none!important;
}
 .divider + tr:not(.divider) td{
     border-top:1px solid #E0E0E0;
 }


 .divider + tr:not(.divider) td.current,
 .divider + tr:not(.divider) td.buttonHolder{
    /*border-bottom: none !important;*/
    border-top:2px solid #2c77ba;
    margin-top:-2px;
 }

.scorecard-table .divider .current-divider-left {
    border-left: 3px solid #2c77ba;
    border-right: 3px solid #2c77ba;
    border-left:none;
    border-right:none;
    /*border-bottom:2px solid #2c77ba;*/
    border-top:2px solid #2c77ba;
    /*height:4px;
    position:relative;
    top:-1px;*/
    /*background-color: #2c77ba;*/
    /*border-top: 2px solid #2c77ba;*/
    /*top: 0px !important;*/
}

.scorecard-table .divider .current-divider-right {
    border-right: 3px solid #2c77ba;
    background-color: #2c77ba;
    border-left:none;
    border-right:none; 
    background-color:#eee;
    /*border-bottom:2px solid #2c77ba;*/
    border-top:2px solid #2c77ba;
    /*border-top: 2px solid #2c77ba;*/
    /*top: 0px !important;*/
}

.scorecard-table tr:nth-last-child(1) .current-divider-right,
.scorecard-table tr:nth-last-child(1) .current-divider-left {
    background-color: #2c77ba;
}

.scorecard-table .IsDivider td * {
    display: none;
}

.scorecard-table .IsDivider td {
    margin: 0;
    padding: 0;
    background-color: #BDBDBD; /*#E8E8E8;*/
    cursor: move;
    height: 4px;
    top: 0;
}

    .scorecard-table .IsDivider td.current {
        background-color: #2c77ba;
    }


/*.scorecard:not(.meeting-page)*/ .scorecard-table .profile-picture,
/*.scorecard:not(.meeting-page)*/ .scorecard-table .picture-container {
    width: 25px;
    height: 25px;
    /* margin-top: -2px; */
    /* margin-bottom: -2px; */
    line-height: 22px;
    position: relative;
    top: 0px;
    float: left;
    font-size: 9px;
}

.scorecard profile-image {
    float: left;
}

.scorecard-table .editable-buttons {
    margin-left: 4px;
}

    .scorecard-table .editable-buttons .btn {
        padding: 2px 5px 1px 5px;
        margin-top: 3px;
    }

    .scorecard-table .editable-buttons .editable-cancel {
        margin-left: 4px;
    }

.scorecard-table .editable-input input {
    padding: 0;
    height: 24px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
}

#ScorecardTable_Over {
    box-shadow: 11px 0px 19px -11px rgba(0, 0, 0, 0.36);
}


.accountable-column profile-image {
    float: right;
}

.scorecard .item-wrapper.place-right form {
    top: -16px;
}
/*.scorecard .item-wrapper.place-bottom form{
    top:-16px;
}*/

.scorecard .goal-column .blend {
    min-width: 50px !important;
    font-size: 14px;
}

.scorecard .measurable-column,
.scorecard .measurable-column input {
    min-width: 100px;
    max-width: 200px;
}

.scorecard .page-header.listing {
    margin-top: -28px;
    padding-top: 26px;
    /*background-color: #F7F7F7;*/
    background-color: #eee;
    z-index: 11;
    box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.2);
}

.scorecard .fixed-pos {
    position: relative;
    width: 100%;
}

.scorecard .page-header {
    margin-top: 0px;
    margin: 5px 0;
}
/*.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eeeeee;
}*/


.divider.ui-sortable-helper {
    display: none !important;
}
