
@import (reference) "../bootstrap/variables";
@import "../bootstrap/custom/XEditable";
//@import '../Angular/xeditable.min.css';
@import (reference) "../bootstrap/glyphicons";
//@import '../Angular/tablesort.css';
@import "../Angular/ProfilePicture";
//@import '../Angular/livesearch.css';
@import "../MaterialDesign/Components/Buttons.less";
@import "../MaterialDesign/Components/Shading.less";
@import "../MaterialDesign/Components/Inputs.less";
@import "../MaterialDesign/Components/Progress.less";
@import "../MaterialDesign/Components/Snackbar";
@import (reference)"../Angular/ProfilePicture";


/*#wrap {
    background-color: #F9F9F9 !important;
}*/

html,
body,
#wrap {
	background-color: rgb(238,238,238) !important;
}

[ng-controller] {

	&.loading {

		.loader-container {
			-moz-transition: opacity 0s;
			-o-transition: opacity 0s;
			-webkit-transition: opacity 0s;
			transition: opacity 0s;
			opacity: 1;
		}
	}

	.loader-container {
		opacity: 0;
		.material-indefinite-spinner(colors-rainbow);
		display: block !important;
		position: absolute;
		// bottom: 0px;
		left: 0;
		right: 0;
		-moz-transition: opacity .5s;
		-o-transition: opacity .5s;
		-webkit-transition: opacity .5s;
		transition: opacity .5s;

		.loader {
			width: 25px;
		}
	}
}

.wizard {

	.wizard-nav-bar {
		/*background-color:@traction-orange;*/
		padding-top: 13px;

		tr {
			background-color: transparent !important;
		}

		td {
			vertical-align: top;
		}

		.button {
			opacity: .8;
			padding-top: 1px;
			cursor: pointer;
			color: @traction-black;
			-moz-transition: opacity .2s ease, color .2s ease;
			-o-transition: opacity .2s ease, color .2s ease;
			-webkit-transition: opacity .2s ease, color .2s ease;
			transition: opacity .2s ease, color .2s ease;

			&:hover {
				/*color:@traction-orange;*/
				opacity: 1;
			}

			&:active {
				opacity: 1;
				color: @traction-orange;
			}

			&.backButton {
				padding-right: 4px;
			}

			&.nextButton {
				padding-left: 4px;
			}
		}

		.button.disabled {
			opacity: 0;
		}
	}

	.checkbox-column {
		padding-right: 20px !important;
	}

	.delete-column {
		padding-right: 0px !important;
	}

	a:not(:hover) {
		color: (@traction-black);
	}

	.md-cell {
		border-top: 0px solid transparent !important;
	}

	.picture-column {
		padding: 0px !important;
	}

	*:focus {
		outline: none;
	}

	[data-toggle="tooltip"]:not(:hover) + .tooltip {
		display: none !important;
	}

	.upload {
		background-image: url(https://s3.amazonaws.com/Radial/icons/tinyupload-black.png);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		opacity: .65;
		float: right;
		padding: 15px;
		width: 48px;
		height: 48px;
		-moz-transition: opacity .15s cubic-bezier(.4,0,.2,1),background-color .1s cubic-bezier(.4,0,.2,1);
		-o-transition: opacity .15s cubic-bezier(.4,0,.2,1),background-color .1s cubic-bezier(.4,0,.2,1);
		-webkit-transition: opacity .15s cubic-bezier(.4,0,.2,1),background-color .1s cubic-bezier(.4,0,.2,1);
		transition: opacity .15s cubic-bezier(.4,0,.2,1),background-color .1s cubic-bezier(.4,0,.2,1);
		cursor: pointer;
		position: relative;
		border-radius: 24px;
		margin: 3px 16px;

		&:hover {
			background-image: url(https://s3.amazonaws.com/Radial/icons/tinyupload.png);
			opacity: 1;
			background-color: @traction-gray;
		}

		&:active {
			background-color: @traction-orange;
		}
	}

	.title-bar {
		height: 60px;
		padding: 5px 2px;
		font-size: 24px;
		font-weight: bold;
		color: #3e3935;
		text-transform: uppercase;
	}

	.picture-container {
		margin-right: 15px;
		height: 40px;
		width: 40px;
		margin-top: 4px;
		line-height: 40px;
	}


	.empty-search {
		padding: 28px !important;
	}

	.editable-click {
		border-bottom: none;
	}

	.btn.btn-link {
		color: @traction-black;
		opacity: .7;
		-moz-transition: color ease .2s, opacity .2s ease;
		-o-transition: color ease .2s, opacity .2s ease;
		-webkit-transition: color ease .2s, opacity .2s ease;
		transition: color ease .2s, opacity .2s ease;

		&:hover {
			color: @traction-orange;
			opacity: 1;
		}
	}

	table tbody tr:hover {
		background-color: lighten(@traction-orange,40%);

		input {
			background-color: transparent;
		}
	}

	.wizard-menu {
		font-family: 'Roboto', sans-serif;
		font-size: 17px;

		ol {
			padding-left: 17px;
		}

		.selected {
			font-weight: bold;
		}
	}

	.component {
		.BoxShadowHelper(1);
		padding: 15px;
		padding-top: 11px;
		/*padding: 10px;
        box-shadow: 0px 15px 12px -8px rgba(0, 0, 0, 0.2);
        background-color: white;
        margin-bottom: 18px;*/
		/*&:hover{
            .BoxShadowHelper(1)
        }*/
		.component {
			//padding: 0;
			box-shadow: inherit;
			background-color: inherit;
			margin-bottom: inherit;
		}
	}
	/*input[type='text'] {
        border: none;
        border-bottom: 1px solid #EFEFEF;
        padding-left: 5px;
        min-width: 250px;
        color: #555;
    }*/
	.form-horizontal .form-group input[type='text'] {
		margin-top: 2px;
	}
	/*input[type='text']:focus {
        border: none;
        border-bottom: 1px dotted @traction-orange;
        outline: none;
        color: #000;
    }*/
	.scorecard-list-container {
		.create-row {
			float: right;
			.material-button(@traction-orange);
			.material-button-fade;

			&:before {
				.material-button-plus;
			}

			&:after {
				.material-button-measurable;
			}
		}

		#ScorecardTable_Over,
		.score-column,
		.admin-column,
		.IsDivider,
		.top-row,
		thead {
			display: none;
		}

		.direction {
			font-size: 13px;
			top: -1px;
			position: relative;
			cursor: pointer;
			width: 150px;
			text-align: right;
			padding-right: 10px;
		}

		.direction_1:empty::before,
		.direction_GreaterThan:empty::before {
			content: "Greater than or equal to";
		}

		.direction_-1:empty::before,
		.direction_LessThan:empty::before {
			content: "Less than";
		}

		.direction_2:empty::before,
		.direction_GreaterThanNotEqual:empty::before {
			content: "Greater than";
		}

		.direction_-3:empty::before,
		.direction_Between:empty::before {
			content: "Between";
		}

		.direction_-2:empty::before,
		.direction_LessThanOrEqual:empty::before {
			content: "Less than or equal to";
		}

		.direction_0:empty::before,
		.direction_EqualTo:empty::before {
			content: "Equal to";
		}


		.table-responsive {
			overflow-y: hidden;
		}

		& table {
			width: 100%;

			.heading.admin-column {
				font-size: 8px;
				position: relative;
				bottom: -3px;
			}

			.goal-column.value {
				width: 120px;
				min-width: 120px;
			}

			.measurable-column {
				width: 97%;
				max-width: 97%;

				input {
					width: 90%;
					max-width: 90%;
				}
			}
		}

		tr.disabled {
			display: none;
		}
	}

	.rock-list-container {
		.create-row {
			float: right;
			.material-button(@traction-orange);
			.material-button-fade;

			&:before {
				.material-button-plus;
			}

			&:after {
				.material-button-rock;
			}
		}
		/*.picture-container { 
            width: 32px;
            height: 32px;
            vertical-align: bottom;
        }*/
		thead,
		.createtime-column,
		.due-column {
			display: none;
		}
		/*.due-column input{
            min-width:90px;
            max-width:90px;
        }*/
		& table {
			box-shadow: none;

			& .status-column {
				display: none;
			}

			& .rock-name {
				max-width: 100%;
			}
		}
	}

	.issues-list-container {
		.create-row {
			float: right;
			.material-button(@traction-orange);
			.material-button-fade;

			&:before {
				.material-button-plus;
			}

			&:after {
				.material-button-issues;
			}
		}

		.checkbox-column,
		.priority-column,
		.complete-column,
		.createtime-column,
		.details-row,
		thead {
			display: none;
		}

		.owner-column > * {
			//display: inline-block !important;
		}
	}

	.todo-list-container {
		.create-row {
			float: right;
			.material-button(@traction-orange);
			.material-button-fade;

			&:before {
				.material-button-plus;
			}

			&:after {
				.material-button-todos;
			}
		}

		.checkbox-column,
		.priority-column,
		.complete-column,
		.details-row,
		.due-column,
		.empty-cell,
		.createtime-column, thead {
			display: none;
		}

		.message-column input {
			max-width: 100%;
		}

		.due-column {
			vertical-align: middle !important;

			input {
				min-width: 90px;
				max-width: 90px;
				text-align: center;
			}
		}
	}

	.headline-list-container {
		.create-row {
			float: right;
			.material-button(@traction-orange);
			.material-button-fade;

			&:before {
				.material-button-plus;
			}

			&:after {
				.material-button-headlines;
			}
		}

		.checkbox-column,
		.priority-column,
		.complete-column,
		.details-row,
		.due-column,
		.empty-cell,
		.close-column,
		.createtime-column, thead {
			display: none;
		}

		.message-column input {
			max-width: 100%;
		}

		.due-column {
			vertical-align: middle !important;

			input {
				min-width: 90px;
				max-width: 90px;
				text-align: center;
			}
		}

		.owner-column {
			.desaturate();
			padding: 0 0px 0 12px !important;

			.picture-container {
				border-radius: 35px;
			}

			.picture {
				border-radius: 35px;

				.initials {
					font-size: 10px !important;
				}
			}
		}
	}

	.user-list-container {
		.create-row {
			float: right;
			.material-button(@traction-orange);
			.material-button-fade;

			&:before {
				.material-button-plus;
			}

			&:after {
				.material-button-users;
			}
		}

		.new-user-container {
			position: absolute;
			right: 15px;
		}

		.new-user-container-space:before {
			float: left;
			height: 80px;
			display: block;
			position: relative;
			content: "";
		}

		.isSearching .create-row {
			box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
		}

		.isSearching .create-row,
		.isSearching .create-row:before,
		.isSearching .create-row:after {
			.material-button-search;
			-moz-transform: rotate(0deg) scale(1);
			-ms-transform: rotate(0deg) scale(1);
			-o-transform: rotate(0deg) scale(1);
			-webkit-transform: rotate(0deg) scale(1);
			transform: rotate(0deg) scale(1);
			opacity: 1;
			pointer-events: none;
		}

		.upload-users,
		.create-user {
			float: right;
			.material-button(@traction-orange);
			.material-button-tiny();
			pointer-events: none;
			position: relative;
			/* right: 8px; */
			bottom: 35px;
			z-index: -10;

			&, &:before {
				-moz-transform: scale(.5);
				-ms-transform: scale(.5);
				-o-transform: scale(.5);
				-webkit-transform: scale(.5);
				transform: scale(.5);
				opacity: 0;
				-moz-transition: transform .2s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1),bottom .2s cubic-bezier(.4,0,.2,1),z-index .2s cubic-bezier(.4,0,.2,1);
				-o-transition: transform .2s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1),bottom .2s cubic-bezier(.4,0,.2,1),z-index .2s cubic-bezier(.4,0,.2,1);
				-webkit-transition: transform .2s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1),bottom .2s cubic-bezier(.4,0,.2,1),z-index .2s cubic-bezier(.4,0,.2,1);
				transition: transform .2s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1),bottom .2s cubic-bezier(.4,0,.2,1),z-index .2s cubic-bezier(.4,0,.2,1);
			}
		}

		.create-user,
		.isSearching .upload-users {
			&, &:before {
				-moz-transition-delay: .07s;
				-o-transition-delay: .07s;
				-webkit-transition-delay: .07s;
				transition-delay: .07s;
			}
		}

		.isSearching .create-user,
		.upload-users {
			&, &:before {
				-moz-transition-delay: 0s;
				-o-transition-delay: 0s;
				-webkit-transition-delay: 0s;
				transition-delay: 0s;
			}
		}


		.isSearching .upload-users,
		.isSearching .create-user {
			pointer-events: all;
			bottom: -10px;

			&, &:before {
				-moz-transform: scale(1);
				-ms-transform: scale(1);
				-o-transform: scale(1);
				-webkit-transform: scale(1);
				transform: scale(1);
				opacity: 1;
				z-index: 10;
			}
		}

		.isSearching .create-user:before {
			.material-button-usersAdd;
		}

		.isSearching .upload-users:before {
			.material-button-upload;
		}

		.picture-column > * {
			display: inline-block !important;
		}

		thead,
		.createtime-column {
			display: none;
		}

		.create-row-container > .tooltip.left {
			left: -100px !important;
			display: block;

			.tooltip-arrow {
				top: 50% !important;
			}
		}

		.isSearching > .create-row-container > .tooltip {
			display: none !important;
		}

		.isSearching .new-user-overlay {
			content: "";
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-color: rgba(0,0,0,0.2);
		}

		.name-column {
			cursor: default;
		}

		.livesearch-container {
			float: right;
			/*background-color: #444;*/
			height: 37px;
			width: 330px;
			margin: 20px 6px;
			border-radius: 6px;
			position: relative;
			.BoxShadowHelper(2);
			background-color: #fafafa;
			padding: 0px;

			.search-box-container {
				position: relative;
			}

			.search-icon {
				.glyphicon;
				.glyphicon-search;
				padding: 12px;
				top: 0;
				float: left;
			}

			input {
				border-radius: 2px;
				background-color: #F9F9F9;
				border: none;
				padding: 5px;
				margin-top: 1px;
				left: 38px;
				right: 0;
				position: absolute;
				width: 292px;
			}

			&:after {
				content: "";
				position: absolute;
				right: -5px;
				top: 15px;
				width: 0;
				height: 0;
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
				border-left: 5px solid #F9F9F9;
			}

			&:before {
				content: "";
				position: absolute;
				right: -6px;
				top: 15px;
				width: 0;
				height: 0;
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
				border-left: 5px solid #B2B2B2;
			}
		}
	}

	.delete-row {
		.glyphicon;
		.glyphicon-trash;
		cursor: pointer;
		vertical-align: top;
		padding-left: 5px;
		padding-right: 33px;
		padding-top: 2px;
		color: rgba(0,0,0,.54);
		font-size: 15px;
	}

	.delete-row:hover {
		color: @traction-black;
	}
}

#class-container:not(.modal-icon) .modal-content {
	.BoxShadowHelper(3);
	font-family: 'Roboto',sans-serif;

	.modal-header {
		border-bottom: none;
	}

	.modal-footer {
		border-top: none;
	}

	.btn {
		border: none;
		font-weight: bold;
		text-transform: uppercase;
		min-width: 88px;
		height: 36px;
		margin: 0;
		padding: 9px;
		.material-button-flat();
	}
	/*.btn-primary {

        background-color: @traction-orange;
    }*/
}

/*@-moz-keyframes grow-in {
    from {height:0%;color:transparent;overflow:hidden;}
    to {height:100%;color:white;}
}

@-webkit-keyframes grow-in {
    from {height:0%;color:transparent;overflow:hidden;}
    to {height:100%;color:white;}
}

@keyframes grow-in {
    from {height:0%;color:transparent;overflow:hidden;}
    to {height:100%;color:white;}
}*/

.searchresultspopup {
	/*border: 1px solid #444 !important;
    border-top: 2px solid #444 !important;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;*/
	.BoxShadowHelper(2);
	width: 330px;
	margin-left: -37px;
	margin-top: -2px !important;
	border: none !important;
	border-top: 1px solid #f0f0f0 !important;
	background-color: #F9F9F9 !important;
	border-radius: 0 0 2px 2px;


	li {
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 38px !important;
		height: 50px;
		font-family: 'Roboto', sans-serif;

		&.no-results {
			border-top: 1px solid gray;

			&:before {
				content: "No results";
			}
		}
	}
}

#alerts {
	.material-snackbar();
	z-index: 1;
}

 
#modal input[type=checkbox].blend {
	width: 47px;
	height: 47px;
}
