@model RadialReview.Models.Enums.Tristate

<div class="completeincomplete display">
	<div class="completeincomplete-contents">
		<input type="hidden" class="changeable" value="@Model" name="@ViewData["name"]" />
		<div class="completeincomplete-val completeincomplete-False" data-value="False">
			<div class="center">
				<div class="ico glyphicon glyphicon-remove"></div>
				<div class="txt">INCOMPLETE</div>
			</div>
		</div>
		<div class="completeincomplete-val completeincomplete-True" data-value="True">
			<div class="center">
				<div class="ico glyphicon glyphicon-ok"></div>
				<div class="txt">COMPLETE</div>
			</div>
		</div>
		<div class="fill cursor"></div>
		<div class="fill hover"></div>
	</div>
</div>
