<div class="scorecard meeting-page">
	<div class="row">
		<div class="col-md-12">
			<hgroup class="page-header">
				<div class="pull-right">
					<div class="btn-group">
						<div class="btn btn-default btn-xs" show-modal="Add Measurable" pull="'/L10/AddMeasurable/'+model.RecurrenceId" push="'/L10/AddMeasurable/'" >
							<span class="icon fontastic-icon-science-laboratory"></span> Add Measurable
						</div>
					</div>
					<buttonbar recurrence="model.RecurrenceId" meeting="model.MeetingId"/>
				</div>
				<h2>Scorecard<small></small></h2>
			</hgroup>
			<div class="component" >
				<div class="clearfix"></div>
				<div style="position: relative;">
					<div class="table-responsive" style="min-height: 100px;">
						<table id="ScorecardTable" class="scorecard-table" >
							<thead>
								<tr>
									<th>&nbsp;</th>
									<th>&nbsp;</th>
									<th>&nbsp;</th>
									<th>&nbsp;</th>
									<th>&nbsp;</th>
									<th ng-repeat="week in agendaItem.Weeks" class="date" ng-class="{current:week.IsCurrentWeek}" colspan="{{week.IsCurrentWeek ? 2 : 1}}">
										{{functions.subtractDays(week.DisplayDate,6) | date:'MM/dd'}}
									</th>

								</tr>
								<tr>
									<th class="heading who alignRight">Accountable</th>
									<th class="heading who alignLeft "><span class="newLine gray">/Admin</span></th>
									<th class="heading measurable">Measurable</th>
									<th class="heading target" colspan="2">Target</th>
									<th ng-repeat="week in agendaItem.Weeks" class="date" ng-class="{current:week.IsCurrentWeek}" colspan="{{week.IsCurrentWeek ? 2 : 1}}">
										{{week.DisplayDate | date:'MM/dd'}}
									</th>
								</tr>
							</thead>
							<tbody>
								@Html.Partial("Templates/partials/ScorecardRow")
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
