
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listing of deleted items</h2>

<a class="btn btn-default" href="/Archive/Users">Users</a>
<a class="btn btn-default" href="/Archive/L10">L10</a>
<a class="btn btn-default" href="/Archive/Rocks">Rocks</a>
<a class="btn btn-default" href="/Archive/Measurables">Measurables</a>
<a class="btn btn-default" href="/Archive/Roles">Roles</a>