@model RadialReview.Models.UserOrganizationModel
<span class="profile-picture-container" title="@Model.GetName()">
	<span class="profile-picture" style="background: url(@Model.ImageUrl(true)) no-repeat center center;"></span>
</span>