@using RadialReview.Models
@model object

@{
	var M = Model as UserOrganizationModel;

	var url = M.NotNull(x => x.ImageUrl(true, ImageSize._32)) ?? "/i/placeholder";
	var title = M.NotNull(x => x.GetName()) ?? "n/a";

}

<span class="profile-picture">
	@Html.Partial("_Picture", url, new ViewDataDictionary() { { "ImageTitle", title } })
</span>