@model RadialReview.Models.UserOrganizationModel
<span class="profile-picture">
	@Html.Partial("_Picture", Model.ImageUrl(true), new ViewDataDictionary() { { "ImageTitle", Model.GetName() } })
</span>