<ul class="nav nav-tabs manage">
    <li class="@(ViewBag.Page == "View"   ? "active" : "")"><a href="/Reports/">                 My Reports</a></li>
    @if (ViewBag.IsManager ?? false)
    {
        <li class="@(ViewBag.Page == "Create" ? "active" : "")"><a href="/Reports/Generate">     Employee Reports</a></li>
    }
    @Html.Partial("_ExtraTab")
</ul>