@model RadialReview.Models.UserModel

<div style="text-align:center">
	<div class="alignCenter fullWidth" style="display:inline-block" data-id="@Model.Id">
		<div class="thumbnaill ">
			<div class="imageContainer id_@Model.Id">
				<img alt="@Model.Name()"
					 class="thumbnail"
					 style="text-align: center;
                     margin-left: auto; margin-right: auto; /*max-width:256px;height:256px;*/"
					 src="@Model.ImageUrl(true,ImageSize._img)" />
			</div>
			<div class="caption  id_@Model.Id">
				<h3>@Model.Name()</h3>
			</div>
		</div>
	</div>
</div>