/* ************************************** */
/* Mandatory CSS required for ng-sortable */
/* ************************************** */
.as-sortable-item {
  -ms-touch-action: none;
  touch-action: none;
  /* to disable context menu on iOS devices */
  -webkit-touch-callout: none;
}
.as-sortable-item-handle {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
.as-sortable-drag {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}
.as-sortable-hidden {
  display: none !important;
}
.as-sortable-un-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
tbody.as-sortable-drag {
  position: relative;
  z-index: 1000000000000000;
  display: block;
}
tbody.as-sortable-drag .picture-container {
  display: none;
}
tbody.as-sortable-dragging {
  margin-top: -43px;
  margin-left: -3px;
}
tbody.as-sortable-dragging input.blend {
  border-bottom: 0px solid transparent;
  padding-top: 9px;
}