<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
		
	</configSections>
	<!--add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-RadialReview-20131023075522.mdf;Initial Catalog=aspnet-RadialReview-20131023075522;Integrated Security=True" providerName="System.Data.SqlClient" /-->
	<connectionStrings>

		<add name="DefaultConnectionLocalMysql" connectionString="Server=localhost; Port=3306; Database=radial; Uid=root; Pwd=;" providerName="System.Data.SqlClient" />
		<add name="DefaultConnectionLocalSqlite" connectionString="Data Source=C:\Users\Clay\Documents\Databases\RadialReview.db;Version=3;" providerName="System.Data.SqlClient" />
		<add name="DefaultConnectionProduction" connectionString="Server=radial.cvopqflzmczr.us-west-2.rds.amazonaws.com;Port=3306;Database=radial;Uid=admin;Pwd=Svf9tNSGLC;" />

	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />

		<add key="sha_secret" value="EDC48EF7-CAB4-486F-B674-0346C02406CE" />

		<add key="aspnet:MaxJsonDeserializerMembers" value="150000" />

		
		<!---Confirm that Reviews are issued/created correctly...-->
		<add key="Env" value="local_mysql" />

		<!-- 
			Choose from:
		
			<add key="Env" value="production" />
			<add key="Env" value="local_mysql" />
			<add key="Env" value="local_sqlite" />
		-->

		<!--		
			<add key="DbConnectionString" value="Server=radial.cvopqflzmczr.us-west-2.rds.amazonaws.com;Port=3306;Database=radial;Uid=admin;Pwd=Svf9tNSGLC;" />
			<add key="Env" value="sqlite" />    
			<add key="BaseUrl" value="http://localhost:2200/" /> 
		
			add key="DbFile" value="C:\Users\Clay\Documents\Databases\RadialReview.db" />
			<add key="DbType" value="mysql" /
			<add key="DbName" value="radial" />
			<add key="DbUsername" value="admin" />
			<add key="DbPassword" value="Svf9tNSGLC" />
			<add key="DbServer" value="radial.cvopqflzmczr.us-west-2.rds.amazonaws.com:3306" />
		-->
		<add key="AWSAccessKey" value="AKIAJYCO3OR34HOFIQTQ" />
		<add key="AWSSecretKey" value="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" />

		<add key="TrelloKey" value="dd6d2def5f8eface4a31fb7faefff3b9" />
		<add key="TrelloSecret" value="59e7f535f601f54cd4fa9693a17f45953bd1a896ae3b50bb0a8d7e981b5fec4d" />


		<add key="BasecampUrl" value="https://basecamp.com/999999999/api/v1/" />
		<add key="BasecampKey" value="c4c13523d49031bf9b066bdc3df7900a611ba4d6" />
		<add key="BasecampSecret" value="31f16b58bde2ff1e3105ef4c26ed241d6e5bf961" />
		<add key="BasecampApp" value="Radial (clay.upton@radialreview.com)" />
		<add key="BasecampTestKey" value="c04321b9031283e059578bc7e4f4c6f4b425e805" />
		<add key="BasecampTestSecret" value="7296ce9b59337ec6292c9145907f82e74918f944" />
		<add key="BasecampTestApp" value="Radial (Test) (clay.upton@radialreview.com)" />


		<add key="PaymentSpring_PublicKey_Test" value="test_692aedfd5819acbc3ef758fdd8c7cfa1b630724307fe0010290c34a8ab" />
		<add key="PaymentSpring_PrivateKey_Test" value="test_4c12eb37fb0c7f1ea3605eaf1e" />

		<add key="PaymentSpring_PublicKey" value="live_42119937dda94e06c0792ac17c3a188d4456b0d90a6d8f8d1322561723" />
		<add key="PaymentSpring_PrivateKey" value="live_53f92f31cedf3054858d899152" />


		<add key="ProductName_Roundtable" value="Traction Tools" />
		<add key="ProductName_Review" value="Traction Tools" />

		<add key="ReviewName_Roundtable" value="Round Table" />
		<add key="ReviewName_Review" value="Review" />
		
		<add key="Mandrill_GoogleAnalyticsDomain" value="mytractiontools.com,review.radialreview.com,radialreview.com" />
		
		<add key="VideoConferenceServer" value="https://video.traction.tools/" />
	
		<add key="OptimizeBundles" value="False" />

	</appSettings>
	<system.web>
		<authentication mode="None" />
		<!--batch and optimizeCompliations http://blog.lavablast.com/post/2010/12/01/Slash-your-ASPNET-compileload-time.aspx-->
		<!--optimizeCompliations Gotchas:http://blog.lavablast.com/post/2010/12/01/Slash-your-ASPNET-compileload-time.aspx -->
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" maxRequestLength="1048576" />
		<globalization enableClientBasedCulture="true" culture="auto:en-US" uiCulture="auto:en" />
		<customErrors mode="Off" />
		
	</system.web>
	<system.webServer>
		<modules>
			<remove name="FormsAuthenticationModule" />
			
			
			
		</modules>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1073741824" />
			</requestFiltering>
		</security>
		<urlCompression doStaticCompression="true" doDynamicCompression="true" />
		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" cacheControlCustom="public" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
			<remove fileExtension=".log" />
			<mimeMap fileExtension=".log" mimeType="text/plain" />
		</staticContent>
		<!--httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression-->
		<!--urlCompression doStaticCompression="true" doDynamicCompression="false" /-->
		
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.88.0" newVersion="1.0.88.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.7.4.0" newVersion="6.7.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Optimization.Framework" publicKeyToken="41b74c8b864fd6b1" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.3.1225.0" newVersion="0.3.1225.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<!--entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework-->
	<log4net>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="logs\CurrentLog.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10000" />
			<staticLogFileName value="true" />
			<!-- Alternatively, roll on date -->
			<!-- <rollingStyle value="Date" /> -->
			<!-- <datePattern value="yyyyMMdd" /> -->
			<filter type="log4net.Filter.LevelRangeFilter">
				<acceptOnMatch value="true" />
				<levelMin value="INFO" />
				<levelMax value="FATAL" />
			</filter>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5level %date [%thread] %-22.22c{1} - %m%n" />
			</layout>
		</appender>
		<appender name="LogFileAppender" type="log4net.Appender.FileAppender">
			<param name="File" value="log-file.txt" />
			<!-- Example using environment variables in params -->
			<!-- <file value="${TMP}\log-file.txt" /> -->
			<param name="appendToFile" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="[WebServer Started]" />
				<footer value="[WebServer Exited]" />
				<conversionPattern value="%date [%thread] %-5level %logger [%ndc]                   &lt;%property{auth}&gt; - %message%newline" />
			</layout>
			<!-- Alternate layout using XML            
    <layout type="log4net.Layout.XMLLayout" /> -->
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger                          [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<!-- Set the default logging level and add the active appenders -->
		<root>
			<level value="DEBUG" />
			<appender-ref ref="LogFileAppender" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="RollingFileAppender" />
		</root>
		<!-- Specify the level for specific categories (“namespace.class”)-->
		<logger name="ConsoleApp.LoggingExample">
			<level value="ERROR" />
			<appender-ref ref="EventLogAppender" />
		</logger>
		<logger name="NHibernate">
			<level value="ERROR" />
		</logger>
		<logger name="NHibernate.SQL">
			<level value="ERROR" />
		</logger>
	</log4net>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	
	
</configuration>