#alerts {
  position: fixed;
  left: 20px;
  bottom: 15px;
  opacity: 1;
  color: white;
  -moz-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), bottom 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), bottom 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), bottom 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), bottom 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  z-index: 10011;
}
#alerts:empty {
  bottom: 0px;
  opacity: 0;
  color: transparent;
}
#alerts .alert {
  width: 408px;
  /* height: 48px; */
  /* padding-left: 24px; */
  font-family: 'Roboto', sans-serif;
  background: #fff;
  border-radius: 2px;
  padding: 1rem;
  position: relative;
  -moz-transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
  -o-transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
  margin-bottom: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #323232;
  color: white;
  border: none;
  margin: 0px;
  padding-left: 15px;
  margin-bottom: 5px;
  /*-moz-animation: grow-in .5s cubic-bezier(.4,0,.2,1) 1;
        -o-animation: grow-in .5s cubic-bezier(.4,0,.2,1) 1;
        -webkit-animation: grow-in .5s cubic-bezier(.4,0,.2,1) 1;
        animation: grow-in .5s cubic-bezier(.4,0,.2,1) 1;*/
}
#alerts .alert .close {
  position: relative;
  top: -2px;
  right: 0px;
  color: inherit;
}
#alerts .alert strong {
  display: none;
}
.body-content {
  padding: 0 !important;
  width: 100%;
  margin: 0;
  max-width: 100% !important;
}
.md-scroll-mask {
  position: fixed !important;
}
.acc-chart svg button md-icon {
  display: none;
}
.acc-chart svg md-autocomplete,
.acc-chart svg md-autocomplete * {
  position: inherit;
}
.acc-chart svg .templink {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
.acc-chart svg .ghost.showing {
  display: block;
  stroke: #4682b4;
  stroke-width: 3;
  fill: #b0c4de;
}
.acc-chart svg .ghost,
.acc-chart svg .activeDrag .ghost {
  display: none;
}
.acc-chart svg .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
.acc-chart svg .acc-node {
  fill: none;
  stroke: black;
  width: 200px;
  /*padding: 2px;*/
  /*position:relative;*/
}
.acc-chart svg .acc-node md-autocomplete {
  background-color: transparent;
  height: 20px;
}
.acc-chart svg .acc-node md-autocomplete md-autocomplete-wrap {
  box-shadow: none;
  height: 20px;
}
.acc-chart svg .acc-node md-autocomplete button {
  display: none;
}
.acc-chart svg .acc-node md-autocomplete input {
  text-align: center;
  height: 20px;
  line-height: 20px;
  padding: 0px;
}
.acc-chart svg .acc-node md-autocomplete input:focus {
  /*text-align: left !important;*/
}
.acc-chart svg .acc-node .move-icon {
  cursor: move;
}
.acc-chart svg .acc-node .acc-buttons {
  height: 20px;
  width: 100%;
  background-color: steelblue;
}
.acc-chart svg .acc-node .acc-buttons .button {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  transition: color ease .2s;
}
.acc-chart svg .acc-node .acc-buttons .button:hover {
  color: #ffffff;
}
.acc-chart svg .acc-node .acc-buttons .glyphicon {
  position: inherit;
}
.acc-chart svg .acc-node .acc-buttons .minimize {
  margin-top: 10px;
}
.acc-chart svg .acc-node .acc-buttons .button.add,
.acc-chart svg .acc-node .acc-buttons .minimize-icon {
  padding: 2px 3px;
}
.acc-chart svg .acc-node .acc-buttons .minimize-icon.glyphicon-chevron-right {
  color: #ffffff;
}
.acc-chart svg .acc-node .acc-buttons .add {
  float: right;
}
.acc-chart svg .acc-node .acc-position {
  margin: 3px 0px;
}
.acc-chart svg .acc-node .acc-position input {
  font-size: 20px;
}
.acc-chart svg .acc-node .acc-owner {
  margin: 3px 0px;
}
.acc-chart svg .acc-node .acc-owner .name {
  text-align: center;
  width: 100%;
  font-weight: bold;
  cursor: text;
}
.acc-chart svg .acc-node .acc-owner .acc-owner-delete {
  position: absolute;
  /*float: right;
                display: inline-block;
                height: 0;*/
  /* -moz-transform: translate(0,-10px);
                -ms-transform: translate(0,-10px);
                -o-transform: translate(0,-10px);
                -webkit-transform: translate(0,-10px);
                transform: translate(0,-10px);*/
}
.acc-chart svg .acc-node .acc-line {
  margin: 0px 10px;
  border-bottom: 2px solid steelblue;
}
.acc-chart svg .acc-node .acc-roles {
  padding: 5px 10px;
}
.acc-chart svg .acc-node input {
  background-color: transparent;
  border: none;
  width: 100%;
}
.acc-chart svg .acc-node input:focus {
  outline: none;
}
.acc-chart svg aria-status p {
  display: none;
}