.body-content{
    padding:0!important;
    width:100%;
    margin:0;
    max-width:100% !important;
}

.acc-chart {
    background-color:white;
    border:1px solid red;

    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
    }

    .acc-box{
        fill:none;
        stroke:black;
    }
}
