#alerts {
  position: fixed;
  left: 20px;
  bottom: 15px;
  opacity: 1;
  color: white;
  -moz-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), bottom 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), bottom 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), bottom 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), bottom 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  z-index: 10011;
}
#alerts:empty {
  bottom: 0px;
  opacity: 0;
  color: transparent;
}
#alerts .alert {
  width: 408px;
  /* height: 48px; */
  /* padding-left: 24px; */
  font-family: 'Roboto', sans-serif;
  background: #fff;
  border-radius: 2px;
  padding: 1rem;
  position: relative;
  -moz-transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
  -o-transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
  margin-bottom: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #323232;
  color: white;
  border: none;
  margin: 0px;
  padding-left: 15px;
  margin-bottom: 5px;
  /*-moz-animation: grow-in .5s cubic-bezier(.4,0,.2,1) 1;
        -o-animation: grow-in .5s cubic-bezier(.4,0,.2,1) 1;
        -webkit-animation: grow-in .5s cubic-bezier(.4,0,.2,1) 1;
        animation: grow-in .5s cubic-bezier(.4,0,.2,1) 1;*/
}
#alerts .alert .close {
  position: relative;
  top: -2px;
  right: 0px;
  color: inherit;
}
#alerts .alert strong {
  display: none;
}
html,
body {
  background-color: #eeeeee;
}
.body-content {
  padding: 0 !important;
  width: 100%;
  margin: 0;
  max-width: 100% !important;
}
.md-scroll-mask {
  position: fixed !important;
}
.node rect {
  fill: #fff;
  stroke: #EF7622;
  stroke-width: 3px;
}
.node.collapsed rect {
  stroke: #ad9a8d;
}
.node.root-node {
  /*rect{
			width:100px;
			width:100px;
		}*/
}
.node.root-node .move-icon {
  cursor: default !important;
}
.node.root-node .acc-contents {
  display: none;
}
.node.root-node .acc-buttons.top-bar {
  height: 30px !important;
  line-height: 30px;
}
.node.root-node .acc-rect {
  stroke-width: 20px;
}
.node.root-node .node-button.remove {
  display: none;
}
.root-node-link {
  display: none;
}
.acc-chart svg .role-row .role,
.acc-chart svg input {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.acc-chart svg button md-icon {
  display: none;
}
.acc-chart svg md-autocomplete,
.acc-chart svg md-autocomplete * {
  position: inherit;
}
.acc-chart svg .templink {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
.acc-chart svg .ghost.showing {
  display: block;
}
.acc-chart svg .ghost.showing circle {
  /*stroke: @border-color;
			stroke-width: 2;
			fill: @background-color;*/
  fill: #eeeeee;
  stroke: #ccc;
  transition: fill .15s ease,stroke .4s ease;
  stroke-width: 1.5px;
  stroke-dasharray: 5,2;
  stroke: #EF7622;
  cursor: pointer;
  pointer-events: all;
}
.acc-chart svg .ghost.showing:hover circle {
  stroke: #aaa;
  fill: white;
  stroke-dasharray: none;
}
.acc-chart svg .ghost,
.acc-chart svg .activeDrag .ghost {
  display: none;
  margin-top: -20px;
}
.acc-chart svg .link {
  fill: none;
  stroke: #EF7622;
  stroke-width: 2px;
}
.acc-chart svg .acc-node {
  fill: none;
  stroke: black;
  width: 200px;
  /*padding: 2px;*/
  /*position:relative;*/
}
.acc-chart svg .acc-node md-autocomplete {
  background-color: transparent;
  height: 20px;
}
.acc-chart svg .acc-node md-autocomplete md-autocomplete-wrap {
  box-shadow: none;
  height: 20px;
}
.acc-chart svg .acc-node md-autocomplete button {
  display: none;
}
.acc-chart svg .acc-node md-autocomplete input {
  text-align: center;
  height: 20px;
  line-height: 20px;
  padding: 0px;
}
.acc-chart svg .acc-node md-autocomplete input:focus {
  /*text-align: left !important;*/
}
.acc-chart svg .acc-node .move-icon {
  cursor: move;
}
.acc-chart svg .acc-node .acc-buttons {
  width: 100%;
  background-color: #EF7622;
}
.acc-chart svg .acc-node .acc-buttons.top-bar {
  height: 10px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  /*text-shadow: 0 0 0px #fff;*/
  font-size: 15px;
  font-weight: bold;
}
.acc-chart svg .acc-node .acc-buttons.bottom-bar {
  height: 0px;
}
.acc-chart svg .acc-node .acc-buttons .button {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  transition: color ease .2s;
}
.acc-chart svg .acc-node .acc-buttons .button:hover {
  color: #ffffff;
}
.acc-chart svg .acc-node .acc-buttons .glyphicon {
  position: inherit;
}
.acc-chart svg .acc-node .acc-buttons .minimize {
  margin-top: 10px;
}
.acc-chart svg .acc-node .acc-buttons .button.add,
.acc-chart svg .acc-node .acc-buttons .minimize-icon {
  padding: 2px 3px;
}
.acc-chart svg .acc-node .acc-buttons .minimize-icon.glyphicon-chevron-right {
  color: #ffffff;
}
.acc-chart svg .acc-node .acc-buttons .add {
  float: right;
}
.acc-chart svg .acc-node .acc-position {
  margin: 3px 0px;
}
.acc-chart svg .acc-node .acc-position input {
  font-size: 15px;
  /* font-weight: bold; */
  text-shadow: 0 0 #000;
}
.acc-chart svg .acc-node .acc-owner {
  margin: 3px 0px;
}
.acc-chart svg .acc-node .acc-owner .name {
  text-align: center;
  width: 100%;
  font-weight: bold;
  cursor: text;
}
.acc-chart svg .acc-node .acc-owner .acc-owner-delete {
  position: absolute;
  /*float: right;
                display: inline-block;
                height: 0;*/
  /* -moz-transform: translate(0,-10px);
                -ms-transform: translate(0,-10px);
                -o-transform: translate(0,-10px);
                -webkit-transform: translate(0,-10px);
                transform: translate(0,-10px);*/
}
.acc-chart svg .acc-node .role-groups {
  min-height: 14px;
}
.acc-chart svg .acc-node .role-groups .role-group {
  margin: 0px 12px;
  padding-bottom: 6px;
}
.acc-chart svg .acc-node .role-groups .role-group ul {
  padding-left: 16px;
  margin-bottom: 0px;
}
.acc-chart svg .acc-node .role-groups .role-group ul li.role-row {
  margin-right: -3px;
}
.acc-chart svg .acc-node .role-groups .role-group ul li.role-row .role {
  text-overflow: ellipsis;
  font-size: 10px;
  margin-left: -6px;
}
.acc-chart svg .acc-node .role-groups .role-group ul li.role-row .delete-role-row {
  margin-right: 0px;
  width: 0px;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: static;
  font-size: 8px;
  margin-top: -2px;
  cursor: pointer;
  opacity: 0;
  color: lightgray;
}
.acc-chart svg .acc-node .role-groups .role-group ul li.role-row .delete-role-row:before {
  content: "\e014";
}
.acc-chart svg .acc-node .role-groups .role-group ul li.role-row .delete-role-row:hover {
  color: #b7b7b7;
}
.acc-chart svg .acc-node .role-groups .role-group ul li.role-row .delete-role-row:focus {
  outline: none;
}
.acc-chart svg .acc-node .role-groups .role-group ul li.role-row:hover .delete-role-row {
  opacity: 1;
}
.acc-chart svg .acc-node .role-groups .role-group .no-roles-placeholder {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 8px;
  text-align: center;
  padding-top: 3px;
}
.acc-chart svg .acc-node .role-groups .role-group .no-roles-placeholder .glyphicon-plus-sign {
  color: rgba(239, 118, 34, 0.7);
  position: static;
  font-size: 7px;
}
.acc-chart svg .acc-node .role-groups .role-group .role-group-title {
  border-top: 1px solid #EF7622;
  background-color: #EF7622;
  border-bottom: 1px solid #EF7622;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  margin: auto;
  /*.delete-role-row:focus {
						outline: none;
					}*/
}
.acc-chart svg .acc-node .role-groups .role-group .role-group-title .add-role-row {
  cursor: pointer;
}
.acc-chart svg .acc-node .role-groups .role-group .role-group-title .add-role-row.tinyRow .circle {
  margin-top: -10px;
}
.acc-chart svg .acc-node .role-groups .role-group .role-group-title .add-role-row:focus {
  outline: none;
  opacity: 1 !important;
}
.acc-chart svg .acc-node .role-groups .role-group .role-group-title .add-role-row:focus .circle {
  background-color: #f9ceb1;
  opacity: 1 !important;
}
.acc-chart svg .acc-node .role-groups .role-group .role-group-title .circle {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 10px;
  border: 2px solid #EF7622;
  float: right;
  margin-top: -16px;
  margin-right: -22px;
  color: #EF7622;
  background-color: #fff;
  padding: 0px 0px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.acc-chart svg .acc-node .role-groups .role-group .role-group-title .circle:hover {
  background-color: #EF7622;
  color: white !important;
}
.acc-chart svg .acc-node .acc-add-role {
  margin-top: 5px;
}
.acc-chart svg .acc-node .acc-add-role:hover {
  opacity: 1;
}
.acc-chart svg .acc-node .acc-add-role .acc-role-line {
  /*margin: -6px 0px 0 0px;
				height: 20px;
				background-color: #e6e6e6;
				border-radius: 10px;*/
}
.acc-chart svg .acc-node .acc-add-role .acc-role-circle {
  /*width: 20px;
				height: 20px;
				margin-left: auto;
				margin-top: -20px;
				background-color: #fff;
				border-radius: 10px;
				border: 2px solid #cacaca;
				margin-right: 0px;*/
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-top: -5px;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #cacaca;
  margin-right: 0px;
}
.acc-chart svg .acc-node .acc-add-role .acc-plus {
  background-color: #a9a9a9;
}
.acc-chart svg .acc-node .acc-add-role .acc-plus.acc-plus-v1,
.acc-chart svg .acc-node .acc-add-role .acc-plus.acc-plus-v2 {
  height: 5px;
  width: 2px;
  margin: 3px 7px -1px 7px;
  float: left;
}
.acc-chart svg .acc-node .acc-add-role .acc-plus.acc-plus-v2 {
  margin: -1px 7px 3px 7px;
}
.acc-chart svg .acc-node .acc-add-role .acc-plus.acc-plus-h {
  width: 10px;
  height: 2px;
  margin: 0px 3px;
  float: left;
}
.acc-chart svg .acc-node .acc-roles {
  padding: 5px 10px;
}
.acc-chart svg .acc-node input {
  background-color: transparent;
  border: none;
  width: 100%;
}
.acc-chart svg .acc-node input:focus {
  outline: none;
}
.acc-chart svg .add-role-row circle {
  stroke: #EF7622;
  stroke-width: 1.5px;
  fill: #fff;
}
.acc-chart svg .add-role-row .acc-plus {
  fill: #EF7622;
  height: 0.1px;
  width: 0.1px;
  stroke-width: 1px;
}
.acc-chart svg .add-role-row .acc-plus.acc-plus-v {
  height: 8px;
}
.acc-chart svg .add-role-row .acc-plus.acc-plus-h {
  width: 8px;
}
.acc-chart svg .node-button {
  cursor: pointer;
}
.acc-chart svg .node-button circle {
  fill: #eeeeee;
  stroke: #ccc;
  transition: fill .15s ease,stroke .4s ease;
  stroke-width: 1.5px;
}
.acc-chart svg .node-button:hover circle {
  stroke: #aaa;
  fill: white;
}
.acc-chart svg .node-button:focus {
  opacity: 1 !important;
  outline: none;
}
.acc-chart svg .node-button:focus circle {
  fill: #d5d5d5;
}
.acc-chart svg .node-button.add text {
  transform: translate(-4.5px, 5.3px);
  font-size: 16px;
  text-align: left;
  padding: 12px;
  fill: gray;
}
.acc-chart svg .node-button.remove text {
  font-size: 9px;
  transform: translate(-4.8px, 4.9px);
  fill: gray;
}
.acc-chart svg .node-button.minimize text {
  font-size: 9px;
  transform: translate(-4px, 3.8px);
  fill: gray;
}
.acc-chart svg .is-dragging .bounding-box,
.acc-chart svg .is-dragging .node-button,
.acc-chart svg .is-dragging .node-button * {
  display: none;
  pointer-events: none;
}
.acc-chart svg .bounding-box {
  width: 24px;
  height: 26px;
  fill: transparent;
  stroke: none;
}
.acc-chart svg aria-status p {
  display: none;
}
.acc-chart svg .node.collapsed {
  /*.node-button circle {
			&:focus {
				fill: lighten(@collapsed-border-color,30%);
			}
		}*/
}
.acc-chart svg .node.collapsed .ghost.showing circle {
  stroke: #ad9a8d;
}
.acc-chart svg .node.collapsed .acc-buttons {
  background-color: #ad9a8d;
}
.acc-chart svg .node.collapsed .add-role-row circle {
  stroke: #ad9a8d;
}
.acc-chart svg .node.collapsed .add-role-row .acc-plus {
  fill: #ad9a8d;
}
.acc-chart svg .node.collapsed .role-group .role-group-title {
  border-top: 1px solid #ad9a8d;
  background-color: #ad9a8d;
  border-bottom: 1px solid #ad9a8d;
}
.acc-chart svg .node.collapsed .role-group .role-group-title .add-role-row {
  cursor: pointer;
}
.acc-chart svg .node.collapsed .role-group .role-group-title .add-role-row:focus .circle {
  background-color: #ede9e6 !important;
}
.acc-chart svg .node.collapsed .role-group .role-group-title .circle {
  border: 2px solid #ad9a8d;
  color: #ad9a8d;
}
.acc-chart svg .node.collapsed .role-group .role-group-title .circle:hover {
  background-color: #ad9a8d;
}
.acc-chart svg .node.collapsed .role-group .no-roles-placeholder {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 8px;
  text-align: center;
  padding-top: 3px;
}
.acc-chart svg .node.collapsed .role-group .no-roles-placeholder .glyphicon-plus-sign {
  color: rgba(173, 154, 141, 0.7);
  position: static;
  font-size: 7px;
}
.acc-chart svg .node.collapsed .node-button.minimize text {
  transform: translate(-4px, 5.2px);
}
.is-dragging .add-role-row .circle {
  display: none !important;
}
/*:not(.is-dragging) .add-role-row  .circle {
	width: 20px;
	height: 20px;
	display: inline-block;
	border-radius: 10px;
	border: 2px solid @border-color;
	float: right;
	margin-top: -16px;
	margin-right: -22px;
	text-align: center;
	color: @border-color;
	background-color: #fff;
	padding: 0px 0px;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	transition: background-color .2s ease,color .2s ease;

	&:hover {
		//margin-top: -12px;
		//box-shadow: 0px 1px 1px -1px #000 inset;
		background-color: @border-color;
		color: white;
	}
}*/