@model List<RadialReview.Areas.CoreProcess.Models.Process.ProcessViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section top{
    <div class="jumbotron">
        <h1>List of Process</h1>
    </div>
}

@*<link href="~/Content/Theme.css" rel="stylesheet" />*@
<br />
<div class="row">
    <div class="col-sm-8 col-lg-12">
        <div id="duration-table"></div>
        @using (Html.BeginScripts())
        {
            <script>
                function ValidateForm(d) {                    
                    if (d.Name == "") {
                        return "Name is required.";
                    }
                }

				var datas = @Html.ArrayToString(Model);
                var table = DataTable({
					container: "#duration-table",
                    data: datas,
                    clickAddValidation: ValidateForm,
                    clickEditValidation: ValidateForm,
					//clickReorder: "/Process/ReorderTask/{0}?oldOrder={1}&newOrder={2}",
					clickRemove: "/Process/Delete/{0}",
					clickEdit: "/Process/Edit/{0}",
					addButton:{text: "Create Process"},
					nodataText: "No Process. Click add to create one.",
					clickAdd: "/Process/Create",
					postAdd: "/Process/Create",
					cells: [

						{ name: "Name", classes: "", contents: function (x) { console.log(x); return x.Name; } },
						{ name: "Status", classes: "", contents: function (x) { return x.status; } },
                        { name: "Action", contents: function (x) { return "<a href='/CoreProcess/Process/Tasks/" + x.Id + "'>Task</a>" } },
						{ edit: true },
						{ remove : true },
					],
					nodataText: "No Task found."
					@*data: @Html.ArrayToString(Model.taskList),*@

				});
				table.setData(datas);

            </script>}
    </div>
</div>

@using (Html.BeginStyles())
{
    @Styles.Render("~/Content/MeetingEdit")
    <style>
        .durations .form-group {
            margin-bottom: 4px;
        }

        a:hover {
            text-decoration: none;
        }

        html, body {
            background-color: #eee;
        }

        .width80 {
            width: 80px;
        }

        .table .btn-default {
            color: #5e5e5e !important;
        }

        .body-full-width #alerts:not(:empty) {
            margin-top: 20px;
            margin-bottom: -15px;
        }

        html, body {
            background-color: #eee;
        }

        .panel {
            border: none;
        }

        .grayRow {
            /*background-color: #f2f2f2;*/
        }
    </style>
}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
                $(window).on('load', function () {
                    $("table thead tr th").next().next().attr("colspan", "3");;
                });

</script>
