<div class="scorecard meeting-page" style="clear: both;">
    <div class="row">
        <div class="col-md-12">
            <div class="component">
                <div class="clearfix"></div>
	            <div style="position: relative;" ng-hide="(model.Scorecard|transform:this).Measurables.length==0">
		            <div class="table-responsive scroll-right" style="min-height: 200px;">
			            <table id="ScorecardTable" class="scorecard-table">
				            <thead>
					            <tr>
						            @if (ViewBag.DisableName == null || ((bool)ViewBag.DisableName) == false)
						            {
							            <th>&nbsp;</th>
							            <th>&nbsp;</th>
						            }
						            <th>&nbsp;</th>
						            <th>&nbsp;</th>
						            <th>&nbsp;</th>
						            <th ng-repeat="week in (model.Scorecard|transform:this).Weeks | filter:filters.byRange('ForWeek',date.startDate,date.endDate,true)" class="date" ng-class="{current:week.IsCurrentWeek}" colspan="{{week.IsCurrentWeek ? 2 : 1}}">
							            {{functions.subtractDays(week.DisplayDate,0) | date:'MM/dd'}}
						            </th>

					            </tr>
					            <tr>
						            @if (ViewBag.DisableName == null || ((bool)ViewBag.DisableName) == false)
						            {
							            <th class="heading who alignRight">Accountable</th>
							            <th class="heading who alignLeft "><span class="newLine gray">/Admin</span></th>
						            }
						            <th class="heading measurable">Measurable</th>
						            <th class="heading target" colspan="2">Goal</th>
						            <th ng-repeat="week in (model.Scorecard|transform:this).Weeks | filter:filters.byRange('ForWeek',date.startDate,date.endDate,true)" class="date" ng-class="{current:week.IsCurrentWeek}" colspan="{{week.IsCurrentWeek ? 2 : 1}}">
							            {{functions.subtractDays(week.DisplayDate,-6) | date:'MM/dd'}}
						            </th>
					            </tr>
				            </thead>
				            <tbody>
					            <tr ng-repeat="measurable in (model.Scorecard|transform:this).Measurables | orderBy: ['Ordering']">

						            @if (ViewBag.DisableName == null || ((bool)ViewBag.DisableName) == false)
						            {
							            <td class="who first1 alignRight">{{measurable.Owner.Name}}</td>
							            <td class="who first1 alignLeft"><span class="newLine gray">/{{measurable.Admin.Name}}</span></td>
						            }
						            <td class="measurable first1" title="{{measurable.Name}}">
							            <span class="inlineEdit"
							                  data-type="text"
							                  data-name="title"
							                  data-measurable="{{measurable.Id}}"
							                  data-pk="{{measurable.Id}}_{{meetingId}}"
							                  data-url="/L10/UpdateArchiveMeasurable">{{measurable.Name}}</span>
						            </td>
						            <td class="target direction" data-measurable="{{measurable.Id}}">
							            <span class="inlineEdit direction_{{measurable.Direction}}"
							                  data-type="select"
							                  data-name="direction"
							                  data-measurable="{{measurable.Id}}"
							                  data-pk="{{measurable.Id}}_{{meetingId}}"
							                  data-url="/L10/UpdateArchiveMeasurable"
							                  data-source="/Dropdown/Type/lessgreater"
							                  data-title="Select target direction"
							                  data-value="{{measurable.Direction}}"></span>
						            </td>
						            <td class="target value" data-measurable="{{measurable.Id}}">
							            <span class="inlineEdit modifiers {{measurable.Modifiers}}"
							                  data-type="number"
							                  data-name="target"
							                  data-measurable="{{measurable.Id}}"
							                  data-pk="{{measurable.Id}}_{{meetingId}}"
							                  data-url="/L10/UpdateArchiveMeasurable">{{(measurable.Target)*1}}</span>
							            <span class="inlineEdit1 gray modifiers-{{measurable.Modifiers}}" data-type="select" data-source="/Dropdown/Type/unitType" data-name="unitType" data-measurable="{{measurable.Id}}" data-pk="{{measurable.Id}}_{{meetingId}}" data-url="/L10/UpdateMeasurable"></span>

						            </td>


						            <td ng-repeat="week in (model.Scorecard|transform:this).Weeks | filter:filters.byRange('ForWeek',date.startDate,date.endDate)" class="score" ng-class="{current:week.IsCurrentWeek}">
							            <input data-goal="{{measurable.Target}}"
							                   data-goal-dir="{{measurable.Direction}}"
							                   data-row="{{$parent.$index}}"
							                   data-col="{{$index}}"
							                   type="text"
							                   placeholder="N/A"
							                   ng-model-options="{debounce: 200}"
							                   ng-model="functions.lookupScore(week.ForWeekNumber,measurable.Id).Measured"
							                   class="grid rt {{functions.scorecardColor(functions.lookupScore(week.ForWeekNumber,measurable.Id))}}"
							                   data-scoreid="{{Id}}"
							                   data-measurable="{{measurable.Id}}"
							                   data-week="{{week.ForWeekNumber}}"
							                   ng-change="functions.sendUpdate(functions.lookupScore(week.ForWeekNumber,measurable.Id))"
							                   id="{{functions.scorecardId(functions.lookupScore(week.ForWeekNumber,measurable.Id),$parent.$index,$index)}}" />
						            </td>
					            </tr>
				            </tbody>
			            </table>
		            </div>
		            <table id="ScorecardTable_Over" class="scorecard-table hidden-xs hidden-sm">
			            <thead>
				            <tr>
					            @if (ViewBag.DisableName == null || ((bool)ViewBag.DisableName) == false)
					            {
						            <th>&nbsp;</th>
						            <th>&nbsp;</th>
					            }
					            <th>&nbsp;</th>
					            <th>&nbsp;</th>
					            <th>&nbsp;</th>
				            </tr>
				            <tr>
					            @if (ViewBag.DisableName == null || ((bool)ViewBag.DisableName) == false)
					            {
						            <th class="heading who alignRight">Accountable</th>
						            <th class="heading who alignLeft "><span class="newLine gray">/Admin</span></th>
					            }
					            <th class="heading measurable">Measurable</th>
					            <th class="heading target" colspan="2">Goal</th>
				            </tr>
			            </thead>
			            <tbody>
				            <tr ng-repeat="measurable in (model.Scorecard|transform:this).Measurables | orderBy: ['Ordering']">
					            @if (ViewBag.DisableName == null || ((bool)ViewBag.DisableName) == false)
					            {
						            <td class="who first1 alignRight">{{measurable.Owner.Name}}</td>
						            <td class="who first1 alignLeft"><span class="newLine gray">/{{measurable.Admin.Name}}</span></td>
					            }
					            <td class="measurable first1" title="{{measurable.Name}}">
						            <span class="inlineEdit"
						                  data-type="text"
						                  data-name="title"
						                  data-measurable="{{measurable.Id}}"
						                  data-pk="{{measurable.Id}}_{{meetingId}}"
						                  data-url="/L10/UpdateArchiveMeasurable">{{measurable.Name}}</span>
					            </td>
					            <td class="target direction" data-measurable="{{measurable.Id}}">
						            <span class="inlineEdit direction_{{measurable.Direction}}"
						                  data-type="select"
						                  data-name="direction"
						                  data-measurable="{{measurable.Id}}"
						                  data-pk="{{measurable.Id}}_{{meetingId}}"
						                  data-url="/L10/UpdateArchiveMeasurable"
						                  data-source="/Dropdown/Type/lessgreater"
						                  data-title="Select target direction"
						                  data-value="{{measurable.Direction}}"></span>
					            </td>
					            <td class="target value" data-measurable="{{measurable.Id}}">
						            <span class="inlineEdit modifiers {{measurable.Modifiers}}"
						                  data-type="number"
						                  data-name="target"
						                  data-measurable="{{measurable.Id}}"
						                  data-pk="{{measurable.Id}}_{{meetingId}}"
						                  data-url="/L10/UpdateArchiveMeasurable">{{(measurable.Target)*1}}</span>
						            <span class="inlineEdit1 gray modifiers-{{measurable.Modifiers}}" data-type="select" data-source="/Dropdown/Type/unitType" data-name="unitType" data-measurable="{{measurable.Id}}" data-pk="{{measurable.Id}}_{{meetingId}}" data-url="/L10/UpdateMeasurable"></span>

					            </td>
				            </tr>
			            </tbody>
		            </table>
	            </div>
				
				 <div class="gray" style="padding: 30px 15px;" ng-show="(model.Scorecard|transform:this).Measurables.length==0">
                    No measurables fit your search criteria.
                </div>
            </div>
        </div>
    </div>
</div>