@model RadialReview.Models.ViewModels.ManageViewModel
@using RadialReview.Models.ViewModels;

<table class="table">
    <tr>
        <th>Question</th>
        <th style="width:120px">Type</th>
        <th style="width: 50px">
            <button role="button" class="btn addButton" onclick='showModal("Add Question","/Question/Modal/0?organizationId=@(Model.Organization.Id)&origin=Organization&originId=@(Model.Organization.Id)","/Question/Edit/")'>+</button>
</th>
    </tr>
    @foreach (var question in Model.Organization.CustomQuestions.OrderByDescending(x => x.DateCreated))
    {
        <tr>
            <td>@question.Question</td>
            <td>@question.Category.Category</td>
            <td><button onclick='showModal("Add Question","/Question/Modal/@(question.Id)?organizationId=@(Model.Organization.Id)","/Question/Edit/")' class="btn btn-info">Edit</button></td>
        </tr>
    }
</table>