@model RadialReview.Models.ViewModels.ManageViewModel
@using RadialReview.Models.ViewModels;

<table class="table">
    <tr>
        <th>Question</th>
        <th style="width:120px">Type</th>
        <th style="width: 50px">
            <a href="#questionModal" role="button" class="btn addButton" data-toggle="modal">+</a>
        </th>
    </tr>
    @foreach (var question in Model.Organization.CustomQuestions.OrderByDescending(x => x.DateCreated))
    {
        <tr>
            <td>@question.Question</td>
            <td>@question.Category.Category</td>
            <td><a href="#" class="btn btn-info">Edit</a></td>
        </tr>
    }
</table>

@Html.Partial("Partial/_QuestionModal", new QuestionModalViewModel(Model.Organization, Model.Organization))