.material-button-plus {
  background-image: url("https://s3.amazonaws.com/Radial/icons/thinplus.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.material-button-rock {
  background-image: url("https://s3.amazonaws.com/Radial/icons/tinyrock.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.material-button-measurable {
  background-image: url("https://s3.amazonaws.com/Radial/icons/measurableTiny.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.material-button-issues {
  background-image: url("https://s3.amazonaws.com/Radial/icons/tinyissues.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px;
}
.material-button-search {
  background-image: url("https://s3.amazonaws.com/Radial/icons/tinysearch.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.material-button-upload {
  background-image: url("https://s3.amazonaws.com/Radial/icons/tinyupload.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.material-button-todos {
  background-image: url("https://s3.amazonaws.com/Radial/icons/tinycheck.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.material-button-users {
  background-image: url("https://s3.amazonaws.com/Radial/icons/tinyperson.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.material-button-usersAdd {
  background-image: url("https://s3.amazonaws.com/Radial/icons/tinyAddUser.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-position: 33% 50%;
}
.material-button-fade:after {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.material-button-fade:hover:before {
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  opacity: 0;
}
.material-button-fade:hover:after {
  opacity: 1;
  -moz-transform: scale(1) rotate(360deg);
  -ms-transform: scale(1) rotate(360deg);
  -o-transform: scale(1) rotate(360deg);
  -webkit-transform: scale(1) rotate(360deg);
  transform: scale(1) rotate(360deg);
}
