label {
  font-family: 'Roboto', sans-serif;
  padding-top: 11px;
}
.form-control.blend {
  max-width: 95%;
  max-width: calc(100% - 30px);
  border-radius: 0;
  box-shadow: none;
}
select.blend,
input.blend {
  width: 100%;
  border: none;
  cursor: pointer;
  /*border-bottom: 1px solid transparent;*/
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  background: none;
  height: 36px;
  padding-top: 12px;
  margin-bottom: 4px;
  padding-bottom: 7px;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  color: #3e3935;
  -moz-transition: all .08s ease;
  -o-transition: all .08s ease;
  -webkit-transition: all .08s ease;
  transition: all .08s ease;
}
select.blend:not(:disabled):focus,
input.blend:not(:disabled):focus {
  outline: none;
}
select.blend:disabled,
input.blend:disabled {
  cursor: default;
  background-color: inherit;
}
select.blend::-webkit-input-placeholder,
input.blend::-webkit-input-placeholder {
  color: #cac8c8;
}
select.blend:-moz-placeholder,
input.blend:-moz-placeholder {
  color: #cac8c8;
}
select.blend::-moz-placeholder,
input.blend::-moz-placeholder {
  color: #cac8c8;
}
select.blend:-ms-input-placeholder,
input.blend:-ms-input-placeholder {
  color: #cac8c8;
}
input.blend {
  padding-left: 4px;
}
input.blend:not(:disabled):focus {
  border-bottom: 2px solid #ef7622;
}
textarea.blend {
  padding-left: 4px;
}
textarea.blend:not(:disabled):focus {
  border: 1px solid #ef7622;
}
select.blend {
  padding-left: 0px;
}
select.blend:not(:disabled):focus {
  border-bottom: 1px solid #ef7622;
}
input.blend[type='file'] {
  /*opacity: .5;
    display: inline-block;
    width: 100%;
    padding: 120px 0 0 0;
    height: 100px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 20px;
    background-size: 150px 100px;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 0;*/
  /*clip: rect(0 265px 22px 155px);
    clip: rect(0, 265px, 22px, 125px);*/
}
* > input[type='file'].blend,
x:-webkit-any-link {
  outline: none;
  cursor: pointer;
  position: absolute;
  clip: rect(0px 320px 42px 89px);
  /* z-index: 2; */
  /* opacity: 0; */
  max-width: 320px;
  left: -90px;
}
input[type=checkbox].blend {
  -webkit-appearance: none;
  /* Hides the default checkbox style */
  height: 47px;
  width: 47px;
  /*height: 18px;
    width: 18px;*/
  cursor: pointer;
  position: relative;
  padding: 0px;
  border: none;
  background-color: transparent;
  border-radius: 36px;
  margin-top: -3px;
  margin-bottom: -10px;
  margin-left: -10px;
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}
input[type=checkbox].blend,
input[type=checkbox].blend:before,
input[type=checkbox].blend:after {
  -webkit-transition: transform 0s, background-color 0.2s, border-color 0.4s;
  -moz-transition: transform 0s, background-color 0.2s, border-color 0.4s;
  -o-transition: transform 0s, background-color 0.2s, border-color 0.4s;
  transition: transform 0s, background-color 0.2s, border-color 0.4s;
}
input[type=checkbox].blend:before {
  content: "";
  height: 18px;
  width: 18px;
  border: 2px solid rgba(62, 57, 53, 0.4);
  background-color: white;
  position: absolute;
  margin-left: 14px;
  margin-top: 14px;
  -moz-transform: scale(1.666);
  -ms-transform: scale(1.666);
  -o-transform: scale(1.666);
  -webkit-transform: scale(1.666);
  transform: scale(1.666);
}
input[type=checkbox].blend:hover:before {
  border: 2px solid rgba(62, 57, 53, 0.6);
}
input[type=checkbox].blend:not(:active):checked {
  -moz-animation: flash .5s ease;
  -o-animation: flash .5s ease;
  -webkit-animation: flash .5s ease;
  animation: flash .5s ease;
}
input[type=checkbox].blend:not(:active):not(:checked) {
  -moz-animation: flash-black 0.5s ease;
  -o-animation: flash-black 0.5s ease;
  -webkit-animation: flash-black 0.5s ease;
  animation: flash-black 0.5s ease;
}
input[type=checkbox].blend:active,
input[type=checkbox].blend:focus {
  border: none;
  -moz-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -o-transform: scale(1) !important;
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
  -moz-transition: transform 0.4s, background-color 0.2s, border-color 0.4s;
  -o-transition: transform 0.4s, background-color 0.2s, border-color 0.4s;
  -webkit-transition: transform 0.4s, background-color 0.2s, border-color 0.4s;
  transition: transform 0.4s, background-color 0.2s, border-color 0.4s;
}
input[type=checkbox].blend:active:after,
input[type=checkbox].blend:focus:after,
input[type=checkbox].blend:active:before,
input[type=checkbox].blend:focus:before {
  -moz-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -o-transform: scale(1) !important;
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
  -moz-transition: transform 0.3s, background-color 0.2s, border-color 0.4s;
  -o-transition: transform 0.3s, background-color 0.2s, border-color 0.4s;
  -webkit-transition: transform 0.3s, background-color 0.2s, border-color 0.4s;
  transition: transform 0.3s, background-color 0.2s, border-color 0.4s;
}
input[type=checkbox].blend:checked:before {
  border: 0px;
  background-color: #ef7622;
}
input[type=checkbox].blend:checked:after {
  content: "✔";
  margin: 13px 17px;
  position: absolute;
  font-weight: bold;
  color: white;
  -moz-transform: scale(1.666);
  -ms-transform: scale(1.666);
  -o-transform: scale(1.666);
  -webkit-transform: scale(1.666);
  transform: scale(1.666);
}
@-webkit-keyframes flash {
  0% {
    background-color: rgba(239, 118, 34, 0);
  }
  50% {
    background-color: rgba(239, 118, 34, 0.6);
  }
  100% {
    background-color: rgba(239, 118, 34, 0.002);
  }
}
@-moz-keyframes flash {
  0% {
    background-color: rgba(239, 118, 34, 0);
  }
  50% {
    background-color: rgba(239, 118, 34, 0.6);
  }
  100% {
    background-color: rgba(239, 118, 34, 0.002);
  }
}
@-ms-keyframes flash {
  0% {
    background-color: rgba(239, 118, 34, 0);
  }
  50% {
    background-color: rgba(239, 118, 34, 0.6);
  }
  100% {
    background-color: rgba(239, 118, 34, 0.002);
  }
}
@-o-keyframes flash {
  0% {
    background-color: rgba(239, 118, 34, 0);
  }
  50% {
    background-color: rgba(239, 118, 34, 0.6);
  }
  100% {
    background-color: rgba(239, 118, 34, 0.002);
  }
}
@keyframes flash {
  0% {
    background-color: rgba(239, 118, 34, 0);
  }
  50% {
    background-color: rgba(239, 118, 34, 0.6);
  }
  100% {
    background-color: rgba(239, 118, 34, 0.002);
  }
}
@-webkit-keyframes flash-black {
  0% {
    background-color: rgba(62, 57, 53, 0);
  }
  50% {
    background-color: rgba(62, 57, 53, 0.3);
  }
  100% {
    background-color: rgba(62, 57, 53, 0.002);
  }
}
@-moz-keyframes flash-black {
  0% {
    background-color: rgba(62, 57, 53, 0);
  }
  50% {
    background-color: rgba(62, 57, 53, 0.3);
  }
  100% {
    background-color: rgba(62, 57, 53, 0.002);
  }
}
@-ms-keyframes flash-black {
  0% {
    background-color: rgba(62, 57, 53, 0);
  }
  50% {
    background-color: rgba(62, 57, 53, 0.3);
  }
  100% {
    background-color: rgba(62, 57, 53, 0.002);
  }
}
@-o-keyframes flash-black {
  0% {
    background-color: rgba(62, 57, 53, 0);
  }
  50% {
    background-color: rgba(62, 57, 53, 0.3);
  }
  100% {
    background-color: rgba(62, 57, 53, 0.002);
  }
}
@keyframes flash-black {
  0% {
    background-color: rgba(62, 57, 53, 0);
  }
  50% {
    background-color: rgba(62, 57, 53, 0.3);
  }
  100% {
    background-color: rgba(62, 57, 53, 0.002);
  }
}
