@model RadialReview.Models.UserOrganizationModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="review">
    <div class="row">
        <div class="col-sm-6">
            @Html.Partial("_User", Model)
        </div>
        <div class="col-sm-6">

        </div>
    </div>
</div>