@model RadialReview.Exceptions.MeetingExceptions.MeetingException
		   
<div class="centered error" style="width:400px;">
	<div class="component">
		<div class="title">An error occurred:</div>
		<div>
			@Model.Message
		</div>
		<a href="#">Force the meeting to conclude</a>

	</div>
</div>
