@model RadialReview.Models.L10.VM.L10MeetingVM

@{
	var heading = ViewBag.Heading;
	var subheading = ViewBag.Subheading;
	string pageUrl = null;
	if (ViewBag.Url != null) {
		pageUrl = ""+ (ViewBag.Url);
	}
	var guid = Guid.NewGuid().ToString();
	ViewBag.Title = heading;
	Layout = "~/Views/L10/BasePage.cshtml";
}

<div class="externalPage meeting-page">
	<div class="row">
		<div class="col-md-12">
			<hgroup class="page-header">
				<div class="pull-right">
					@Html.Partial("partial/ButtonBar", Model)
				</div>
				<h2 class="l10-page-title">@(heading)</h2>
			</hgroup>
			<div class="centered" style="width:100%;">
				<div class="component">
					@if (pageUrl != null) {
						<div class="externalpage-box">
							<iframe style="width: 100%;height: 100%; border: 1px solid #CCCCCC;" src="@(pageUrl)"></iframe>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>

