@model RadialReview.Models.L10.VM.L10MeetingVM

<div class="headlines meeting-page">
	<div class="row">
		<div class="col-md-12">
			<hgroup class="page-header">
				<div class="pull-right">
					@Html.Partial("partial/ButtonBar", Model)
				</div>
				@*<h2>Employee/Customer Headlines <small></small></h2>*@
				<h2>&nbsp;</h2>
			</hgroup>
			@*<div style="height:60px;"></div>*@
			<div class="centered" style="width:65%; max-width: 600px;margin-top:-22px;">
				<div class="component" style="padding: 20px 70px 30px 70px">
					<h2>Employee/Customer Headlines:</h2>
					<h4>Share all news about the people in your business. Good news is good. Add bad news to the Issues List.</h4>

					@*<textarea class="rt" id="segue"></textarea>*@
				</div>
			</div>
		</div>
	</div>
</div>