@model RadialReview.Models.L10.VM.L10MeetingVM

<div class="headlines meeting-page">
    <div class="row">
        <div class="col-md-12">
            <hgroup class="page-header">
                <div class="pull-right">
                    @Html.Partial("partial/ButtonBar", Model)
                </div>
                @*<h2>Employee/Customer Headlines <small></small></h2>*@
                <h2>&nbsp;</h2>
            </hgroup>
            @*<div style="height:60px;"></div>*@
            <div class="centered" style="width:90%;;margin-top:-22px;">
                <div class="component">
                    <div style="padding: 20px 70px 20px 70px">
                        <h2>People Headlines</h2>
                        <h4>@(new MvcHtmlString(ViewBag.CEH_Subheading))</h4>
                    </div>

                    @*<textarea class="rt" id="segue"></textarea>*@
                    @*</div>
                        </div>


                        <div class="centered" style="width:92%; margin-top:22px;height: 430px">
                            <div class="component" style="padding: 0px">*@
                    @if (Model.Recurrence.ShowHeadlinesBox) {
                        <div class="headlines-notes">
                            <iframe style="width: 100%;height: 100%; border: 1px solid #CCCCCC;width:calc(100% - 2px);" src="https://notes.traction.tools/p/@(Model.HeadlinesId)?showControls=true&showChat=false&showLineNumbers=false&useMonospaceFont=false&userName=@(HttpContext.Current.Server.UrlEncode(Html.UserOrganization().GetName()))"></iframe>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


