@model RadialReview.Models.L10.VM.L10MeetingVM
@{
	ViewBag.Title = "IDS";
	Layout = "~/Views/L10/BasePage.cshtml";
}


<div class="component">
	<h2>IDS:</h2>
	<h4>Identify. Discuss. Solve.</h4>
		
	<table style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">
		@foreach (var i in Model.Issues){
			<tr>
				<td>@i.Message</td>
				<td>@i.Description</td>
				<td>@(i.CloseTime==null?"Incomplete":"Complete")</td>
			</tr>
		}
	</table>

</div>
