@model object

<div class="rocks meeting-page">
	<div class="row">
		<div class="col-md-12">
			<hgroup class="page-header">
				<div class="pull-right">
					@Html.Partial("partial/ButtonBar", Model)
				</div>
				<h2>@Html.Organization().Settings.RockName Review <small></small></h2>
			</hgroup>
			<div class="rocks-container">
				
			</div>
		</div>
	</div>
</div>
<script>
	@*var recurrenceId = @Model.Recurrence.Id;
	var meetingId = @Model.Meeting.Id;*@
</script>
<script src="~/Scripts/components/rockstate.js"></script>