@model RadialReview.Models.L10.VM.L10MeetingVM
@{
	Layout = "~/Views/L10/BasePage.cshtml";
}


@*<div class="centered" style="width:65%;max-width:550px;">
	<div class="component" style="padding: 20px 70px 30px 70px">
		
		
		
	</div>
</div>*@

<div class="segue meeting-page">
	<div class="row">
		<div class="col-md-12">
			<hgroup class="page-header">
				<div class="pull-right">
					@Html.Partial("partial/ButtonBar", Model)
				</div>
				<h2>&nbsp;</h2>
			</hgroup>
			<div class="centered" style="width:65%; max-width: 600px;margin-top:-22px;">
				<div class="component" style="padding: 20px 70px 30px 70px">
					<h2>Segue:</h2>
					<h4>@(new MvcHtmlString(ViewBag.Segue_Subheading))</h4>
				</div>
			</div>
		</div>
	</div>
</div>