@model RadialReview.Models.L10.VM.L10MeetingVM
@{
	Layout = "~/Views/L10/BasePage.cshtml";
}


<div class="centered" style="width:65%;">
	<div class="component">
		<h2>Segue:</h2>
		<h4>Share any good news you might have.</h4>
		
		@*<textarea class="rt" id="segue"></textarea>*@
	</div>
</div>
