@model RadialReview.Models.L10.VM.L10MeetingVM

<div class="component">
	<h2>Segue!</h2>
	<textarea class="rt" id="segue"></textarea>
</div>


<script>

@if (Model.MeetingStart!=null){
	@:var startTime = new Date(@(Model.MeetingStart.Value.ToJavascriptMilliseconds()));
}
</script>