@model List<Tuple<long,DateTime, RadialReview.Models.Askables.RockModel>>
@{
	ViewBag.Title = "Audit - Rocks";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rock @*(@Model.FirstOrDefault().NotNull(x => x.Value.Id))*@</h2>

<div id="model-container"></div>

@using (Html.BeginScripts()) {
	<script>

		var data = @Html.ArrayToString(Model);

		DataTable({
			container: "#model-container",
			data: data,
			cellId:function(cell){
				debugger;
				return cell.Item1;
			},
			cells: [
				{ name: "REV_DATE", contents: function (r) { return dateFormatter(parseJsonDate(r.Item2,true)); } },
				{ name: "REVID", contents: function (r) { return r.Item1; } },
				{ name: "Rock", contents: function (r) { return r.Item3.Rock; }, classes: "fullWidth" },
				{ name: "CompanyRock", contents: function (r) { return r.Item3.CompanyRock; } },
				{ name: "DueDate", contents: function (r) { return r.Item3.DueDate; } },
				{ name: "Completion", contents: function (r) { return r.Item3.Completion; } },
				{ name: "OwnerId", contents: function (r) { return r.Item3.ForUserId; } },
				{ name: "Archived", contents: function (r) { return r.Item3.Archived; } },
				{ name: "DeleteTime", contents: function (r) { return r.Item3.DeleteTime; } }
			]
		});

	</script>
}