
.table-io {
	border-collapse: collapse;
	padding: 0px;
	margin-bottom: 2px;
	margin-left: auto;
	margin-right: auto;
}

.table-io td, .table-io	th {
	padding: 0px;
}
 
	.table-io .cell {
	}

	.table-io .fill {
		display: block;
		margin-left:auto;
		margin-right: auto;
	}

	.table-io.companyValues .fill {
		width: 40px;
		height: 40px;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		border-radius: 20px;
		margin-top: 1px;
	}

	
	.table-io.companyValues .fill.companyValues-score {
		padding-top: 10px;
		color: white;
		margin-right: 2px;
	}



	.table-io.companyValues .fill:after {
		position: relative;
		padding-top:11px;
		color: #FFFFFF;
		width: 100%;
		height: 100%;
		display: block;
		font-weight: bold;
	}
	
	.table-io.companyValues .fill.hasReason {
		/*border: 4px dotted rgba(0, 0, 0, 0.17) !important;*/
	}
	.table-io.companyValues .fill.hasReason.score {
		/*border: 2px dotted rgba(0,0,0, 0.17) !important;*/
	}
	
		.table-io.companyValues .fill.hasReason:after {
			/*padding-top:7px;*/
		}
		.table-io.companyValues .fill.score.hasReason:after {
			/*margin-top: -2px;*/
		}

	.table-io.companyValues .fill:not(.hasReason):not(.score):not(.Indeterminate):after {
		background-color: rgba(51, 51, 51, 0.2);
		border-radius: 20px;
	}
	.table-io.companyValues .fill:not(.hasReason):after {
		color: rgba(255, 255, 255, 0.35);
	}

	.table-io.companyValues tbody tr:last-child > * {
		padding-top:10px;
		font-weight: bold;
	}

	.table-io.companyValues .fill.score {
		height: 18px;
		width: 40px;
		border-radius: 0;
		border-left: 1px solid white;
	}
		.table-io.companyValues .fill.score:after {
			padding-top: 0px;
		}
	/*
	.table-io.companyValues .fill.hasReason:after {
		color: #FFFFFF;
		text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.55);
	}*/
		
	.table-io.companyValues .fill.hasReason:before {
		content: "";
		font-size: 16px;
		position: relative;
		color: rgba(232, 232, 232, 0.56);
		width: 100%;
		display: inline-block;
		height: 0px;float: left;
		text-align: right;
		padding-right: 0px;
		margin-top: -4px;
	}

	.table-io.companyValues .fill.Indeterminate {background-color: transparent;}
	.table-io.companyValues .fill.Positive {background-color: #449D44;}
	.table-io.companyValues .fill.Neutral {background-color: #EC971F;}
	.table-io.companyValues .fill.Negative {background-color: #D9534F;}
	
	.table-io.companyValues .fill.Indeterminate:after {content: "n/a";color: #d9d9d9;}
	.table-io.companyValues .fill:not(.companyValues-score).Positive:after {content: "+";}
	.table-io.companyValues .fill:not(.companyValues-score).Neutral:after {content: "+/-";}
	.table-io.companyValues .fill:not(.companyValues-score).Negative:after {content: "-";}

	
	.table-io .fill.True {background-color: #449D44;}
	.table-io .fill.False {background-color: #D9534F;}
			  
	.table-io.rocks .fill.True:after {content: "YES";}
	.table-io.rocks .fill.False:after {content: "NO";}
	

	.gwc .header1 {
		border-left: 1px solid gray;
	}

	.table-io.gwc th{
		width: 80px;
		text-align: center;
		vertical-align: bottom;
	}

	.table-io tr td:first-child {
		text-align: right;
		width: 200px;
		padding-right: 6px;
	}

	.table-io td.fixedWidth {
		width: 200px;
	}

	
	.table-io.gwc td {
		height: 80px;
		position: relative;
	}

	.table-io.gwc .fill {
		height: 80px;
		text-align: center;
		padding-top: 30px;
		font-weight: bold;
		color: white;
		font-size: 16px;
	}

	.table-io.gwc .perc {
		position: absolute;
		bottom: 16px;
		left: 0px;
		right: 0px;
		text-align: center;
		font-size: 10px;
		color: #E8E8E8;
	}


	.table-io.rocks .fill {
		height: 40px;
		text-align: center;
		padding-top: 10px;
		font-weight: bold;
		color: white;
		font-size: 16px;
	}


	
.evaluation-heading {
	-webkit-transform-origin: 0% 100%;
	-webkit-transform: rotate(-90deg);
	margin-left: 2px;
	margin-top: -20px;
	color: #AAAAAA;
}

.subsection {
	/*border: 1px solid #e5e5e5;*/
	border-left: 17px solid #DDDDDD;
	margin-bottom: 30px;
	padding: 6px 0px;
}
.subsection-values .evaluation-heading  {
	color: #597622;
}
.subsection-roles .evaluation-heading {
	color: #226666;
}
.subsection-rocks .evaluation-heading {
	color: #AA3939;
}
.subsection-values {
	border-left-color: #D4EE9F;
}
.subsection-roles {
	border-left-color: #a3d5d5;
}
.subsection-rocks {
	border-left-color: #FFAAAA;
}